[2020-06-11 13:54] vikas-harness opened #353 "Support for handle multi line comments"
I am trying to use do a POC to process below yaml and print thhe comments. Code below.

[code]

[code]

The problem is that multi line comments value is coming out incorrect when I execute the code.
Below is the output.

[code]
Is there any way we handle multi line comment ?

[2020-06-11 14:24] amihaiemil commented on #353
@vikas-harness As far as I udnerstand, this is your YAML:

[code]
And you are printing:

[code]
What is the comment you expect to be printed, and what is the actual comment that you get?

[2020-06-11 14:30] vikas-harness commented on #353
thnx @amihaiemil for the reply.  The correct yaml is

[code]

And I was expecting that project.value("owners").comment().value() will print

[code]

But the output I got it

[code]

[2020-06-11 14:41] amihaiemil commented on #353
@vikas-harness You're right, this seems to be an interesting bug. I'll try to fix it as soon as possible...

[2020-06-11 14:42] vikas-harness commented on #353
thnx @amihaiemil.

[2020-06-12 08:32] amihaiemil commented on #349
@rultor release, tag is `5.0.0`

[2020-06-12 08:34] rultor commented on #349
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22335-643147766)

[2020-06-12 08:35] rultor commented on #349
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22335-643147766) (spent 2min)

[code]

[2020-06-12 08:42] amihaiemil commented on #349
@rultor release it, tag is `5.0.0`

[2020-06-12 08:42] rultor commented on #349
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22335-643152089)

[2020-06-12 08:44] rultor commented on #349
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22335-643152089) (spent 2min)

[code]

[2020-06-12 08:46] amihaiemil commented on #349
@rultor release, tag is `5.0.0`

[2020-06-12 08:47] rultor commented on #349
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22335-643154031)

[2020-06-12 08:54] rultor commented on #349
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22335-643154031) (took me 7min)

[2020-06-12 08:54] amihaiemil commented on #349
@portlek @g4s8 Version 5.0.0 with your stuff has just been released!

[2020-06-12 08:54] #349 closed

[2020-06-12 08:56] amihaiemil opened #354 "Release 5.0.1"
It will contain some bug fixes:

#353

[2020-06-12 13:06] amihaiemil opened #356 "Release 5.0.3"
Changelog:

#325 - fixed bug regarding mappings within a sequence, which start right at the dash line (``-``). Before, the following YAML was not being read correctly:

[code]

[2020-06-12 13:11] amihaiemil commented on #354
@rultor release it, tag is `5.0.1`

[2020-06-12 13:12] rultor commented on #354
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22342-643262819)

[2020-06-12 13:16] rultor commented on #354
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22342-643262819) (took me 4min)

[2020-06-12 13:16] #354 closed

[2020-06-12 13:17] amihaiemil commented on #353
@vikas-harness The fix for this has just been released with version ``5.0.1``. Thank you!

[2020-06-12 13:17] #353 closed

[2020-06-12 13:20] vikas-harness commented on #353
Thnx a lot @amihaiemil for the quick fix.

[2020-06-13 21:03] stovocor opened #357 "ReadYamlMapping does not handle keys with quotes correctly"
My application uses eo-yaml for reading and writing YAML files. When upgrading from 4.3.0 to 4.3.1, my tests fail because the written file can not be parsed correctly.

The issue is a key containing a hyphen, like
[code]

Starting with eo-yaml 4.3.1, this is written as

[code]

After parsing the file again, `ReadYamlMapping` returns `null` when calling `yamlMapping.string("output-directory")`. Thi

[2020-06-13 21:09] amihaiemil commented on #357
@stovocor Well, RtYamlMapping is used for building a YamlMapping, whereas ReadYamlMapping is the one used for reading one -- it's different logic inside them.

Have you tried the latest version, ``5.0.1``?
I remember I made a release at some point, solving a lot of issues regarding escaping/unescaping (but I can't remember which version was that).

[2020-06-13 21:14] stovocor commented on #357
Yes, the issue is still present with 5.0.1.

I created a small test case for the class. I could also add one for actually writing and reading a file.

[2020-06-13 21:16] amihaiemil commented on #357
@stovocor thanks. This test should be enough. I'll have a look and try to fix it asap.

[2020-06-13 21:17] stovocor commented on #357
Thank you very much for the quick response!

[2020-06-13 21:24] amihaiemil commented on #357
@stovocor I'm curious whether keys between quotes is correct in YAML or not?

Your tests started failing because since ``4.3.1`` eo-yaml also escaped the keys. Are escaped keys correct in YAML or not?

[2020-06-13 21:29] stovocor commented on #357
At least they are [uncommon](https://yaml.org/spec/1.2/spec.html#id2761803). I would prefer for eo-yaml to write them without quotes. In that case my test is no longer valid.

[2020-06-13 21:32] amihaiemil commented on #357
@stovocor I also see they are used sometimes: https://stackoverflow.com/questions/14873227/escaping-colons-in-yaml/56718286

I think escaping should happen if the key contains special chars like ``-`` or ``:``.
I'm working on the reading issue now.

[2020-06-13 21:40] amihaiemil commented on #357
@rultor release it please, tag is `5.0.3`

[2020-06-13 21:42] rultor commented on #357
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22354-643681914)

[2020-06-13 21:47] rultor commented on #357
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22354-643681914) (took me 4min)

[2020-06-13 21:48] amihaiemil commented on #357
@stovocor 5.0.2 has just been released, it's already on Maven Central.
I'm closing this. Please feel free to open other Issues if you still have problems or find something else :)

[2020-06-13 21:48] #357 closed

[2020-06-13 21:59] stovocor commented on #357
All my tests pass again with 5.0.2. Thanks again!

[2020-06-15 13:01] portlek commented on #340
a little note, its called `MapList`. in json the it looks like that;
[code]

[2020-06-15 16:25] g4s8 commented on #341
@amihaiemil thanks

[2020-06-15 16:25] #341 closed

[2020-06-16 07:36] amihaiemil opened #360 "Use More RegEx"
For instance, when comparing the keys in a ReadYamlMapping or when trying to figure out what node it is inside ``AllYamlLines``.

Right now we use mostly ``String.startsWith/endsWith`` which does the job pretty well but there are still cases it might miss.

[2020-06-16 08:08] Sammers21 commented on #340
@amihaiemil, why this issue is open again?

[2020-06-16 08:24] amihaiemil commented on #340
@Sammers21 Because I'm working on it. First step is to fix the problem with mappings within a sequence, that start at the same line with the dash (``-``). This is almost done.

Then, I'll have a look and see if I can do something about the indentation issues... maybe I can add some formatting rules.

[2020-06-16 14:41] amihaiemil opened #361 "Make Validation of Indentation Optional"
When disabling validation, eo-yaml should try to guess the correct indentation of misplaced lines.

[2020-06-17 05:14] Sammers21 commented on #340
@amihaiemil, what about wrapping snake-yaml, while keeping the design without any changes?

[2020-06-17 07:32] amihaiemil commented on #340
@Sammers21 That's not an option, sorry. A library should fix its own problems and requirements, not wrap another library in yet another set of abstractions.

[2020-06-17 07:36] amihaiemil commented on #340
@Sammers21 but if you like eo-yaml's interfaces, you can implement them yourself, based on snake-yaml. It shouldn't be hard :)

[2020-06-17 16:48] amihaiemil commented on #356
@rultor release it, tag is `5.0.3`

[2020-06-17 16:48] #325 closed

[2020-06-17 16:50] rultor commented on #356
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22387-645490557)

[2020-06-17 16:59] rultor commented on #356
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22387-645490557) (took me 8min)

[2020-06-17 17:00] #356 closed

[2020-06-17 17:01] amihaiemil commented on #325
@olenagerasimova @chriamue The bug about reading mappings within sequences, which start at the dash line has been fixed and released with version ``5.0.3``. See [here](https://github.com/decorators-squad/eo-yaml/issues/356).

[2020-06-17 17:02] amihaiemil commented on #340
@Sammers21 The bug about reading mappings within sequences, which start at the dash line, has just been fixed and released with version ``5.0.3``. See [here](https://github.com/decorators-squad/eo-yaml/issues/356).

I'll continue with #361 and see if I can implement some default formatting rules.

[2020-06-17 19:22] amihaiemil opened #363 "Release 5.1.0"
This will be a bigger release containing mainly the option of disabling the validation of indentation and letting the library guess the correct indentation. More [here](https://github.com/decorators-squad/eo-yaml/wiki/Validation-of-Indentation).

Changelog:

* #361

[2020-06-18 11:15] amihaiemil opened #364 "Printing With Indented Comments"
There is a printing issue for YAMLs which have indented comments. The following YAML:

[code]

Gets printed as:

[code]
Assertions made on the format of the read YAML are all green, so it seems to be only a problem in printing.

[2020-06-18 11:39] amihaiemil commented on #363
@rultor release it please, tag is `5.1.0`

[2020-06-18 11:40] rultor commented on #363
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22391-645961441)

[2020-06-18 11:50] rultor commented on #363
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22391-645961441) (took me 9min)

[2020-06-18 11:53] #363 closed

[2020-06-18 11:53] amihaiemil commented on #340
@Sammers21 @g4s8 I just released version ``5.1.0`` which allows you to bypass the validation of indentation.

However, this might result in a different YAML than you expect, so I only recommend you do it if you have proper tests for your code. More details [here](https://github.com/decorators-squad/eo-yaml/wiki/Validation-of-Indentation).

I'm closing this Issue now as I think all the related bugs

[2020-06-18 11:53] #340 closed

[2020-06-18 11:53] #361 closed

[2020-06-19 17:10] amihaiemil opened #365 "OpenJDK Quality Outreach"
The project has been registered here: https://wiki.openjdk.java.net/display/quality/Quality+Outreach

This Issue is ongoing and will remain open for periodically building the project with Early Access versions of the JDK.

[2020-06-19 23:09] amihaiemil commented on #365
Made a badge: [![OpenJDK Quality Outreach](https://amihaiemil.com/images/openjdk_quality_outreach.svg)](https://wiki.openjdk.java.net/display/quality/Quality+Outreach)

[2020-06-22 18:52] portlek opened #367 "Can we use empty values instead of null?"
is it possible to make nulls to empty values for each cases. for example, i may want to write a string which's null word;
[code]
like that, or i may want to write a section which's empty;
[code]
like that, or for maybe a empty list;
[code]
i think this makes sense more than the writing null keyword. what you think about that?
also i think files shouldn't have the null values which are absolutely b

[2020-06-22 19:49] amihaiemil commented on #367
@portlek null is a key-word in YAML, so it's treated especially. I'm not sure I understand your question about the quoted null (``'null'`` and ``"null"``)?

[2020-06-22 19:50] portlek commented on #367
i meani what if i want to set a string as null? not like in java, like "null"

[2020-06-22 20:08] amihaiemil commented on #367
@portlek I don't think it's possible at the moment. I think if you specify

[code]

it will be treated as an escaped ``null`` and treated as ``null``...
Can you maybe write a unit test with the exact scenario you have in mind?

[2020-06-23 08:09] portlek commented on #367
actually there is not any wrong case in the library, i just want to know can we replace these with more understandable way that's snakeyaml used before.(empty values, not null)

for example I'm making a mods for a game and it's using that yaml library to storage settings and other stuffs. and in this situation, user of the mods can change the yaml files, and if they want to make a path as null wit

[2020-06-23 08:27] amihaiemil commented on #367
@portlek At the moment all empty values are represented as null. ``[]`` and ``{}`` are actually empty *flow* sequences and mappings respectively, which are not yet implemented in the library.

So ``[]`` and ``{}`` will be valid representations but flow representation is not yet implemented at all :D

[2020-06-23 08:28] amihaiemil opened #368 "Implement flow sequences and mappings"
These are sequences between square brackets (``[]``) and mappings between curly braces (``{}``). The brackets/braces are delimiters for the elements which are separated by a comma.

In this representation style, indentation is not relevant.

[2020-06-23 08:29] amihaiemil commented on #367
@portlek I opened #368 for implementing flow representation.

[2020-06-23 08:30] amihaiemil commented on #365
We should also set up a build with latest OpenJDK 16 EA release.

[2020-06-23 09:42] portlek commented on #367
Thanks a lot, it good to see this feature in the library.

[2020-06-23 09:42] #367 closed

[2020-06-25 08:07] amihaiemil commented on #364
@Articdive You can have a look, yes. It's probably something in [RtYamlPrinter](https://github.com/decorators-squad/eo-yaml/blob/master/src/main/java/com/amihaiemil/eoyaml/RtYamlPrinter.java).

From the tests that I made, this seems to be only a bug in printing -- the structure of the YamlMapping seems to be ok, all the keys and values are there.

[2020-06-25 08:09] amihaiemil commented on #364
@Articdive I'll also try to fix it in the following few days, if you dont find anything. I'm just a bit busy at the moment.

[2020-06-26 14:34] amihaiemil opened #370 "Release 5.1.1"
Hotfix with #364.

[2020-06-26 14:34] amihaiemil commented on #370
@rultor release it, tag is 5.1.1

[2020-06-26 14:36] rultor commented on #370
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22437-650211985)

[2020-06-26 14:40] rultor commented on #370
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22437-650211985) (took me 4min)

[2020-06-26 14:41] #370 closed

[2020-06-26 14:42] amihaiemil commented on #364
@Articdive I think I fixed it. I just released version `5.1.1` with the fix.
Please have a look and if you still have problems, open another Issue with the concrete case. :)

[2020-06-26 14:42] #364 closed

[2020-06-28 15:02] amihaiemil opened #371 "YamlIndentationException: display the lines' contents too"
It would be better if the exception displayed the exact problematic lines, instead of just their numbers.

[2020-06-28 15:17] amihaiemil opened #373 "Release 5.1.2"
Improvement of ``YamlIndentationException``: it will print the problematic lines' contents as well. (#371)

[2020-06-28 15:18] #371 closed

[2020-06-28 15:19] amihaiemil commented on #373
@rultor release it, tag is `5.1.2`

[2020-06-28 15:21] rultor commented on #373
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22448-650778878)

[2020-06-28 15:25] rultor commented on #373
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22448-650778878) (took me 4min)

[2020-06-28 15:29] #373 closed

[2020-06-30 12:09] portlek opened #374 "& char cannot read in folded scalar contents."
Reading a yml file that contains folded scalar throws `java.lang.StringIndexOutOfBoundsException: String index out of range: -1`
the file;
[code]
the method that I use:
`Yaml.createYamlInput(contents).readYamlMapping()`
and full error message
[code]

[2020-06-30 12:11] portlek commented on #374
If I make the file like that:
[code]
there is no problem btw.

[2020-06-30 12:26] portlek commented on #374
the error about `&` this char. I removed the char and the error gone. but I need `&` char its really important for me.

[2020-06-30 12:27] amihaiemil commented on #374
@portlek thanks, it seems to be a bug indeed. I'll have a look. I remember there is some place where eo-yaml ignored lines starting with ``&``.

[2020-06-30 12:32] amihaiemil commented on #374
@portlek From your stacktrace, I think the error appears when you call ``toString()`` -- did you try to check if otherwise the structure of the YAML is correct?

[2020-06-30 12:35] portlek commented on #374
Yea i did;
[code]
this is working but this is not;
[code]

[2020-06-30 12:42] portlek commented on #374
Also another stupid thing is that;
[code]
Im writing that and its converting into;
[code]

[2020-06-30 12:51] amihaiemil commented on #374
@portlek it's funny. eo-yaml does ignore lines beginning with some special characters that are not yet supported (see [here](https://github.com/decorators-squad/eo-yaml/blob/master/src/main/java/com/amihaiemil/eoyaml/ReadFoldedBlockScalar.java#L89) for the case of read folded scalars). But I don't see it ignoring anything about ``&``.

I'll dig deeper :D

[2020-06-30 12:52] portlek commented on #374
[code]
this is working.
But when I run that;
[code]
the result is ;
[code]
`private final String RESERVED = "#:->|$%&";` in RtYamlPrinter.java

[2020-06-30 12:57] amihaiemil commented on #374
@portlek I'm pretty sure the problem is [here](https://github.com/decorators-squad/eo-yaml/blob/master/src/main/java/com/amihaiemil/eoyaml/RtYamlLine.java#L66). Everything after ``&`` gets cut off -- the intent was to eliminate aliases and achors (which are not yet supported).

I'll fix it asap.

[2020-06-30 13:00] portlek commented on #374
I think the actual problem is this
[code]
When I write a char that need escaping, it should put escapes. And It will fix everything I guess.

[2020-06-30 13:28] amihaiemil commented on #374
@portlek yes, escaping of block scalars is actually the answer, but that's not yet implemented, I think. And it's a bit more work. At the moment, I'll go with the workaround.

[2020-06-30 13:32] amihaiemil commented on #374
@rultor release it, tag is `5.1.3`

[2020-06-30 13:35] rultor commented on #374
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22462-651793166)

[2020-06-30 13:36] portlek commented on #374
Yes, It's working well ^^

[2020-06-30 13:41] rultor commented on #374
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22462-651793166) (took me 5min)

[2020-06-30 13:42] amihaiemil commented on #374
@portlek 5.1.3 is out, with the workaround. I will fix this Issue, probably in the weekend, with the correct, escaping solution.

[2020-06-30 14:18] portlek opened #376 "Empty lines of list are converting into null"
[code]
It's converting into;
[code]
and after reloading the file the result is this;
[code]

[2020-07-04 15:27] portlek opened #377 "Are there any benchmark?"
Is there any benchmark with other java yaml libraries? like that
![image](https://user-images.githubusercontent.com/12835420/86515757-0d551000-be24-11ea-9df7-6d9cd5b57a95.png)

[2020-07-06 06:35] amihaiemil commented on #377
@portlek nope, there is no benchmark.

If you know how to implement one, maybe we can implement it as a set of integration tests :)

[2020-07-06 10:03] portlek commented on #377
Alright I will prepare some yaml files for testing with snakeyaml, yamlbeans and eo-yaml.

[2020-07-06 10:36] portlek opened #378 "Is is possible to configure?"
Is it possible to configure for indention size, for example;
[code]
someCodes....indention(3); and the result will be:
[code]

[2020-07-06 10:41] amihaiemil commented on #378
@portlek no, indentation is not configurable at the moment. Why do you need that?

[2020-07-06 10:47] portlek commented on #378
It's just for configuration, I don't need but I found a library that I should use and It's using SnakeYaml, which probably slower and has more size than eo-yaml, has indention configuration and a lot of interesting useful features that I want to implement to eo-yaml too. for example, custom objects like my configuration section class, and other stuff that you can also configure these.

It's all ab

[2020-07-06 17:23] Carleslc commented on #378
The YAML specification states that the amount of indentation is a presentation detail:

https://yaml.org/spec/1.2/spec.html#id2777534

So I think it's interesting to be configurable.

[2020-07-06 17:29] amihaiemil commented on #378
@Carleslc I'm pretty sure it would mean a lot of work, considering the architecture of the library.

Then, the reading logic will be more complex. It's already more complex than I would like it to be. I'd invest time in simplifying what we have, not the other way around.

I am also not sure what "presentation detail" means -- indentation is important in Block Yaml, it distinguishes child nodes fro

[2020-07-06 17:34] portlek commented on #378
Actually the rule is the indention must equal or bigger than 2.

[2020-07-06 17:35] Carleslc commented on #378
The definition of presentation detail for YAML is here: https://yaml.org/spec/1.2/spec.html#presentation/detail/

[2020-07-06 17:43] amihaiemil commented on #378
@Carleslc eo-yaml is far from those configuration options. It doesn't even support tags, aliases amd anchors, for instance.

And, to be honest, I don't think I will complicate it to that extent (of offering all sorts of configurations)... the effort is simply not worth it. 99% of use cases are building or reading configuration files.

[2020-07-06 17:44] amihaiemil commented on #378
@portlek yeah, well, eo-yaml works with indentation of 2.

I really don't want to complicate things. I don't see a real usecase for customizable indentation.

I am closing this, sorry.

[2020-07-06 17:44] #378 closed

[2020-07-06 18:30] Carleslc commented on #378
Well, it's a way for the library to be more flexible and closer to the YAML specification, where the rule for block style indentation is just the following:

Also, for block entries like list items:

With that in mind, even 1 space is a valid indentation and the following is a correctly indented YAML:

[code]

I think this can be handled at parsing in eo-yaml with the guessing indentation flag.

H

[2020-07-06 20:58] amihaiemil commented on #378
@Carleslc To be honest, I find the specification way too complex. I read it (almost entirely) when I started this project a few years ago and I got the feeling that the authors could not stop thinking of ideas or "features". Reading it makes you feel like they thought: "oh, right, let's add this, and this, and that, and the other... and since we are at it, let's add something else too".

So, I don

[2020-07-07 07:29] olenagerasimova opened #380 "Asterisks in sequence"
Escaped with `\` asterisks in sequence are not read correctly.
This valid yaml:
[code]
When I'm trying to get `admin`s permissions sequence, I've got `\*` string in java instead of `*`.
Asterisk in map is read correctly (properly un-escaped in java).

Escaping asterisks is with quotation marks works fine.

[2020-07-07 08:32] amihaiemil commented on #380
@olenagerasimova I'm afraid I can't do anything about that. In YAML, escaping happens via quotes and double-quotes. So ``\*`` is just a normal scalar in YAML, it should NOT be treated as an escaped asterix.

You could write a ``YamlSequence`` decorator to remove the characters you don't like from the returned values. What do you think?

[2020-07-07 08:33] amihaiemil commented on #380
@olenagerasimova

Where did you see this behaviour? There is no logic implemented about ``\`` as an escape character anywhere.

[2020-07-07 08:38] olenagerasimova commented on #380
@amihaiemil please check [wikipedia](https://en.wikipedia.org/wiki/YAML)

[2020-07-07 08:40] amihaiemil commented on #380
@olenagerasimova

It says **"Within double-quotes"** -- that sentence refers to special characters such as ``\n``. If you want to represent the ``\n`` in a sequence, for instnace, you have to do the following:

[code]

[2020-07-07 08:47] amihaiemil commented on #380
@olenagerasimova It's really simple to write a YamlSequence decorator and remove ``\`` if you don't need them. I'm not confortable modifying eo-yaml to have this behaviour.

[2020-07-07 08:52] olenagerasimova commented on #380
@amihaiemil shame on me, sorry, I've read yaml docs not carefully, closing.

[2020-07-07 08:52] #380 closed

[2020-07-08 14:30] grascm opened #381 "Folded Block Scalar is not working"
Hello! I was trying to play with the [example in readme](https://github.com/decorators-squad/eo-yaml/wiki/Folded-and-Literal-Block-Scalars) and discovered that it's broken.

Simple example:
[code]

Gives me folllowing output:
[code]

For the file with following content:
[code]

I have tried to figure out what the problem is, and found, that any line with indent counts as newline [here](https://git

[2020-07-08 14:39] amihaiemil commented on #381
@GRascm what is the output of simply: ``System.out.println(map);``?

[2020-07-08 14:42] GRascm commented on #381
it gives full file content:
[code]

[2020-07-08 14:45] amihaiemil commented on #381
@GRascm Looking at your code and output with more attention, I don't really understand where exactly the problem is :D
What's the problem, actually?

[2020-07-08 14:48] GRascm commented on #381
I expected output for `folded` and `foldedString` to be equal  to `a long line split into several short lines for readability` without newlines, according to [your wiki](https://github.com/decorators-squad/eo-yaml/wiki/Folded-and-Literal-Block-Scalars#yaml-folded-block-scalar-parent-line-ends-with-)

[2020-07-08 14:52] amihaiemil commented on #381
@GRascm right. I remember there was a small bug about this topic, it's about indentation. Folded scalars are tricky in YAML because not all NewLines should be ommited.

For instance this:

[code]
Should be read on a single line. But this:

[code]
will get you this:

[code]

Do you need this bugfix now, is it causing you problems? Or were you just digging for bugs? :D

[2020-07-08 15:00] GRascm commented on #381
@amihaiemil

I was looking for a yaml library for my new pet project, so there is no urgency about this bug (cause there is no project yet :D).
I'm not even sure that i will need such functionality.
So i guess it's more like "digging for bugs".

[2020-07-08 16:54] amihaiemil commented on #381
@GRascm you can use it for your project. It's quite stable even though there a few reported bugs.
Interfaces are a big advantage, you can decorate the existing objects and add any functionality you may need :)

[2020-07-13 15:55] jxtyq69 opened #382 "read yaml cause java.util.regex.PatternSyntaxException: Illegal repetition near index 0"
env:
compile group: 'com.amihaiemil.web', name: 'eo-yaml', version: '5.1.3'
jdk1.8

code
[code]

test.yml
[code]

Exception
[code]

[2020-07-13 16:22] amihaiemil commented on #382
@jxtyq69 thanks for opening this, we'll take care of it as soon as possible. In the meanrime, have you tried escaping the "{...}" scalars?

[2020-07-13 19:07] BernardLafayette opened #383 "Unable to read empty sequences or map"
You said in a previous closed issue that you didn't planned to parse json-like yaml. But, there is no other way of writing empty sequences or mappings … Is it possible to add support to this ? For example making [] and {} nodes converted to empty sequences and mappings ?

Or do i have to code this node-checking myself ?

Thanks for reading

[2020-07-14 07:08] amihaiemil commented on #383
@BernardLafayette It will be implemented in #368. In the meantime, don't forget that ``YamlMapping`` and ``YamlSequence`` are interfaces, which means you can write some decorators for them. In these decorators you can check if a returned value is null and, if it is, return your own custom implementation of an empty ``YamlMapping`` or ``YamlSequence``.

[2020-07-14 09:49] amihaiemil opened #384 "Release 8.0.0 - Support Flow/JSON-Style Nodes"
This is a bigger release containing:

Support for reading flow-style nodes (both inline or multiline)! For example:

[code]

**ESCAPING LOGIC FIXES:**

Fixes to escaping of strings when printing and reading escaped keys. Previously we would escape any string containing a dash (e.g. ``kafka-topic: test`` would be printed as ``"kafka-topic": test``). Now, we only escape it if it starts with a dash (

[2020-07-14 11:33] amihaiemil commented on #382
@jxtyq69 I solved this problem but I don't think it will help you. At the moment, eo-yaml does not support Flow representaton (i.e. ``{}`` mappings).

So at the moment, your ``{...}`` values will be treated as simple String scalars. We are working on #368 as well.

[2020-07-14 11:37] amihaiemil commented on #382
@jxtyq69 In the meantime, your YAML should work fine if you rewrite it in Block format:

[code]

although it seems to have a strange format either way, a lot of redundant stuff. You might rewrite it to make it less verbose anyway :)

[2020-07-14 13:34] amihaiemil commented on #382
@jxtyq69 I fixed this bug with PR #385 but, as I said, it's still not the behaviour that you probably expect, since we don't have Flow representation yet.

[2020-07-14 13:46] amihaiemil opened #386 "Release 5.1.4"
Just a small hotfix for #382

[2020-07-14 13:46] amihaiemil commented on #386
@rultor release it, tag is `5.1.4`

[2020-07-14 13:47] rultor commented on #386
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22594-658188947)

[2020-07-14 13:52] rultor commented on #386
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22594-658188947) (took me 4min)

[2020-07-14 13:53] amihaiemil commented on #382
5.1.4 is out, closing this.

[2020-07-14 13:53] #382 closed

[2020-07-14 13:53] #386 closed

[2020-07-17 14:07] #368 closed

[2020-07-17 14:08] 0pdd opened #388 "ReadFlowSequence.java:40-43: Implement and unit test..."
The puzzle `368-ef575783` from #368 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/7df371dadc88bea73521af7e7f97338774bde08e/src/main/java/com/amihaiemil/eoyaml/ReadFlowSequence.java#L40-L43

The puzzle was created by @amihaiemil on 17-Jul-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-07-17 14:08] 0pdd commented on #388
@amihaiemil please pay attention to this new issue.

[2020-07-17 14:08] 0pdd opened #389 "ReadFlowSequence.java:44-46: Use this class to read flow..."
The puzzle `368-c52e15ab` from #368 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/7df371dadc88bea73521af7e7f97338774bde08e/src/main/java/com/amihaiemil/eoyaml/ReadFlowSequence.java#L44-L46

The puzzle was created by @amihaiemil on 17-Jul-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-07-17 14:08] 0pdd commented on #389
@amihaiemil please pay attention to this new issue.

[2020-07-17 14:08] 0pdd opened #390 "ReadFlowSequenceTestCase.java:108-111: Make sure the..."
The puzzle `368-98dbb0f0` from #368 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/7df371dadc88bea73521af7e7f97338774bde08e/src/test/java/com/amihaiemil/eoyaml/ReadFlowSequenceTestCase.java#L108-L111

The puzzle was created by @amihaiemil on 17-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-07-17 14:08] 0pdd commented on #390
@amihaiemil please pay attention to this new issue.

[2020-07-17 14:08] 0pdd commented on #368
@amihaiemil 3 puzzles [#388](https://github.com/decorators-squad/eo-yaml/issues/388), [#389](https://github.com/decorators-squad/eo-yaml/issues/389), [#390](https://github.com/decorators-squad/eo-yaml/issues/390) are still not solved.

[2020-07-17 14:38] portlek opened #391 "Suggestion about JSON library."
If you want to use the JSON library anywhere, I suggest you to `minimal-json` which is the fastest JSON library with minimal size.

[2020-07-17 14:41] amihaiemil commented on #391
@portlek Nope, not really. I want to keep this library lightweight, with 0 dependencies :)

And for JSON I always use JSON-P/JSON-B because they the standard in Java. Plus, the user can exclude the dependency from library, if they are deploying their application on a Java EE platform (it's already provided there).

[2020-07-17 14:41] #391 closed

[2020-07-23 10:29] alexe13 opened #393 "Duplicate first comment on read mapping"
Given the following files:
[code]
[code]
And the following code:
[code]
yields the following result:
[code]
As you see, the first comment is duplicated.
I've encountered this issue only with nested mappings, i.e. if files contain simple scalar mappings like `key:value` comments are not duplicated. Also, only comment at the top of the file seems to be duplicated.
I'm using version 5.1.4. Did not ha

[2020-07-23 10:47] amihaiemil commented on #393
@alexe13 thanks for reporting, we'll take a look as soon as possible:)

[2020-07-23 10:50] #388 closed

[2020-07-23 10:50] 0pdd commented on #388
The puzzle `368-ef575783` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-23 10:50] 0pdd commented on #389
The puzzle `368-c52e15ab` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-23 10:50] #389 closed

[2020-07-23 10:50] #390 closed

[2020-07-23 10:50] 0pdd commented on #390
The puzzle `368-98dbb0f0` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-23 10:50] 0pdd commented on #368
@amihaiemil all 3 puzzles are solved here: [#388](https://github.com/decorators-squad/eo-yaml/issues/388), [#389](https://github.com/decorators-squad/eo-yaml/issues/389), [#390](https://github.com/decorators-squad/eo-yaml/issues/390).

[2020-07-23 13:11] amihaiemil commented on #393
@alexe13 I just had a look: it is not related to MergedYamlMapping. The problem is when you read a YAML mapping where the value of the first pair is a sequence of a mapping:

So this scenario:

[code]

is ok, but this one:

[code]
Is not ok. I think it happens because the first comment is treated 2 times: once as the comment of the overall document and once as the comment of the first pair.

Worki

[2020-07-23 14:47] amihaiemil commented on #393
@alexe13 I think the only solution here is to change the rule in the case of the document-comment and mandate an additional empty line at the end of it.

[code]

[code]

[code]

[2020-07-23 15:30] alexe13 commented on #393
@amihaiemil seems reasonable, otherwise there is no way to distinguish document and node comments.

[2020-07-23 15:32] amihaiemil commented on #393
@alexe13 Actually, that's not possible without modifying too much of the library -- empty lines are stripped right at the beginning, before anything else.

I think we should just remove the idea of "document comment". First comment in the file will belong to the first node found...

[2020-07-23 15:49] alexe13 commented on #393
@amihaiemil I'm ok with this solution, document comments seem to be rarely used anyway. Strictly speaking node comments are also non-existent as a part of representation graph in yaml spec, but they are much more useful and I'm happy this library supports them.

[2020-07-24 11:00] amihaiemil commented on #393
@alexe13 I fixed the problem (without ignoring anything). See PR #394 for more details.
In your particular case, "A comment" will refer to the ``mapping1`` mapping.

I also wrote more unit tests, including a few tests with your precise example. I'm confident the problem is fixed :D

[2020-07-24 11:05] amihaiemil opened #395 "Release 5.1.5"
It contains an important bug fix (#394).

[2020-07-24 11:09] #393 closed

[2020-07-24 11:10] amihaiemil commented on #395
@rultor release it, tag is ``5.1.5``

[2020-07-24 11:12] rultor commented on #395
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22717-663488097)

[2020-07-24 11:12] rultor commented on #395
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22717-663488097) (spent 19s)

[code]

[2020-07-24 11:13] amihaiemil commented on #395
@rultor release, tag is `5.1.5`

[2020-07-24 11:15] rultor commented on #395
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22717-663489205)

[2020-07-24 11:15] rultor commented on #395
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22717-663489205) (spent 19s)

[code]

[2020-07-24 11:16] amihaiemil commented on #395
@rultor release, tag is `5.1.5`

[2020-07-24 11:18] rultor commented on #395
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22717-663490383)

[2020-07-24 11:18] rultor commented on #395
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22717-663490383) (spent 19s)

[code]

[2020-07-24 11:19] amihaiemil commented on #395
@rultor release, tag is `5.1.5`

[2020-07-24 11:21] rultor commented on #395
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22717-663491280)

[2020-07-24 11:21] rultor commented on #395
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22717-663491280) (spent 19s)

[code]

[2020-07-24 11:58] amihaiemil commented on #395
@rultor release, tag is `5.1.5`

[2020-07-24 12:00] rultor commented on #395
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22717-663504129)

[2020-07-24 12:05] rultor commented on #395
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22717-663504129) (took me 4min)

[2020-07-24 12:08] amihaiemil commented on #395
@alexe13 Version ``5.1.5`` is released, you can give it a try :)

[2020-07-24 12:08] #395 closed

[2020-07-26 16:17] alexe13 commented on #395
@amihaiemil Thanks, will check!

[2020-08-12 07:16] nick-less opened #396 "Comment is duplicated"
I have the following yaml:

[code]

after reading and printing e.g.
[code]
its looks like this:

[code]

as you see, the comment is moved down and duplicated, looks like an error to me...
Just tested against the current snapshot (5.1.6)

[2020-08-12 07:35] amihaiemil commented on #396
@nick-less thanks for reporting, we'll have a look :)

[2020-08-12 09:13] alexe13 opened #397 "Quoted style vs plain style consistency for String scalars"
Given file:
[code]
and code:
[code]
yields the following result:
[code]
Plain string was converted to double quoted string because of a special character "-"
However, if I remove the special character in original file and wrap string into double quotes:
[code]
I get:
[code]
Quotes were removed.

I have a large yaml file with lots of string scalars, and some of them are printed without quotes (if t

[2020-08-12 10:47] amihaiemil commented on #397
@alexe13

I'm afraid not. How do we know if some quotes should be preserved or not?

At the logic is simple: read the scalar and remove any escaping quotes. Print the scalar and add escape quotes if it contains special chars.

I don't really want to complicate things, as long as it is not a bug :)

[2020-08-12 12:39] alexe13 commented on #397
I was thinking about a simple parameter passed to a writer to override the default logic and enforce a single style for all scalars (plain, single-quoted, double-quoted). AFAIK snake-yaml has an option ScalarStyle exactly for that.

But if you think this functionality does not fit into the core library, you are free to close the issue :)

[2020-08-12 12:44] amihaiemil commented on #397
@alexe13 I think it doesn't really fit. I don't think this is a "style" -- it's just the rule of YAML: special chars have to be escaped... I don't want to complicate things, sorry :D

[2020-08-12 12:44] #397 closed

[2020-08-21 15:19] filip26 opened #398 "Immutable builders cannot be used with optional and stream"
Hi,
I wonder why are builders immutable?

e.g. I would like to do:
[code]
or:
[code]
but it's not possible because `add` method returns a new instance of a builder. FYI: JSON-P supports that. Only data structures and primitives are immutable.

Thank you

[2020-09-11 04:08] newmana opened #400 "Values are lost in nested maps"
[code]

Reading and printing using:
[code]

Prints out:

[code]

The "b: 2" becomes a duplicate of the previous entry "a: 1".

This works for every entry in the map that shares the suffix of the key. e.g.

[code]

Becomes:

[code]

[2020-09-11 07:13] amihaiemil commented on #400
@newmana please, send me your paypal e-mail address :D

[2020-09-11 07:15] amihaiemil opened #402 "Release 5.1.6"
Hotfix for #400

[2020-09-11 07:15] amihaiemil commented on #402
@rultor release it, tag is `5.1.6`

[2020-09-11 07:18] rultor commented on #402
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23293-690921226)

[2020-09-11 07:24] rultor commented on #402
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23293-690921226) (took me 5min)

[2020-09-11 07:24] amihaiemil commented on #402
@newmana Your fix is now released, you can use ``5.1.6`` :)

[2020-09-11 07:24] #402 closed

[2020-09-11 07:26] #400 closed

[2020-09-13 22:35] newmana commented on #400
Hi,

I did this during work so you can keep the money or donate it if you like (https://www.givewell.org/).

[2020-09-17 07:34] amihaiemil opened #405 "Release 5.1.7"
It contains some bug fixes:

#396
#403
#404
#407
#410

[2020-09-19 12:59] amihaiemil commented on #383
@newmana send me your PayPal address please. I don't like giving to charity organizations (I only give to concrete cases, when I'm sure all the money goes to the person in need...).

[2020-09-19 13:00] #383 closed

[2020-09-21 06:26] newmana opened #406 "Value on the next line in a sequence doesn't escape correctly."
This YAML:
[code]

Returns the string as:
```'aws:sns:{{ region }}:{{ account }}:Topic"'```

This is due to the regex in escapedSequenceScalar not treating the dash as optional.

[2020-09-21 22:23] newmana commented on #405
Can I suggest #406 and #396 ?

[2020-09-22 06:34] #376 closed

[2020-09-22 06:38] amihaiemil commented on #405
@newmana sure, but there is no PR for #406 :D

Also, please really give me your paypal address, you've already worked a lot here.

[2020-09-22 06:43] amihaiemil commented on #396
should be fixed by #399. Will be released with version 5.1.7.

[2020-09-22 06:43] #396 closed

[2020-09-22 11:26] ANadrowski opened #408 "YamlNodeNotFoundException's package"
We have the `com.amihaiemil.eoyaml.exceptions` package then we should move the `YamlNodeNotFoundException` class to that package.

[2020-09-22 11:27] ANadrowski commented on #408
@amihaiemil If you're ok with this change, please assign it to me. No bounties needed :)

[2020-09-22 13:49] amihaiemil commented on #408
@ANadrowski let's do it later, maybe with version 6.0.0.

The problem is, this will break backwards compatibility for the users, they will have to modify the import statement of the exception class.

[2020-09-22 15:29] ANadrowski commented on #408
@amihaiemil ok :)

[2020-09-23 04:36] newmana opened #409 "Block literal scalar fails to round trip"
Starting with:
[code]

Produces:
[code]

Which is not a valid way to produce block literal scalars - see https://www.yaml.info/learn/quote.html#literal.

Also, most of the tests assumed that block literals don't include the line separator character.

[2020-09-23 14:32] levelrin opened #411 "Is it expected to have keys in quotation marks?"
### Motivation

I want to create a YAML and print it.

### My Code

[code]

### Expected Result:

[code]

### Actual Result:
[code]

### Question

As you can see, the key `home-page` is surrounded by quotation marks ("), while the key `one` is not.
Is it intended behavior?

### Library Version

I use Gradle. This is my dependency:
[code]

[2020-09-23 15:54] amihaiemil commented on #411
@levelrin I'll close this if it's ok with you. Feel free to open another one if you have any more questions or concerns :D

[2020-09-24 14:44] amihaiemil commented on #406
@newmana I don't think this bug is related to the reading logic (which you changed to work with more complex regexes).

[2020-09-24 14:45] amihaiemil commented on #406
@newmana Maybe the bug is inside [ReadPlainScalar.value()](https://github.com/decorators-squad/eo-yaml/blob/32cb36f55cf5a4e916912e1094c62a3d0220be16/src/main/java/com/amihaiemil/eoyaml/ReadPlainScalar.java#L70).

[2020-09-26 21:54] newmana commented on #405
It's https://www.paypal.com/paypalme/andrewfnewman

[2020-09-28 11:52] #406 closed

[2020-09-28 11:54] amihaiemil commented on #405
@newmana thanks. I've sent a bounty of $10 for each of your PRs (6 so far, 4 merged and 2 in discussion).

For future bugfixes, remember that you don't have to solve everything in 1 PR. You can and are encouraged to fix it only partially and leave todo's in the code which will become future tasks. This way the PRs are smaller, easier to review and so on, and you also don't work more than what the

[2020-09-30 19:18] Laeffe opened #413 "Mapping on first line of sequence only parses first entry"
I'm not that well read on the syntax of yaml, but was trying to parse a requirements.yaml used in a helm project and only managed to get one of the dependencies. After poking around I boiled it down to this lib not being able to parse this type of syntax
[code]
While this seams to work fine:
[code]

I wrote a test case for it in "ReadYamlSequenceTest"
[code]

[2020-10-01 06:08] amihaiemil commented on #413
@Laeffe Are you using the latest version of the library? I remember I fixed a similar bug at some point. Latest version is 5.1.6.

[2020-10-01 07:03] amihaiemil commented on #413
@newmana would you like to have a look here? At this point, I guess you're more up to date than me :D

[2020-10-01 07:06] #409 closed

[2020-10-01 21:31] newmana commented on #413
Sure. I can confirm it's an issue on the latest version. I think it's just a limitation in that the code isn't looking for sequence, map with key and value all on the same line.

[2020-10-02 03:44] Laeffe commented on #413
@amihaiemil, I was first using 5.1.6, then later checked out master and did the test case there. But I see that @newmana already confirmed the bug.

It only seams to be an issue on the first line of the sequence, I think.

[2020-10-02 08:50] amihaiemil commented on #413
@newmana @Laeffe  The code looks for the sequence all right. So the overall sequence is seen.

There is indeed a problem with the very first line, which is being ignored -- inside ReadYamlMapping's constructor, the lines up to ``previous`` inclusively are skipped and, in this particular case, ``previous`` should not be skipped (it's the first line in the document).

It's a dodgy bug, but surely fi

[2020-10-03 12:18] amihaiemil commented on #413
@charlesmike register it please

[2020-10-03 12:18] charlesmike commented on #413
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2020-10-03 12:19] charlesmike commented on #413
@newmana this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-13T15:19:51.534269``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not

[2020-10-03 12:25] amihaiemil commented on #413
@newmana Charles here is one of out PM chatbots @self-xdsd. You're one of the first people ever to get a task from it, congrats :)

You can say ``@charlesmike resign`` anytime, if you want to refuse a task. :D

[2020-10-07 23:39] charlesmike commented on #413
@newmana Don't forget to close this ticket before the deadline (2020-10-13T15:19:51). You are past the first half of the allowed period.

[2020-10-13 17:39] charlesmike commented on #413
@newmana Looks like you've missed the task deadline (2020-10-13T15:19:51). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-10-13 17:39] charlesmike commented on #413
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-23T20:39:54.819611``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-17 23:39] charlesmike commented on #413
@amihaiemil Don't forget to close this ticket before the deadline (2020-10-23T20:39:54). You are past the first half of the allowed period.

[2020-10-20 12:10] batuhanbykl opened #415 "How Can i take sequence value in maping atribute?"
I can take just first lane on the sequence table.
example my yaml like that:

![yaml deneme](https://user-images.githubusercontent.com/73161662/96583576-97e35180-12e5-11eb-8c32-b387b903d110.PNG)

my code like that:
![yaml deneme code](https://user-images.githubusercontent.com/73161662/96583695-cbbe7700-12e5-11eb-9a74-89ae23d0fefb.PNG)

You can see output "mapininsequ" just take first line so "abc:

[2020-10-20 12:10] charlesmike commented on #415
@batuhanbykl thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-20 12:15] batuhanbykl commented on #415
thank you. I will wait.

[2020-10-20 12:19] charlesmike commented on #415
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-30T15:19:50.801575``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-20 13:20] amihaiemil commented on #415
@batuhanbykl are you using the latest version of the library, 5.1.6?

[2020-10-20 13:21] amihaiemil commented on #415
@batuhanbykl the second element of that sequence should be ``sequ.yamlMapping(1)``.
Please try to do that. There seems to be a bug in printing, I'm not sure if the bug is also in reading. Let me check...

[2020-10-20 13:33] amihaiemil commented on #415
@batuhanbykl It seems to be a bug with mappings that start at the same line as the dash. I will try to fix it as soon as possible.

In the meantime, it will work if you format the YAML like this:

[code]

Notice the mappings in the ``bos`` sequence start one line below the ``-``.

[2020-10-20 20:37] batuhanbykl commented on #415
ı tryed but return null

[2020-10-20 20:44] batuhanbykl commented on #415
it is work thnak you but ı dont know that ı work about my company file. company file not like that I hope it is compatible with their file.

[2020-10-20 20:46] batuhanbykl commented on #415
ı try again and it work after fix yaml

[2020-10-20 20:52] batuhanbykl commented on #415
what is that ı dont understand 415 fix
I cant use test library you say "add failing unit test" bu  i dont use sequencereadyamltest.java class"

[2020-10-20 20:54] amihaiemil commented on #415
@batuhanbykl The fix is not yet implemented, I only added a unit test to keep track of it.

[2020-10-23 23:39] charlesmike commented on #413
@amihaiemil Looks like you've missed the task deadline (2020-10-23T20:39:54). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-10-23 23:39] charlesmike commented on #413
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2020-10-24 23:39] charlesmike commented on #415
@amihaiemil Don't forget to close this ticket before the deadline (2020-10-30T15:19:50). You are past the first half of the allowed period.

[2020-10-29 09:08] amihaiemil commented on #415
@charlesmike hello

[2020-10-29 09:08] charlesmike commented on #415
Hi @amihaiemil! I'm the Project Manager of this project. I take care of Issues' assignments, payments and more.Want me to work for your project too? Go [here](https://self-xdsd.com).

I work primarily at Github, but I'll also start working at GitLab and BitBucket soon.

[2020-10-29 13:12] charlesmike commented on #413
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-08T15:12:53.598852``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-30 15:35] charlesmike commented on #415
@amihaiemil Looks like you've missed the task deadline (2020-10-30T15:19:50). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-10-30 15:35] charlesmike commented on #415
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-09T17:35:31.298019``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-10-30 16:07] amihaiemil commented on #415
@charlesmike deregister

[2020-10-30 16:08] charlesmike commented on #415
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-10-30 19:45] criske commented on #231
@amihaiemil do you still accept contributions for this lib :D. If so, I'll take this issue, no bounty needed, just want to familiarise with the lib.

[2020-10-30 19:58] amihaiemil commented on #231
@criske yes, but make sure you understand the architecture. In this case, I'm pretty sure we would have a new class called JsonYamlMapping

[2020-11-01 21:10] #415 closed

[2020-11-02 17:51] yegor256 opened #418 "can't parse YAML Literal Scalar with leading spaces"
This is my document:

[code]

I'm getting this:

[code]

However, this online parser doesn't complain: https://yaml-online-parser.appspot.com/

[2020-11-02 17:51] charlesmike commented on #418
@yegor256 thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-02 17:53] yegor256 commented on #418
@amihaiemil can you please take a look?

[2020-11-02 17:55] charlesmike commented on #418
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-12T19:55:26.922931``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-02 17:58] amihaiemil commented on #418
@yegor256 well, the exception message is quite clear. Have you tried indenting it like this?

[code]

[2020-11-02 18:00] yegor256 commented on #418
@amihaiemil of course, but I need it with the indenting specified :) see how it's parsed by the online parser I suggested

[2020-11-02 18:01] amihaiemil commented on #418
@yegor256 eo-yaml is quite strict on indentation rules since indentation dictates inclusion of child elements in YAML. According to the YAML spec (if I remember well) the indentation goes by 2 spaces.

There is the ``guessIndentation`` flag in all the ``createYamlInput`` methods. If you specify it as ``true``, eo-yaml will try to guess the correct indentation... however, I don't recommend it:

[co

[2020-11-02 18:05] yegor256 commented on #418
@amihaiemil this is weird... I need my text to have some leading spaces in _some_ lines. It seems that it's impossible with your parser?

[2020-11-02 18:06] amihaiemil commented on #418
@yegor256 that said, if it still doesn't work with ``guessIndentation = true``, I'm afraid you'll have to indent it properly.

[2020-11-02 18:07] yegor256 commented on #418
@amihaiemil it is indented _properly_ :) my text is a code snippet with leading spaces in some lines. Anyway, if you aren't going to fix this, maybe you should say in your README that you are not 100% compliant with YAML specification?

[2020-11-02 18:13] amihaiemil commented on #418
@yegor256 there may be one more option. That in your example is a literal scalar. I'm not exactly sure if indentation of lines in a literal scalar can differ or not.

Have you tried with a folded scalar, like this?

[code]

Anyway, we can't really rely on different YAML Parsers around the web. We have tried quite a few and we noticed that most of them behave differently. Some threw exceptions whil

[2020-11-02 18:14] yegor256 commented on #418
@amihaiemil check this document: https://github.com/yegor256/takes/blob/master/.rultor.yml It seems to be a perfect YAML doc :) But your parser will complain about it. Something is wrong with the parser, I believe.

[2020-11-02 18:17] amihaiemil commented on #418
@yegor256 could be, we'll have a look as soon as possible :)

[2020-11-02 18:19] amihaiemil commented on #418
@yegor256 In the meantime, I still suggest you try the ``guessIndentation`` flag, I think it should work in your case.

[2020-11-02 18:19] yegor256 commented on #418
@amihaiemil I tried, but this mode simply removes all leading spaces, ruining the structure of my text

[2020-11-02 18:26] amihaiemil commented on #418
@yegor256 guessing the indentation doesn't remove any leading spaces, it just bypasses a check. I tried running a unit test right now and it seems to work:

[code]
The ``literalLines`` collection will contain all the lines with their indentation. It will only remove the first 2 spaces at the beginning of each line, since they are the "child spaces" which dictate that they belong to the map. All th

[2020-11-02 18:33] yegor256 commented on #418
@amihaiemil I just tested my code with SnakeYAML and it parses it without problems.

[2020-11-02 18:37] amihaiemil commented on #418
@yegor256 If it's an urgent matter, you should definetely use SnakeYAML. We thought about using SnakeYAML under the hood, but then our work would basically be 0. We believe in thin libraries which bring their own contribution rather than just add an interface on top of other things :)

[2020-11-02 18:39] amihaiemil commented on #418
@yegor256 if you like our API, you can also easily implement the ``YamlMapping`` interface using SnakeYaml.

[2020-11-02 18:40] yegor256 commented on #418
@amihaiemil got it, thanks!

[2020-11-07 02:08] charlesmike commented on #418
@amihaiemil Don't forget to close this ticket before the deadline (2020-11-12T19:55:26). You are past the first half of the allowed period.

[2020-11-12 20:30] charlesmike commented on #418
@amihaiemil Looks like you've missed the task deadline (2020-11-12T19:55:26). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-11-12 20:30] charlesmike commented on #418
@newmana this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-22T22:30:48.780854``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me

[2020-11-17 02:30] charlesmike commented on #418
@newmana Don't forget to close this ticket before the deadline (2020-11-22T22:30:48). You are past the first half of the allowed period.

[2020-11-21 22:36] bhoogter opened #420 "Recursive Merge?"
Would it be possible to draft a recursive merge class?  Particularly, when merging configuration templates, most of the main elements are nested under a top level element.  For example:

[code]

And so on...

Wanting to merge these, it is preferred to keep the leading tag (e.g., `Parameters` and `Resources`), we don't want to the previous section of `Parameters` fully replaced if we are simply add

[2020-11-21 22:36] charlesmike commented on #420
@bhoogter thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-21 22:41] charlesmike commented on #420
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-02T00:41:50.117652``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-22 16:43] amihaiemil commented on #420
@bhoogter I'm sorry, I don't really understand what "recursive merge" means and what problem you encountered. Could you be more precise?

What's the current behaviour (what classes are you using) and what is the expected behaviour?

[2020-11-22 16:52] bhoogter commented on #420
Simple.

Given two YAMLs...

One:
[code]

Two:
[code]

When using the class `MergedYamlMapping`, merging the two results in only the first or second, depending on whether overwrite is enabled.

Desired result would be to 'merge'

[2020-11-22 16:56] amihaiemil commented on #420
@bhoogter right, I understand the issue now. And do you have a working changeset? Could you make a PR?

[2020-11-22 17:32] batuhanbykl opened #421 "How can ı use MergedYamlMapping For Edit"
I can not change values ​​for mapping in mapping

for instance I can change just first maping but
this is not work :

![image](https://user-images.githubusercontent.com/73161662/99910817-3e65ac80-2d01-11eb-847b-2f60b364a90c.png)

I run this code for change

![image](https://user-images.githubusercontent.com/73161662/99910770-f5adf380-2d00-11eb-8aa2-97e89e25bd4f.png)

But result like this -> First

[2020-11-22 17:32] charlesmike commented on #421
@batuhanbykl thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-22 17:41] charlesmike commented on #421
@newmana this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-02T19:41:50.440467``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me

[2020-11-22 20:31] charlesmike commented on #418
@newmana Looks like you've missed the task deadline (2020-11-22T22:30:48). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-11-22 20:32] charlesmike commented on #418
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2020-11-23 08:17] amihaiemil commented on #421
@batuhanbykl as far as I understand, this ticket is a duplicate of #420. The issue is that MergedYamlMapping is not recursive, it only looks for the elements at the first level. Please follow the progress of #420.

[2020-11-23 08:17] #421 closed

[2020-11-23 08:31] charlesmike commented on #421
@newmana thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-23 08:47] amihaiemil commented on #421
@batuhanbykl Maybe you can also make a Pull Request, if you have time :)

[2020-11-23 15:55] batuhanbykl commented on #421
Ty I will follow. So can you tell me how you created the sequences with variable ?
Maybe I can new create yaml file on my program?

[2020-11-23 15:55] batuhanbykl commented on #421
Ty I will follow. So can you tell me how you created the sequences with variable ?
Maybe I can new create yaml file on my program?

[2020-11-23 15:55] batuhanbykl commented on #421
Ty I will follow. So can you tell me how you created the sequences with variable ?
Maybe I can new create yaml file on my program?

[2020-11-23 16:57] amihaiemil commented on #421
@batuhanbykl

I am not sure I understand the question...

[2020-11-27 02:31] charlesmike commented on #420
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-02T00:41:50). You are past the first half of the allowed period.

[2020-11-29 15:05] PyvesB opened #422 "Question marks in values lead to YamlIndentationException"
Hello! 👋🏻

Consider the following piece of code:
[code]

The value with the question mark is happily parsed, but when trying to turn the mapping back into a string using `copy.toString()`, an exception is thrown:
[code]

If I try explicitly quoting the value (`"\"Some value?\""`), the above piece of code no longer throws an exception, but `copy.toString()` removes the quotations. Parsing and print

[2020-11-29 15:05] charlesmike commented on #422
@PyvesB thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-29 15:09] PyvesB opened #423 "Comments for key value pairs"
Hello! 👋🏻

I'm trying to build a YAML document similar to the following:

[code]

I've gone through the [comment documentation](https://github.com/decorators-squad/eo-yaml/wiki/Support-For-Comments), but there doesn't seem to be a way of attaching a comment line above an individual key-value pair mapping. Have I missed something?

Thanks in advance!

[2020-11-29 15:09] charlesmike commented on #423
@PyvesB thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-29 15:11] charlesmike commented on #422
@newmana this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-09T17:11:51.808201``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me

[2020-11-29 15:11] charlesmike commented on #423
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-09T17:11:56.216119``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-29 15:54] amihaiemil commented on #422
@PyvesB What is the output of ``System.out.println(yaml.toString())``? (printing the first YAML).

I think the problem occurs because eo-yaml thinks there should be a compound-key at ``?``, which is obviously wrong in this case.

[2020-11-29 16:00] amihaiemil commented on #423
@PyvesB As I understand, your comments actually refer to the scalars (value1 and value2).

In this case, the correct YAML (from eo-yaml's perspective) would be:

[code]

So, eo-yaml expects scalar comments to be on the same line, after the scalar.
You should be able to build it like this:

[code]

Does this help? :D

[2020-11-29 16:00] amihaiemil commented on #422
@charlesmike deregister

[2020-11-29 16:01] charlesmike commented on #422
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-30 18:38] PyvesB commented on #422
It's the following:
[code]

[2020-11-30 18:51] PyvesB commented on #423
Thank you for the quick response!

To be honest, I didn't really realise that comments at the end of a line were a thing, thanks for pointing that out. However, those only really work when the YAML line and the comment itself are very short. You soon bump into readability issues when key-value pairs are more than a few letters long, I'm guessing that may be why same line comments are not that comm

[2020-12-01 18:41] amihaiemil commented on #423
@PyvesB Unfortunately, scalar comments are supported only on the same line.

In your example, those comments are valid as comments of the mapping itself (a comment above a map with a single key and a single value).

I would close this, because modifying comment logic is not a priority right now and I also have no idea how it could be done: if a comment is above a key: value pair, how do we know if

[2020-12-01 18:43] amihaiemil commented on #423
@PyvesB By the way our YAML example looks good, I don't think you will have problems parsing it with eo-yaml. However, shuffle through the open Issues, there are a few bugs concerning multiple-line scalars (block and flow scalars) and such.

Again, as I see you don't have those types of scalars, so you should be ok :D

[2020-12-01 18:44] amihaiemil commented on #422
@PyvesB Right, so at least the printing works correctly. We'll have a look.

We also appreciate Pull Requests, if you have time to prepare one :D

[2020-12-01 18:45] amihaiemil commented on #422
@criske can you have a look here please? :D
You can start with a unit test in ReadYamlMappingTest: add a test with the example lines above and see if/why it fails.

[2020-12-01 18:49] #423 closed

[2020-12-01 19:09] criske commented on #422
@amihaiemil sure

[2020-12-01 20:20] charlesmike commented on #423
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-02 02:20] charlesmike commented on #420
@amihaiemil Looks like you've missed the task deadline (2020-12-02T00:41:50). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-02 02:21] charlesmike commented on #420
@newmana this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-12T04:21:09.958392``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me

[2020-12-02 09:42] criske commented on #422
@amihaiemil, @PyvesB The actual bug was in `RtYamlPrinter`;`?` was not included as a special char when escaping with  `RtYamlPrinter.Escaped` and , on read, `RtYamlLine#requireNestedIndentation()` was getting confused.
Bottom line: `key1: Some value?` should've print `key1: "Some value?"`

[2020-12-04 07:52] amihaiemil commented on #422
@criske thank you! paid with transaction id 1D722852GS958992C

[2020-12-04 07:54] amihaiemil opened #425 "Release 5.1.7"
It contains some bug fixes.

[2020-12-04 07:55] amihaiemil opened #426 "Release 5.1.8"
Changelog:

#428
#430

[2020-12-04 07:55] #422 closed

[2020-12-04 07:55] amihaiemil commented on #425
@rultor release it, tag is `5.1.7`

[2020-12-04 07:57] rultor commented on #425
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23814-738628233)

[2020-12-04 08:01] rultor commented on #425
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23814-738628233) (spent 3min)

[code]

[2020-12-04 08:01] amihaiemil commented on #425
@rultor release it, tag is `5.1.7`

[2020-12-04 08:03] rultor commented on #425
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23814-738630363)

[2020-12-04 08:06] rultor commented on #425
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23814-738630363) (spent 3min)

[code]

[2020-12-04 08:07] amihaiemil commented on #425
@rultor release it, tag is `5.1.7`

[2020-12-04 08:09] rultor commented on #425
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23814-738632748)

[2020-12-04 08:12] rultor commented on #425
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23814-738632748) (spent 3min)

[code]

[2020-12-04 08:15] amihaiemil commented on #425
@rultor release it, tag is `5.1.7`

[2020-12-04 08:17] rultor commented on #425
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23814-738636444)

[2020-12-04 08:20] rultor commented on #425
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23814-738636444) (spent 3min)

[code]

[2020-12-04 08:32] amihaiemil commented on #425
@rultor release it, tag is `5.1.7`

[2020-12-04 08:33] rultor commented on #425
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23814-738643792)

[2020-12-04 08:42] rultor commented on #425
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23814-738643792) (took me 8min)

[2020-12-04 08:54] #425 closed

[2020-12-04 08:55] amihaiemil commented on #422
@PyvesB I've just released version ``5.1.7``, please try it out.

If you still have issues, feel free to open another ticket :)

[2020-12-04 09:04] PyvesB commented on #422
Thank you, will give it a spin this weekend! 👍🏻

[2020-12-07 01:25] charlesmike commented on #420
@newmana Don't forget to close this ticket before the deadline (2020-12-12T04:21:09). You are past the first half of the allowed period.

[2020-12-09 16:44] piet8stevens opened #427 "Best way to save and load a HashMap as a sequence"
Hello, thank you for eo-yaml.

I am trying to use it to save/load my datastructure, which has a HashMap<String, CombinedEvent>.

I am confused as to how to use YamlSequence and it is not clear from the documentation how to do this. Documented sequences are basically lists of strings.

My code to dump and load the HashMap is as follows:
[code]
This writes out a good yaml file, but I cannot figure o

[2020-12-09 16:44] charlesmike commented on #427
@piet8stevens thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-09 16:45] charlesmike commented on #427
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-19T18:45:49.793504``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-09 17:45] amihaiemil commented on #427
@piet8stevens to read values from a YamlSequence, you can either iterate over them (as you already do), or you can use the methods ``yamlMapping(index), yamlSequence(index), string(index)``, which will get you the node at the specified index.

If you iterate over them, you get generic ``YamlNode``, which you  have to transform into what it actualy is, by using the ``YamlNode.as*()`` methods. For i

[2020-12-09 19:02] piet8stevens commented on #427
Thank you for your fast and extensive reply. The logic makes sense, but it implementing it will require some more thinking and action on my part. Extending BaseYamlMapping is indeed much cleaner. I did not even know that BaseYamlMapping existed and also, I am not so familiar with OO (but I am learning).

Is there an example I could look into about such a BaseYamlMapping extension?

[2020-12-09 19:25] piet8stevens commented on #427
Thank you for your rapid and extensive reply. It makes sense in an abstract way, but before I can implement that, I will need to do some studying and thinking.

I am writing some simple tests first to confirm my understanding of eo-yaml and get basic code to work.
This is the yml data (subset of what will be needed) for test:
[code]
Note: duplication between names: and all: is currently for test p

[2020-12-10 07:59] piet8stevens commented on #427
Thank you again for your help. I have resolved the issue by looking into your ReadYamlSequenceTest.java, but without your help, I would not have known where to look.

My dirty code works. Now I will clean it up by putting it into a separate  class.

The only weird thing remaining, which does not preclude this from working, is that the '-' is on its own line when a mapping follows it, but not when

[2020-12-10 07:59] #427 closed

[2020-12-10 08:34] amihaiemil commented on #427
@piet8stevens you're welcome!

This is the way we've implemented eo-yaml: mapping elements in sequences start on a second line after the ``-``.
We has quite a few complaints about that because apparently the YAML specification allows both options (on the same line *and* after).

It was only after we implemented this project that we realized the YAML spec is actually too flexible. Its authors are l

[2020-12-10 13:25] charlesmike commented on #427
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-12 07:25] charlesmike commented on #420
@newmana Looks like you've missed the task deadline (2020-12-12T04:21:09). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-12 07:26] charlesmike commented on #420
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-02-06 22:06] zsandoz opened #428 "Parsing quoted keys in mappings"
I'm seeing an error attempting to parse:

[code]

The error is

I suspect the `SEQUENCE_OR_MAP` regex in `AllYamlLines` doesn't group the options of unquoted, single-quoted or double-quoted correctly.

[2021-02-06 22:06] charlesmike commented on #428
@zsandoz thank you for reporting this. I'll assign someone to take care of it soon.

[2021-02-06 22:12] charlesmike commented on #428
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T00:12:55.498180``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-07 09:57] piet8stevens opened #430 "eo-yaml on Android"
I am trying to use eo-yaml for an Android app.

I can generate a yml file on an Android phone, but cannot read it. However, the tests for reading from a yml file succeed.

I have simplified my code so that it still reproduces the issue as follows:

Class I am trying to read from yml file:

    package com.pas.ipd_1.audio;

    import android.os.Environment;

    import com.amihaiemil.eoyaml.Yaml;

[2021-02-07 09:57] charlesmike commented on #430
@piet8stevens thank you for reporting this. I'll assign someone to take care of it soon.

[2021-02-07 10:03] charlesmike commented on #430
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T12:02:58.384158``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-07 10:09] amihaiemil commented on #430
@piet8stevens It seems like a Regex Pattern problem on Android. I think the only relevant part is:

[code]

Most likely, Android doesn't like that Regex Pattern.

People on SO are saying that ``}`` needs to be escaped in Android, even though it normally doesn't need to be escaped in Java apps: https://stackoverflow.com/questions/13508992/android-syntax-error-in-regexp-pattern

Let's try to escape

[2021-02-07 10:09] amihaiemil commented on #430
@criske Can you fix this when you have some time? Should be a quick thing :D

[2021-02-07 10:09] amihaiemil commented on #430
@charlesmike quit

[2021-02-07 10:10] charlesmike commented on #430
@amihaiemil ok, I'll find someone else to take care of it.

[2021-02-07 10:12] charlesmike commented on #418
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T12:12:54.039818``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-07 10:13] charlesmike commented on #420
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T12:12:57.681171``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-07 10:13] charlesmike commented on #430
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T12:13:02.676818``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-07 10:33] piet8stevens commented on #430
Thank you for the incredibly fast reply.

I escaped the '}' in line 251 of ReadYamlMapping.java and can confirm the crash no longer happens. If you want, I can check out your code and fix it and create a pull request

[2021-02-07 10:40] amihaiemil commented on #430
@piet8stevens yes, that would be helpful :D

[2021-02-07 10:40] amihaiemil opened #431 "Release 5.1.9"
Changelog:

#231
#420
#433
#434

[2021-02-07 10:44] piet8stevens commented on #430
OK, will do it later today.

[2021-02-07 11:20] criske commented on #430
@piet8stevens You can unit test that change. Unit tests use the JDK installed on your machine, so no need for Robolectric or emulator :D.

[2021-02-07 13:54] piet8stevens commented on #430
I have pulled from eo-yaml, created a 430 branch and made the change. When I try to push, I get a 403 error. Do I need to do anything special to get write access? (I do not think I have a credential issue).

Also, how do I run the unit tests? (I use gradle for my own development so do not know how to run your unit tests on maven)

[2021-02-07 13:57] amihaiemil commented on #430
@piet8stevens you cannot push to the original eo-yaml repo, nobody has write access.

You have to fork the repo on Github, clone thefork to your machine and make the branch as you did. Then, you push your branch to your Githun fork, from where you will be able to make a Pull Request.

To run the whole build with tests, run

``mvn clean install -Pcheckstyle,itcases``. If this is green, you are good

[2021-02-07 14:00] amihaiemil commented on #430
@piet8stevens I think it will work if you just fork the repo now, then add your fork as a remote to your local repo.

But if you don't have a good understanding of how git works, then it would be faster to redo it from scratch :D

[2021-02-07 14:11] piet8stevens commented on #430
OK, I forked your master to my github repos. Then I created a 430 branch, made the change and pushed that change to my repo. I have not merged that branch back to my master. This is where you can find it: https://github.com/piet8stevens/eo-yaml

What else should I do?

[2021-02-07 15:03] amihaiemil commented on #430
@piet8stevens yes, it's correct. Now, you have to make a Pull Request (you are asking me to pull your branch - 430, into the master of eo-yaml)

You should have this option somewhere. Google "how to make a PR on Github" :D

[2021-02-07 16:23] amihaiemil commented on #365
Let's add  build settings for JDK 15 and 16.

[2021-02-07 16:51] amihaiemil commented on #426
@rultor release it, tag is `5.1.8`

[2021-02-07 16:52] rultor commented on #426
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24094-774707373)

[2021-02-07 16:58] rultor commented on #426
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24094-774707373) (took me 5min)

[2021-02-07 17:00] amihaiemil commented on #426
@zsandoz @piet8stevens Your changes are now released with version ``5.1.8``. Many thanks! :)

[2021-02-07 17:00] #426 closed

[2021-02-07 17:01] amihaiemil commented on #430
@piet8stevens fix is released with ``5.1.8``, thanks again!

[2021-02-07 17:01] #430 closed

[2021-02-07 17:22] piet8stevens commented on #430
My pleasure & sorry for my mistakes.

On 2021-02-07 18:02, Mihai wrote:

[2021-02-07 17:26] amihaiemil commented on #428
@zsandoz it's released with version 5.1.8, thanks again!

[2021-02-07 17:26] #428 closed

[2021-02-07 17:31] amihaiemil commented on #430
@piet8stevens no worries :D

[2021-02-07 17:31] charlesmike opened #433 "Yaml.java: Implement and test method fro..."
The puzzle ``1154257685`` originating from #231 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3a6bd119a2e2810d8f87113899844cfb91447528/src/main/java/com/amihaiemil/eoyaml/Yaml.java#L38-L39

"Implement and test method fromJsonArray(JsonArray) for Yaml, that will create a YamlSequence from a JsonArray.".

The puzzle was created by @cristianpela at ``2021-02-07 13:54:16 +0200`

[2021-02-07 17:31] charlesmike opened #434 "Yaml.java: Wiki documentation is needed ..."
The puzzle ``498577569`` originating from #231 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3a6bd119a2e2810d8f87113899844cfb91447528/src/main/java/com/amihaiemil/eoyaml/Yaml.java#L40-L41

"Wiki documentation is needed for YAML mappings from JSON. (fromJsonObject() and fromJsonArray()).".

The puzzle was created by @cristianpela at ``2021-02-07 13:54:16 +0200``.
Estimation

[2021-02-07 17:31] charlesmike opened #435 "RtYamlScalarBuilder.java: This method is not correct. W..."
The puzzle ``1078206460`` originating from #244 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3a6bd119a2e2810d8f87113899844cfb91447528/src/main/java/com/amihaiemil/eoyaml/RtYamlScalarBuilder.java#L130-L134

"This method is not correct. When returning the value we should indeed fold the new lines, with the exception that we should preserve the blank lines and new lines of mo

[2021-02-07 17:32] amihaiemil commented on #435
@charlesmike remove

[2021-02-07 17:32] charlesmike commented on #435
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-07 17:32] #246 closed

[2021-02-07 17:33] charlesmike commented on #433
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T19:33:35.828933``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-07 17:33] charlesmike commented on #434
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T19:33:40.229503``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-07 17:34] amihaiemil commented on #433
@charlesmike quit

[2021-02-07 17:34] charlesmike commented on #433
@amihaiemil ok, I'll find someone else to take care of it.

[2021-02-07 17:43] charlesmike commented on #433
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T19:43:35.399955``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-07 20:53] charlesmike commented on #428
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-07 20:53] charlesmike commented on #430
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-08 20:43] zsandoz commented on #428
@charlesmike @amihaiemil

Thanks very much for getting on to this so fast.

[2021-02-08 20:43] charlesmike commented on #428
Thanks very much for getting on to this so fast.

Hi @zsandoz! I'm the Project Manager of this project. I take care of Issues' assignments, payments and more. Want me to work for your project too? Go [here](https://self-xdsd.com).

I work primarily at Github, but I'll also start working at GitLab and BitBucket soon.

[2021-02-11 22:00] charlesmike commented on #418
@criske Don't forget to close this ticket before the deadline (2021-02-17T12:12:54). You are past the first half of the allowed period.

[2021-02-11 22:00] charlesmike commented on #420
@criske Don't forget to close this ticket before the deadline (2021-02-17T12:12:57). You are past the first half of the allowed period.

[2021-02-11 22:00] charlesmike commented on #433
@criske Don't forget to close this ticket before the deadline (2021-02-17T19:43:35). You are past the first half of the allowed period.

[2021-02-11 22:00] charlesmike commented on #434
@criske Don't forget to close this ticket before the deadline (2021-02-17T19:33:40). You are past the first half of the allowed period.

[2021-02-13 00:11] JotaFaD opened #437 "Option to have kebab-case keys without quotes"
Since kebab-case is a common strategy for key naming in yaml, I find it ugly to have all keys surrounded by quotes when using this convention. There's no confusion between key names with dashs and collections, because the spec says an entry begins with a dash followed by a space, so I don't understand why quotes are required in this case. Can we get an option to print a mappping to a file without

[2021-02-13 00:11] charlesmike commented on #437
@JotaFaD thank you for reporting this. I'll assign someone to take care of it soon.

[2021-02-13 00:20] charlesmike commented on #437
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-23T02:20:12.261137``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-02-13 11:20] amihaiemil commented on #437
@JotaFaD I would like to keep at as it is, if you don't mind.

There were quite a lot of discussions around here, before and after we escaped keys. Some users had problems with other parsers because of unescaped keys, others had problems after we escaped the keys. And we finally reached a point where everyone's happy.

So, I would like to keep it as simple as possible: if the key contains any spec

[2021-02-13 11:20] #437 closed

[2021-02-13 13:19] amihaiemil commented on #437
@charlesmike remove

[2021-02-13 13:19] charlesmike commented on #437
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-13 18:48] JotaFaD commented on #437
@amihaiemil I understand. Thanks for reminding me I can implement this behaviour myself.

[2021-02-14 06:19] #231 closed

[2021-02-14 06:20] amihaiemil commented on #420
should be fixed

[2021-02-14 06:20] #420 closed

[2021-02-14 06:28] #433 closed

[2021-02-14 06:28] charlesmike commented on #433
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-02-14 06:29] amihaiemil commented on #431
@rultor release it, tag is `5.1.9`

[2021-02-14 06:30] rultor commented on #431
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24127-778735106)

[2021-02-14 06:32] rultor commented on #431
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24127-778735106) (spent 2min)

[code]

[2021-02-14 06:33] amihaiemil commented on #431
@rultor release it, tag is `5.1.9`

[2021-02-14 06:34] rultor commented on #431
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24127-778735481)

[2021-02-14 06:39] rultor commented on #431
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24127-778735481) (took me 4min)

[2021-02-14 06:40] #431 closed

[2021-02-14 08:17] charlesmike commented on #420
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-14 08:17] charlesmike commented on #433
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-17 11:57] charlesmike commented on #418
@criske Looks like you've missed the task deadline (2021-02-17T12:12:54). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-17 17:57] charlesmike commented on #434
@criske Looks like you've missed the task deadline (2021-02-17T19:33:40). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-17 17:57] charlesmike commented on #434
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-27T19:57:44.367202``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-18 15:42] piet8stevens opened #439 "eo-yaml on Android - follow-on from #430"
Hi,

in issue #430, I had created a simplified version of my code to be able to report an issue. That was fixed (regex on Android different from on linux).

I now am running my full code. Again the tests succeed on linux. On Android, they now fail but without an error message (but the object created from yml has null fields where they are supposed to be initialized).

I was able to replicate this

[2021-02-18 15:42] charlesmike commented on #439
@piet8stevens thank you for reporting this. I'll assign someone to take care of it soon.

[2021-02-18 15:47] charlesmike commented on #439
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-28T17:47:32.263812``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-19 08:42] AlexProgrammerDE opened #440 "Reading yaml comments not working"
Hi! I have been looking into this project because of the comment support that I couldn't find in snakeyaml. The docs guided me mostly through, and I saw comments are used everywhere. I made my own ConfigManager class to manage the currently saved config and merging values from a default mapping. Sadly in the process comments got lost. I looked into it and saw that it was the reader. This is the cl

[2021-02-19 08:42] charlesmike commented on #440
@AlexProgrammerDE thank you for reporting this. I'll assign someone to take care of it soon.

[2021-02-19 08:47] charlesmike commented on #440
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-01T10:47:32.229279``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-19 14:17] amihaiemil commented on #440
@AlexProgrammerDE I'm sorry, I don't understand what your problem is...

Are you saying comments get lost when you are trying to use MergedYamlMapping?

[2021-02-19 14:21] amihaiemil commented on #439
@piet8stevens Your overall code is not relevant, so why this long story?

What is the YAML content you are trying to read and what is the eo-yaml code/method you are using?

[2021-02-19 14:25] AlexProgrammerDE commented on #440
@amihaiemil I wanted to say that when reading a YamlMapping from a YamlInput no comments get moved into the mapping. And yes I am using the latest version. I started with the project today.

[2021-02-19 14:31] amihaiemil commented on #440
@AlexProgrammerDE here is the comments documentation (how to build and read them): https://github.com/decorators-squad/eo-yaml/wiki/Support-For-Comments

Your example has another problem:

[code]

In your example the comment ``# test`` refers to the YAML Mapping ``test: true``. Then, the comment ``# test2`` refers to the ``test2: false`` YAML mapping.

You probably expect the comment ``# test`` to

[2021-02-19 14:32] amihaiemil commented on #440
@AlexProgrammerDE If I still didn't understand your problem, please provide a unit test of your particular case. So build your YamlMapping and make some assertions, so I can understand what you expect.

[2021-02-19 16:10] piet8stevens commented on #439
The yaml content is in the 2 attachments in my first post (simplifiedSounds.yml.txt and simplifiedSounds-shortened.yml.txt). With the first attachment, the program works, with the second it does not.

The code to read it is as as per #430 and is thus:

in class SimplifiedAllSounds:

        public static SimplifiedAllSounds getFromEOYaml() {
            File customAudioDir = new File(Environment.g

[2021-02-19 16:27] AlexProgrammerDE commented on #440
@amihaiemil It seems to work seamlessly now. I didn't notice that only yamlsequances were allowed to have comments above them. Doing as you said:
[code]
Works great. The comments get merged together with their node into the mapping. Thanks for this awesome project!

[2021-02-19 16:27] #440 closed

[2021-02-19 16:31] amihaiemil commented on #440
@AlexProgrammerDE happy to help :)

[2021-02-19 16:33] amihaiemil commented on #439
@piet8stevens ok, let's forget about issut #430. I never read that code there.

Can you provide a simple unit test with the assertions which fail?

[code]

[2021-02-19 16:53] criske commented on #439
@piet8stevens What Android API your app is targeting? With what device did you tested?

I couldn't reproduce the bug. Tested in emulator targeting API 28 and files are loaded from test assets instead.
Used kotlin, but that doesn't matter
[code]
for both files, I'm getting `VariableFrequencyCount` in log.

[2021-02-19 17:57] charlesmike commented on #440
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-20 07:01] piet8stevens commented on #439
I will try to create a test that fails today.

@criske Can you try that with the full simplifiedSounds.yml. With the simplifiedSounds-shortened.yml, it also works for me.

[2021-02-20 07:20] criske commented on #439
@piet8stevens as I mentioned above, I've tested with both files.

[2021-02-20 09:47] piet8stevens commented on #439
I am trying to reproduce based on your code but am running in some dependency problems for junit 1.3.0. I use gradle but for some reason, when trying to run the test, I get an error message that junit 1.3.0 cannot be found in locations ending in .pom. I only use maven for jitpack.io so not sure why it is trying to find junit in maven related locations. Could that come via eo-yaml?

[2021-02-20 09:49] piet8stevens commented on #439
CompileSDK version is 28.
I run my software on various devices. It fails on all. One example: on Android 10 (Samsung A21 phone).

[2021-02-20 10:12] criske commented on #439
@piet8stevens I'm using the default gradle  `dependencies` added by Android Studio (4.1.1) when a project is created.
[code]
Also
`testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"` should be in `android.defaultConfig`

The test is run in `ExampleInstrumentedTest` created by IDE in `androidTest` dir.
[code]

I'll try to run it on device as app just to just make sure.
Btw, not sur

[2021-02-20 10:43] piet8stevens commented on #439
Thank you. I can run the test and it passes with simplifiedSounds.yml.

I will now try to replicate the fail in my main code in this test (or hopefully find the bug in my code).

[2021-02-20 10:57] criske commented on #439
@piet8stevens I can confirm it works on device/emulator as app too.

Here is the gist:
https://gist.github.com/criske/206c8b1f2ceddb154ae55a01d5d34433

[2021-02-20 12:08] piet8stevens commented on #439
Well, I have looked further into this and must apologize for having raised a false alarm. Also in my main code, this works. What confused me was still that I get a debugger message re. invalid method.

Thank you for your help and again sorry for making you waste time.

[2021-02-20 12:08] #439 closed

[2021-02-20 16:00] charlesmike commented on #439
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-22 02:37] charlesmike commented on #434
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-27T19:57:44). You are past the first half of the allowed period.

[2021-02-27 19:18] charlesmike commented on #434
@amihaiemil Looks like you've missed the task deadline (2021-02-27T19:57:44). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-27 19:18] charlesmike commented on #434
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-03-03 07:21] wenfei3 opened #441 "How to read complex comments"
Hi, I have tried to use the eo-yaml,it's feel greate! I found a question when I tried to read comments.

Here is my yaml:

[code]

My code is :

[code]

I can read the no.1, no.3, no.5 comments from `project`,but there is no no.2 and no.4.
My question is how to read no.2 and no.4 with eo-yaml?

Thanks for any reply!

[2021-03-03 07:21] charlesmike commented on #441
@wenfei3 thank you for reporting this. I'll assign someone to take care of it soon.

[2021-03-03 07:23] charlesmike commented on #441
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T09:23:23.390844``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-03 09:41] amihaiemil commented on #441
@wenfei3 comment ``#2`` cannot be read at the moment, because in the eo-yaml's logic, it doesn't refer to any object.

Comment ``# 4`` refers to the ``appkey: appkey`` YamlMapping. So if you can read the ``appkey: appket`` paid ar its own mapping, then you will have the comment.

More about comment ``# 2`` - in eo-yaml, comments which are inline, are for scalars. So in this case, the comment doesn

[2021-03-03 09:41] #441 closed

[2021-03-03 13:53] charlesmike commented on #441
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-01 15:11] zoeself opened #442 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2021-04-01 15:12] #442 closed

[2021-04-28 06:34] LeoColman opened #444 "Add instructions gradle instructions"
The README file contains the instructions to add the library to a maven project (`pom.xml`), but it could help gradle users if we could add instructions on how to add to gradle there too.

[2021-04-28 06:34] zoeself commented on #444
@LeoColman thank you for reporting this. I'll assign someone to take care of it soon.

[2021-04-28 06:35] zoeself commented on #444
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-08T06:35:29.189712``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-28 06:53] amihaiemil commented on #444
@LeoColman done. I also updated the release script so the version in the gradle snippet will be updated automatically.

[2021-04-28 06:53] #444 closed

[2021-04-28 09:04] sta-szek opened #445 "Optional quoting"
Hi guys,
we are using this great library(!) to generate configuration files for our microservices.

It works perfectly and we have no issues with that, but there is one thing that we could improve in generated files.

Basically this is what we get after using YamlBuilders to create yaml file:

[code]

as you can see, some of the key/values are quoted -- `"`.

Is there a poissibility to always skip

[2021-04-28 09:05] zoeself commented on #445
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-08T09:05:29.155851``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-28 09:32] amihaiemil commented on #445
@sta-szek There is no option to unquote them. There were lengthy discussions around here about special characters and quotation, so we decided to just quote (escape) any string (key or value) which contains YAML special characters such as ``:`` or ``-``.

However, don't forget that both YamlMapping and YamlSequence are interfaces, so you can most likely write your own decorator which would remove

[2021-04-28 10:15] zoeself commented on #444
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-28 10:28] sta-szek opened #446 "Issue with comments"
Hi guys,
looks like release `5.1.5` has a breaking change for comments. Our tests start to fail after upgrade.

So version `5.1.4` tests are passing:

[code]

And version `5.1.5` reports test failure:

[code]

The test code is:

[code]

is there anything that changed in the API / behaviour of library? I think it is directly related to issue: https://github.com/decorators-squad/eo-yaml/issues/393 a

[2021-04-28 10:28] zoeself commented on #446
@sta-szek thank you for reporting this. I'll assign someone to take care of it soon.

[2021-04-28 10:29] sta-szek commented on #445
I see, thanks for providing detailed explanation and customization example! 🚀

[2021-04-28 10:29] #445 closed

[2021-04-28 10:35] amihaiemil commented on #446
@sta-szek Does it behave the same with version 5.1.9 (the latest)?

Also, if I remember well, the following code:

[code]

Should build a YamlMapping that would print as follows:

[code]

Which is correct because ``comment`` refers to the mapping, it's on top of it.

[2021-04-28 10:35] zoeself commented on #446
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-08T10:35:29.160198``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-28 10:48] sta-szek commented on #446
Sorry, forgot to add.
Of course version `5.1.9` does not work -- i was downgrading and looking for last working version, then I found related PR.

And you are right about the YamlMapping, but looks like with version `5.1.5` and above it will print:

[code]

[2021-04-28 10:52] amihaiemil commented on #446
@sta-szek yes, I think the change was done because we were having a hard time differentiating between document comments (the first comment referring to the whole document) and the comment referring to the first element.

So I think it's correct as it is now, right? If your whole document consists of ``"key-1": "value-1"``, then that comment refers to it implicitly.

[2021-04-28 10:55] amihaiemil commented on #446
@sta-szek So I think if you just update the assertion to reflect the change, everything should be fine. Or is there something else?

[2021-05-03 03:12] zoeself commented on #446
@criske Don't forget to close this ticket before the deadline (2021-05-08T10:35:29). You are past the first half of the allowed period.

[2021-05-04 09:29] sta-szek commented on #446
I am also not familiar with comments in yaml. Reading https://yaml.org/spec/1.2/spec.html#id2780069 does not tell me much, but i dont see that comment on whole file should be followed by `---` and AFAIK the `---` means new file in yaml. Having said that it sounds more like a bug.
Previous behaviour of `comment(str)` method was adding comment before key-value
Current implementation created new file

[2021-05-04 09:50] amihaiemil commented on #446
@sta-szek It was an intentional change, we decided that the first added comment will refer to the whole file (that's why it's before the ``---``, which marks the beginning of the file).

If the start of file is not marked by ``---``, then we cannot know if the first comment refers to the whole file or to the first element/mapping.

We had some complaints about this as well, that's why the change w

[2021-05-08 15:12] zoeself commented on #446
@criske Looks like you've missed the task deadline (2021-05-08T10:35:29). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-05-08 15:12] zoeself commented on #446
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-18T15:12:27.850914``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-13 03:12] zoeself commented on #446
@amihaiemil Don't forget to close this ticket before the deadline (2021-05-18T15:12:28). You are past the first half of the allowed period.

[2021-05-18 15:36] zoeself commented on #446
@amihaiemil Looks like you've missed the task deadline (2021-05-18T15:12:28). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-05-18 15:36] zoeself commented on #446
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-05-20 13:18] moovoo opened #447 "Unable to read sequence of mappings"
gradle dependencies:
`implementation 'com.amihaiemil.web:eo-yaml:5.1.9'`

test source code:
[code]

Output:
[code]

test1.yaml:
[code]
test2.yaml:
[code]
test3.yaml:
[code]

Expected result for test2 would be Size=3 and 3 mappings, but for some reason the lib finds only one.
But If I put single string as first item in the sequence the lib would find all other mappings (test3)

[2021-05-20 13:18] zoeself commented on #447
@moovoo thank you for reporting this. I'll assign someone to take care of it soon.

[2021-05-20 13:26] zoeself commented on #447
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-30T13:26:41.482809``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-20 13:30] amihaiemil commented on #447
@moovoo there must be a bug, we'll try to fix it. In the meantime, try the following indentation:

[code]

If I am not mistaken, we had a similar bug earlier and the above indentation fixed it.

[2021-05-20 13:34] moovoo commented on #447
@amihaiemil thanks for the tip, this indentation way works fine

[2021-05-21 12:02] amihaiemil commented on #446
@sta-szek I'm closing this if you don't mind. Feel free to open another issue if anything :D

[2021-05-21 12:02] #446 closed

[2021-05-21 12:02] #405 closed

[2021-05-21 12:09] amihaiemil opened #449 "Release 5.2.0"
Changelog:

#447

[2021-05-21 12:10] amihaiemil opened #450 "Add OpenJDK 17 EA to Travis"
let's add it.

[2021-05-21 12:11] zoeself commented on #450
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-31T12:11:01.621679``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-21 12:11] zoeself commented on #450
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-21 12:34] amihaiemil commented on #450
fixed

[2021-05-21 12:34] #450 closed

[2021-05-21 12:34] amihaiemil commented on #449
@rultor release it, tag is `5.2.0`

[2021-05-21 12:35] rultor commented on #449
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24518-845919195)

[2021-05-21 12:36] zoeself commented on #450
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-21 12:41] rultor commented on #449
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24518-845919195) (took me 5min)

[2021-05-21 12:45] #449 closed

[2021-05-21 12:49] amihaiemil commented on #447
@moovoo we just released version ``5.2.0`` with a fix for this bug. Now it should work fine.

Feel free to open another Issue if you still have problems :D

[2021-05-21 12:49] #447 closed

[2021-05-21 13:06] zoeself commented on #447
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-24 14:16] zoeself opened #451 "RtYamlInput.java: Refactor solution for #447 by..."
The puzzle ``-1396892117`` originating from #447 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/acb32cfa66a2a0cdf50270d52a9a72187a480f51/src/main/java/com/amihaiemil/eoyaml/RtYamlInput.java#L126-L126

"Refactor solution for #447 by using lines iterators.".

The puzzle was created by cristianpela at ``2021-05-21 15:11:35 +0300``.
Estimation is ``60 minutes``.
If you have any

[2021-05-24 14:17] amihaiemil commented on #451
@zoeself remove

[2021-05-24 14:17] zoeself commented on #451
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-06-03 21:06] Korne127 opened #452 "Scalar Multiline Comment Should Be Concatenated"
For many purposes, it can be helpful to have longer and more detailed comments for single scalars as the comments for Mappings and Sequences are.

Right now it is not possible to add comments before scalars as comments are before maps and lists, the only possible comments for scalars are inline comments.
The creation of multiline comments for scalars isn't possible as well and leads to the bug tha

[2021-06-03 21:06] zoeself commented on #452
@Korne127 thank you for reporting this. I'll assign someone to take care of it soon.

[2021-06-03 21:16] zoeself commented on #452
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-13T21:16:30.763601``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-06-03 23:18] Korne127 commented on #452
Hey, I proposed a fix of this in #453.
I mainly opened this issue as in the CONTRIBUTIND.md stated you should open an issue first before opening a pull request.
As I wrote in the pull request, I haven't resolved the reading of the comments correctly yet. So there is still need to see how to parse the comments in any case and in an optimal solution to save the placement of the comments in the ReadC

[2021-06-04 12:03] amihaiemil commented on #452
@Korne127 Thank you for your contribution. Let's try to break it down, because there are more things here.

First:

Right now when you try to add a Scalar with a comment which contains several lines the generated Yaml is not valid:
It looks like this

[code]

This is clearly a bug which needs to be solved, but the solution is very simple: remove the newlines from the scalar comment when building t

[2021-06-04 12:03] amihaiemil commented on #452
@criske can you please provide a PR for my comment above, when you have some time? :D

[2021-06-04 12:15] amihaiemil opened #454 "Possibility To Read The Commet Before Scalar"
This is a new Issue derived from #452, for discussion.

[2021-06-04 12:22] Korne127 commented on #452
@amihaiemil Yeah, you are right, that is a bug. And it is kind of independent to the other proposal of the added feature so I thought it make sense to mention both.
In my proposed solution for this, #453, I added both the possibility to use comments before the scalar and fixed this bug (by replacing line breaks with spaces for inline comments).

[2021-06-04 12:25] amihaiemil commented on #454
@Korne127 Comments in YAML are very sensitive and tricky topic. For example, you built the following YAML and want to read it back:

[code]

When reading it, how do you know if the comment is referring to the ``oneValue`` scalar or to the overall mapping? The answer is: you do not know.

So therefore, we have the rule that a comment *before* a complex node (mapping or list) belongs to that node, a

[2021-06-04 12:54] Korne127 commented on #454
To begin about talking about the usefulness of this feature, I would argue that comments aren't a secondary topic. For configuration files, comments are from a severe importance as they can explain the different entries and their meanings in an exact way. And yaml is used at least in a big part for configuration files.
Therefore it already surprised me that this is the only big Java Yaml parser th

[2021-06-04 13:18] amihaiemil commented on #454
@Korne127 It's not that easy, because eo-yaml is not actually a parser, it is a traverser. It reads the input and then uses many different implementations of YamlLines to traverse the lines in order find nodes and comments.

And when it comes to comments, those YamlLines are always looking on top of the node (if it's a mapping or sequence) and after the node (inline) if it's a Scalar.

Here is you

[2021-06-04 13:30] amihaiemil commented on #454
@Korne127 If you look here: https://github.com/decorators-squad/eo-yaml/blob/dbafa95d64a333c59b45706946c0024657f764c1/src/main/java/com/amihaiemil/eoyaml/ReadPlainScalar.java#L133

You see, the comment of a read plain scalar is made up of a single line (the line where the scalar is): the class Skip is used and all the lines except the scalar lines are ignored.

I will try to modify this method, to

[2021-06-04 14:25] Korne127 commented on #454
Yeah, the point I stressed was just that it’s possible to do that without any configuration or any increased complexity for the user (with setting flags or such). I guessed that the code needs to be adjusted.
I need to admit, I don’t quite get your Code comments though. Probably I misunderstand / misinterpret it but if not that, either you made a mistake or this library would read differently than

[2021-06-04 15:57] amihaiemil commented on #454
@Korne127 sorry for the confusion, it's possible that I made a mistake in my last comment. I have to review the code, it's been a long time since I worked on it :D

[2021-06-04 16:08] amihaiemil commented on #454
@Korne127 Yes, I think it's as I said in the previous comment:

[code]

Indeed, the comment is written on the build(...) method of the oneMap node. But the comment itself refers to the *value* of the key ``oneMap``, which is the mapping node ``childMap``.

So in order to read the comment, you first have to read the ``childMap`` node, like this:

[code]

And if we go to the last key:value pair:

[c

[2021-06-05 00:22] Korne127 commented on #454
Okay. I think we mean the same thing, it is just saved in a bit unintuitive (for me) way, but the comment still technically describes the map/scalar/sequence directly under it (in which's build method it's used).

If you will add a possibility to read those, there is one thing to think about though:
I added in #453 a way to create and print such comments before scalars. The way I have implemented

[2021-06-05 18:45] amihaiemil commented on #454
@Korne127 I see 3 topics:

1. the existing bug with multi-line scalar comment, this will be fixed.
2. reading the comment from above a scalar.
3. Now we have a problem, as you pointed out: a scalar can have a comment above it and one inline. If a scalar has both comments, I think it's best if we give priority to the inline comment, because it's closer to it and it's also the existing behaviour.

I

[2021-06-05 20:36] amihaiemil commented on #452
@criske pls dont do anything, I am working on a change which will fix this as well :)

[2021-06-05 20:36] amihaiemil commented on #452
@zoeself remove

[2021-06-05 20:36] zoeself commented on #452
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-06-05 21:59] Korne127 commented on #454
Okay.
First of all, thanks for that all and nice that this will be implemented in any way.

Well, that is a bit sad ( :( ) but I can understand, especially if it lacks tests which you have as a requirement and you want to add the features in a different way. I would add to the CONTRIBUTING.md that tests are necessary though, as there was no information about this requirement.

Yeah, I get that log

[2021-06-06 06:11] amihaiemil commented on #454
@Korne127

Well, CONTRIBUTING states that you should open an Issue before making a Pull Request: the idea here is to *discuss* before making any changes. :D

About the size of the PR: the rule of 5 files is for a few reasons:

1. Bugs. If the PR is very big, there are many chances that a bug was introduced. The maller the PR, the less chances for bugs.
2. OOP and encapsulation. Changing many files

[2021-06-06 07:06] amihaiemil opened #456 "Release 5.2.1"
Changelog:

#454
#457
#458
#463
#465
#464

Scalars can have 2 comments: 1 above and 1 inline.
Read them both and concatenate them if they exist. The user can also cast the Comment to ScalarComment and have access to them individually.

Modified printing logic for scalar comments: the above Comment is printed above the scalar and the inline one is printer inline.

[2021-06-06 07:10] #454 closed

[2021-06-06 07:10] zoeself opened #457 "YamlMappingCommentsPrintTest.java: Modify the printing logic for..."
The puzzle ``868738891`` originating from #454 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/e11684556bae4874054de4294ed66b73e1c80040/src/test/java/com/amihaiemil/eoyaml/YamlMappingCommentsPrintTest.java#L47-L49

"Modify the printing logic for scalar comments: if the comment contains line breaks, write it above the scalar. If the comment has no line breaks, write it inline,

[2021-06-06 07:11] #452 closed

[2021-06-06 07:16] zoeself commented on #457
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-16T07:16:32.338729``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-06 10:49] Korne127 commented on #454
I mean, yeah, you are right. That was a bit of a misunderstanding. That someone got _assigned_ to do this gave me the feeling that someone was supposed to program that now, so it created big pressure on me to directly do it as my plan was to prevent that unnecessary work. I just misunderstood what was meant then.

So what I could catch by your explanation is just that a pull request should (in you

[2021-06-06 12:16] amihaiemil commented on #454
@Korne127

Yes exactly, the rule is basically one atomic change per Pull Requests. We also encourage commits within a Pull Request to be atomic (the build should pass after each commit, at least).

When you make structural changes: that's exactly the most important part, because it's where bugs are introduced more easily. We use TODOs a lot to break down the work. So yes, a structural change may t

[2021-06-06 12:18] amihaiemil opened #458 "Introduce interface ScalarComment"
Interface ScalarComment will extend interface Comment and provide methods above() and inline() to represent the 2 comments that a Scalar can have.

We will have only 1 implementation, ReadScalarComment (no BuiltScalarComment, we will not allow the user to specify 2 comments).

[2021-06-06 12:18] zoeself commented on #458
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-16T12:18:43.159233``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-06 12:18] zoeself commented on #458
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-06 12:19] amihaiemil commented on #454
@Korne127 Yes you're right... I think after all it's better to concatenate them. I opened #458 for this :)

[2021-06-06 12:59] #458 closed

[2021-06-06 12:59] zoeself opened #460 "ReadScalarComment.java: Use this class inside ReadPla..."
The puzzle ``2013048587`` originating from #458 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/9c8133b528887233ab0101950ee1a67a57ba3611/src/main/java/com/amihaiemil/eoyaml/ReadScalarComment.java#L35-L36

"Use this class inside ReadPlainScalar.comment() to read both the comment which is above and the one which is inline.".

The puzzle was created by amihaiemil at ``2021-06-06

[2021-06-06 13:06] zoeself commented on #460
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-16T13:06:29.737440``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-06 13:13] zoeself commented on #460
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-06 13:13] #460 closed

[2021-06-06 13:16] zoeself commented on #458
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-06 13:16] zoeself commented on #460
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-06 15:03] zoeself opened #463 "YamlMappingCommentsPrintTest.java: Continue modifying the printi..."
The puzzle ``-734249460`` originating from #457 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/0434a512e6bed42083c69c56bf151b095091a3ea/src/test/java/com/amihaiemil/eoyaml/YamlMappingCommentsPrintTest.java#L47-L48

"Continue modifying the printing logic for scalar comments: The above and inline comments should be printed properly.".

The puzzle was created by amihaiemil at `

[2021-06-06 15:03] #457 closed

[2021-06-06 15:03] zoeself commented on #457
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-06 15:05] amihaiemil opened #464 "Allow building of plain scalar with above and inline comment"
Let's add an overloaded method for building plain scalars with comments above and inline.

[2021-06-06 15:05] zoeself commented on #464
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-16T15:05:21.553470``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-06 15:05] zoeself commented on #464
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-06 15:06] amihaiemil commented on #464
@Korne127 I realized this won't be such a difficult task. We will also allow building of scalars with inline and above comment.

The current behaviour stays the same and if you use the existing method and pass a multiline comment it will be concatenated and written inlline. This is important to remain like this, to keep backwards compatibility.

[2021-06-06 15:06] zoeself commented on #463
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-16T15:06:29.805534``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-06 15:08] amihaiemil opened #465 "Rename ReadScalarComment to Concatenated"
This class doesn't really have anything to do with reading, it just concatenates the scalar's comments. Let's rename it.

[2021-06-06 15:08] zoeself commented on #465
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-16T15:08:50.844714``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-06 15:08] zoeself commented on #465
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-06 15:11] #465 closed

[2021-06-06 15:16] zoeself commented on #457
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-06 15:16] zoeself commented on #465
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-06 16:05] #464 closed

[2021-06-06 16:16] zoeself commented on #464
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-07 10:54] #463 closed

[2021-06-07 10:54] zoeself commented on #463
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-07 10:55] amihaiemil commented on #456
@rultor release it, tag is `5.2.1`

[2021-06-07 10:56] rultor commented on #456
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24596-855825539)

[2021-06-07 11:02] rultor commented on #456
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24596-855825539) (took me 5min)

[2021-06-07 11:03] amihaiemil commented on #456
@Korne127 I just released version 5.2.1. Have fun! :D

[2021-06-07 11:03] #456 closed

[2021-06-07 11:16] zoeself commented on #463
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-07 16:47] Korne127 commented on #456
Nice, thank you :D

[2021-07-12 12:40] roeltje25 commented on #413
This is still an issue. And a very frustrating one at that. Is there no one capable of fixing this? It should be relatively simple for someone familiar with the code. ( I am _not_ familiar with the code)

[2021-07-12 12:49] amihaiemil commented on #413
@roeltje25 I'll have a look into it as soon as possible. In the meantime, have you tried the latest version, 5.2.1? A workaround for this is to specify mappings in sequences at the next line after the ``-``. For example this is a sequence containing 2 elements which are mappings:

[code]

[2021-07-12 12:49] amihaiemil commented on #413
@zoeself add

[2021-07-12 12:49] zoeself commented on #413
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-07-12 12:53] amihaiemil commented on #413
@roeltje25 We recently merged [this PR](https://github.com/decorators-squad/eo-yaml/pull/448) which fixes #447 -- the two issues seem very similar to me. So please try version 5.2.1 and see if the bug is still present.

[2021-07-12 12:59] zoeself commented on #413
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-22T12:59:01.763162``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-07-17 00:19] zoeself commented on #413
@amihaiemil Don't forget to close this ticket before the deadline (2021-07-22T12:59:02). You are past the first half of the allowed period.

[2021-07-22 13:19] zoeself commented on #413
@amihaiemil Looks like you've missed the task deadline (2021-07-22T12:59:02). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-07-22 13:19] zoeself commented on #413
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-01T13:19:06.084266``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-07-27 00:19] zoeself commented on #413
@criske Don't forget to close this ticket before the deadline (2021-08-01T13:19:06). You are past the first half of the allowed period.

[2021-08-01 13:32] amihaiemil commented on #413
@zoeself status

[2021-08-01 13:34] zoeself commented on #413
@criske Looks like you've missed the task deadline (2021-08-01T13:19:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-08-15 03:33] Peng1104 opened #469 "Change Yaml Comment"
I have a program that is running whit the 5.2.1 version and a I need to change the comments of some of the Yaml Files that I have created, a update of the configuration documentation, the only way that I have found to change the comment of any YamlNode is by deleting the whole file and regenerating it, but this isn't a valid solution for me, I have tried using the MergedYamlMapping but it don't ch

[2021-08-15 03:33] zoeself commented on #469
@Peng1104 thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-15 03:38] zoeself commented on #469
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-25T03:38:34.953228``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-15 08:54] amihaiemil commented on #469
@Peng1104 all the objects created by the library are immutable, so you cannot change them.

You can only create new objects based on the existing ones, like the Merged* classes.

To change a comment in a YamlMapping, for example, you could write a decorator for it (YamlMapping and all others are interfacea).

However, modifying an existing file is not possible. Maybe you can override the contents

[2021-08-15 16:01] Peng1104 commented on #469
What I do is read the full Yaml file as a YamlMapping and than override it by writing on it the full new MergedYamlMapping, the problem is that there are no way of merging/overriding the comments inside or of the YamlMapping or of It self.

Example Code:

	public static void main(String[] args) throws IOException {
	    // Example Map Creation

	    YamlMappingBuilder builder = Yaml.createYamlMapp

[2021-08-16 06:43] amihaiemil commented on #469
@Peng1104

Right, I will have a look into it. In the meantime, try to use a decorator :D

[2021-08-20 00:08] zoeself commented on #469
@amihaiemil Don't forget to close this ticket before the deadline (2021-08-25T03:38:35). You are past the first half of the allowed period.

[2021-08-25 04:08] zoeself commented on #469
@amihaiemil Looks like you've missed the task deadline (2021-08-25T03:38:35). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-08-25 04:08] zoeself commented on #469
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-04T04:08:37.359159``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-08-26 07:54] amihaiemil opened #472 "Release 5.2.2"
#469

[2021-08-26 08:19] #472 closed, assigned to nobody

[2021-08-30 08:49] yaojiqunaer opened #473 "YamlStream Document Comment Repeats On Print"
version
[code]
load.yaml is:
[code]
my code
[code]

The output is
[code]
 so the comment repeat if there is only one yaml

[2021-08-30 08:49] zoeself commented on #473
@yaojiqunaer thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-30 08:56] yaojiqunaer commented on #473
if the yaml like this，more ---
[code]
the output is like
[code]

[2021-08-30 08:58] zoeself commented on #473
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-09T08:58:34.951313``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-30 09:22] amihaiemil commented on #473
@yaojiqunaer are you sure you want to use YamlStream? That is an unterface which represents more YAML documents in the same file (separated by ---). It is not an InputStream or anything like that.

For your care, I would use readYamlMappint()

[2021-08-30 09:44] yaojiqunaer commented on #473
I need to use JDK8 stream and work with multiple YAML combined files

[2021-08-30 09:57] amihaiemil commented on #473
@yaojiqunaer right. We'll have a look into it, thanks!

[2021-09-04 00:00] zoeself commented on #473
@amihaiemil Don't forget to close this ticket before the deadline (2021-09-09T08:58:35). You are past the first half of the allowed period.

[2021-09-09 09:00] zoeself commented on #473
@amihaiemil Looks like you've missed the task deadline (2021-09-09T08:58:35). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-09-09 09:00] zoeself commented on #473
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-19T09:00:35.682550``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-09-12 08:35] amihaiemil opened #475 "Release 5.2.3"
Containing fix for #473

[2021-09-12 08:42] amihaiemil commented on #475
@rultor release it, tag is `5.2.3`

[2021-09-12 08:45] rultor commented on #475
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25045-917591392)

[2021-09-12 08:52] rultor commented on #475
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25045-917591392) (took me 6min)

[2021-09-12 08:52] #475 closed

[2021-09-12 08:53] amihaiemil commented on #473
@yaojiqunaer We just released version 5.2.3 with a fix for this bug. Please feel free to open new Issues if you find other problems. Thanks!

[2021-09-12 08:53] #473 closed

[2021-09-12 09:00] zoeself commented on #473
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-16 08:19] amihaiemil opened #477 "Release 6.0.0"
Contains the following fix: https://github.com/decorators-squad/eo-yaml/pull/476

This release will break backwards compatibility for users who are implementing their own ``YamlNode`` - they will be required to implement the new ``public boolean isEmpty()`` method.

[2021-10-16 08:24] rultor commented on #477
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25188-944879651)

[2021-10-16 08:31] amihaiemil commented on #477
@rocket-3 thank you for your fix! Version 6.0.0 is released now.

[2021-10-16 08:31] #477 closed

[2021-11-17 15:47] rocket-3 commented on #384
@amihaiemil, why issue #368 is not present in the latest release?
Maybe there is some work to be done?
I need that feature and want to contribute, but can't figure out, what to do.

[2021-11-17 16:28] amihaiemil commented on #384
@rocket-3 that's a big feature which is not yet implemented and will require quite some architectural work before acrually writing code. Unfortunately I am very busy these days.

You need building/printing or reading, or both?

[2021-11-17 16:31] amihaiemil commented on #384
@rocket-3 actually I see we already started working on this functionality.

I will have a look these days and let you know how we proceed :)

[2021-11-17 16:52] amihaiemil commented on #384
@rocket-3 I will also write a documentation about the architecture.

In principle, the idea of this library is that data is not transformed or mapped. The idea is to not map/transform data or objects, but rather to have different implementations for different scenarios. It's an experiment (which seems to be succesful so far), based on the books "Elegant Objects" and "Object Thinking".

We have for

[2021-11-18 15:03] rocket-3 commented on #384
@amihaiemil Printing. Yeah, there's no actual problem reading Flow Mapping as Plain Scalar, ommiting `""`, but there's no way to skip `""` on printing.

[2021-11-29 05:31] superyuuki opened #478 "Cannot write scalars to a map"
I have some code which will place a indeterminate node into a YamlMapping. I use a Scalar to represent a scalar value such as an individual string. However, the library does not seem to accept writing scalar nodes from a YamlMapping.

The following code:
[code]
should produce the map
[code]

However using toString() on the map produced with that code results in:

[code]

[2021-11-29 05:31] zoeself commented on #478
@superyuuki thank you for reporting this. I'll assign someone to take care of it soon.

[2021-11-29 05:41] zoeself commented on #478
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-12-09T05:40:59.243779``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-11-29 05:54] superyuuki commented on #478
As it would turn out, the buildPlainScalar method takes a single argument being the **comment to use**, not the value - addLine adds that functionality. Not sure how i missed that!

[2021-11-29 05:54] #478 closed

[2021-11-29 06:00] zoeself commented on #478
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-29 11:13] Bkm016 opened #479 "Example 8.4 Chomping Final Line Break"
你好作者！
_Hello author!_

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/27818531/143857586-4036e72a-5e61-4dd7-96b9-80888b5bb42a.png">

我的配置文件书写格式如下：
_The format of my configuration file is as follows:_

[code]

输出结果如下：
_The output is as follows:_

[code]

请问如何正确的使用多行文本格式
_How to use multi-line text format correctly? 🤔️_

[2021-11-29 11:13] zoeself commented on #479
@Bkm016 thank you for reporting this. I'll assign someone to take care of it soon.

[2021-11-29 11:15] Bkm016 commented on #479
如果我使用下面的写法：
_If I use the following wording:_

[code]

将会输出：
_Will output:_

[code]

``TEST MESSAGE\n``

[2021-11-29 11:18] Bkm016 commented on #479
_我不确定他人是否已经反馈了该问题，因为我刚刚开始使用eo-yaml_
I’m not sure if others have reported this issue, because I just started using eo-yaml

当然也有可能是我的用法不对
_Of course it is also possible that my usage is incorrect_

😝

[2021-11-29 11:21] zoeself commented on #479
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-12-09T11:21:00.103388``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-12-01 14:04] Bkm016 opened #480 "Multi-line text reading error"
你好作者，我在使用过程中发现如下错误：
_Hello author, I found the following errors during use:_

[code]

Output:

[code]

[2021-12-01 14:04] zoeself commented on #480
@Bkm016 thank you for reporting this. I'll assign someone to take care of it soon.

[2021-12-01 14:07] Bkm016 commented on #480
你好，我的上一条反馈有何进展？
_Hello, what's the progress of my last feedback？_ 😘

[2021-12-01 14:10] amihaiemil commented on #480
@Bkm016 Sorry, but we are a bit full at the moment and will take a little time to respond to new issues.

However, we do accept pull requests. You could start by providing a Pull Request with a failing test, that would be the start for fixing this issue.

[2021-12-01 14:11] zoeself commented on #480
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-12-11T14:11:00.003174``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-12-04 00:00] zoeself commented on #479
@criske Don't forget to close this ticket before the deadline (2021-12-09T11:21). You are past the first half of the allowed period.

[2021-12-04 06:28] criske commented on #479
@zoeself resign

[2021-12-04 06:28] zoeself commented on #479
@criske ok, I'll find someone else to take care of it.

[2021-12-04 06:31] zoeself commented on #479
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-12-14T06:30:59.892770``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-12-06 00:00] zoeself commented on #480
@criske Don't forget to close this ticket before the deadline (2021-12-11T14:11). You are past the first half of the allowed period.

[2021-12-09 00:00] zoeself commented on #479
@amihaiemil Don't forget to close this ticket before the deadline (2021-12-14T06:31). You are past the first half of the allowed period.

[2021-12-11 06:04] criske commented on #480
@amihaiemil I'll take care of it today or tomorrow

[2021-12-11 14:30] zoeself commented on #480
@criske Looks like you've missed the task deadline (2021-12-11T14:11). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-12-11 14:31] zoeself commented on #480
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-12-21T14:31:02.126051``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-12-13 06:55] amihaiemil commented on #480
@zoeself remove

[2021-12-13 06:55] zoeself commented on #480
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-12-13 06:55] amihaiemil commented on #480
@zoeself add

[2021-12-13 06:55] zoeself commented on #480
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-12-13 07:01] zoeself commented on #480
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-12-23T07:00:59.777409``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-12-13 07:06] amihaiemil commented on #479
merged into branch master_479

[2021-12-13 07:10] amihaiemil opened #483 "Release 6.0.1"
#479
#480
https://github.com/decorators-squad/eo-yaml/pull/485

[2021-12-14 07:00] zoeself commented on #479
@amihaiemil Looks like you've missed the task deadline (2021-12-14T06:31). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-12-14 07:01] zoeself commented on #479
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-12-18 00:01] zoeself commented on #480
@criske Don't forget to close this ticket before the deadline (2021-12-23T07:01). You are past the first half of the allowed period.

[2021-12-23 07:30] zoeself commented on #480
@criske Looks like you've missed the task deadline (2021-12-23T07:01). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-12-23 07:31] zoeself commented on #480
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-01-02T07:31:02.158207``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-12-28 00:00] zoeself commented on #480
@amihaiemil Don't forget to close this ticket before the deadline (2022-01-02T07:31:02). You are past the first half of the allowed period.

[2022-01-02 08:00] zoeself commented on #480
@amihaiemil Looks like you've missed the task deadline (2022-01-02T07:31:02). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-01-02 08:01] zoeself commented on #480
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-01-13 12:41] sta-szek opened #484 "How to construct such yaml"
Hi, according to docs i think it is not possible, but just wanted to clarify with you.

I want to build such yaml:

[code]

However, the closest result i managed to achieve is:

[code]

with the following code:

[code]

Is that possible what i want to achieve? If so, i would appreciate any help 🙇

[2022-01-13 12:41] zoeself commented on #484
@sta-szek thank you for reporting this. I'll assign someone to take care of it soon.

[2022-01-13 12:51] zoeself commented on #484
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-01-23T12:51:00.402762``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-01-18 00:00] zoeself commented on #484
@criske Don't forget to close this ticket before the deadline (2022-01-23T12:51). You are past the first half of the allowed period.

[2022-01-18 14:28] iceBear67 opened #486 "Is there a way to process all nodes like a visitor"
~~im suck at english~~

I want to translate all comments and (string) values in my yaml,  so I found eo-yaml, which supports comment while others are not.

But, it seems always immutable and I didn't find any way to act as a visitor.  Is there a way to visit all node?

[2022-01-18 14:31] zoeself commented on #486
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-01-28T14:31:04.387377``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-01-18 14:48] amihaiemil commented on #486
@zoeself remove

[2022-01-18 14:48] zoeself commented on #486
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2022-01-18 14:49] amihaiemil commented on #486
@iceBear67 I don't think Visitor is supported out of the box (as you say, all objects are immutable). But you work only with Java Interfaces (YamlMapping, YamlSequence etc, are all interfaces), so you could most likely use Decorator Pattern :)

[2022-01-18 14:55] amihaiemil commented on #480
fixed with Pull Request: https://github.com/decorators-squad/eo-yaml/pull/482

[2022-01-18 15:05] amihaiemil commented on #479
fixed with https://github.com/decorators-squad/eo-yaml/pull/481

[2022-01-18 15:09] amihaiemil commented on #483
@rultor release it, tag is `6.0.1`

[2022-01-18 15:12] rultor commented on #483
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25440-1015506229)

[2022-01-18 15:18] rultor commented on #483
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25440-1015506229) (took me 5min)

[2022-01-18 15:24] amihaiemil commented on #479
@Bkm016 We released the fix for this with version ``6.0.1`` -- please try it out and feel free to report another Issue if you still have problems :D

[2022-01-18 15:24] #479 closed

[2022-01-18 15:25] #483 closed

[2022-01-18 15:26] amihaiemil commented on #480
@zoeself remove

[2022-01-18 15:26] amihaiemil commented on #480
@zoeself add

[2022-01-18 15:31] zoeself commented on #480
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-01-28T15:31:00.778370``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-01-18 15:32] #480 closed

[2022-01-18 15:49] iceBear67 commented on #486
alright,thanks

[2022-01-18 15:49] #486 closed

[2022-01-18 16:00] zoeself commented on #480
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-01-23 13:00] zoeself commented on #484
@criske Looks like you've missed the task deadline (2022-01-23T12:51). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-01-23 13:01] zoeself commented on #484
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-01-26 05:34] LOOHP opened #488 "Scalar issue regarding quoted colons"
Due to how the regex pattern and indexOf(":") are set up in ReadPlainScalar and ReadYamlMapping, keys and values like this isn't handled correctly. For example:
[code]
For values, it would match the last occurring ":". For keys, it will always match the first ":", disregarding whether it is quoted or not.

(I've forked to the repo to sort of fix it myself with a few changes)

[2022-01-26 05:34] zoeself commented on #488
@LOOHP thank you for reporting this. I'll assign someone to take care of it soon.

[2022-01-26 05:38] LOOHP opened #489 "Support for Single Line Sequences"
Are there plans to support Single Line Sequences? For example:
[code]
Right now, these are parsed as String/Scalars.

(I've also forked the repo to sort of get this working for personal use. Would love to pr if its ok)

[2022-01-26 05:38] zoeself commented on #489
@LOOHP thank you for reporting this. I'll assign someone to take care of it soon.

[2022-01-26 05:41] zoeself commented on #488
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-01-26 05:41] zoeself commented on #489
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-01-26 06:49] amihaiemil commented on #489
@LOOHP yep, it's in the plan. The problem is, I haven't had so much time for eo-yaml recently. I think I even started to implement the Flow Reading for YamlMapping [here](https://github.com/decorators-squad/eo-yaml/pull/392) (if I'm not mistaken, this ``{}``/``[]`` representation for mappings/sequences is called "flow").

Contributions are definitely welcome, but please try to follow the existing

[2022-01-26 06:50] amihaiemil commented on #488
@LOOHP It would be useful to submit a PR with a failing unit tests which illustrates this bug exactly. Then we have a good starting point for fixing : D

[2022-01-26 08:54] LOOHP commented on #488
I've submitted one test each for ReadPlainScalar and ReadYamlMapping which fails due to this bug.

[2022-01-27 04:03] LOOHP commented on #489
I can see the difference in style :P
I will try my best to follow.

[2022-02-18 05:16] superyuuki opened #491 "Preserve yaml line in node"
Is there a way for a yaml node to store the original line it was loaded at? It would be great for debugging configs.

[code]

you could take the node xy and it would tell you line 3

[2022-02-18 05:16] zoeself commented on #491
@superyuuki thank you for reporting this. I'll assign someone to take care of it soon.

[2022-02-18 05:21] zoeself commented on #491
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-02-20 00:15] superyuuki opened #492 "the yaml node is not a yaml mapping"
for some reason the string

[code]
YamlMapping pass = Yaml.createYamlInput(STRING_CONSTANT).readYamlMapping();
[code]

[2022-02-20 00:15] zoeself commented on #492
@superyuuki thank you for reporting this. I'll assign someone to take care of it soon.

[2022-02-20 00:21] zoeself commented on #492
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-03-05 08:59] olenagerasimova opened #493 "Escape asterisk as yaml sequence value"
Eo-yaml does not always escape asterisk while formattings yaml mapping object to string. The yaml example:
[code]
This is expected yaml string, however `*` is not escaped while calling `toString()` method on `YamlMapping` object currently by eo-yaml and thus the string representation is not a valid yaml.

[2022-03-05 08:59] zoeself commented on #493
@olenagerasimova thank you for reporting this. I'll assign someone to take care of it soon.

[2022-03-05 09:01] zoeself commented on #493
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-03-05 12:16] #491 closed

[2022-03-05 12:17] amihaiemil commented on #493
@olenagerasimova Can you please provide a pull request with a failing unit test? That would be a good start for fixing this issue.

[2022-03-14 15:51] lkoe opened #494 "Support bracket notation for mapping keys"
Other yaml libaries and - in extension - frameworks are supporting bracket notation for mapping keys containing non-standard characters.
For instance please see https://docs.spring.io/spring-boot/docs/2.1.6.RELEASE/reference/html/boot-features-external-config.html#boot-features-external-config-relaxed-binding (at the end of chapter)
I can't point to any place in the yaml spec, though - due to limi

[2022-03-14 15:51] zoeself commented on #494
@lkoe thank you for reporting this. I'll assign someone to take care of it soon.

[2022-03-14 15:58] amihaiemil commented on #494
@criske would you like to take care of this when you get some time? :D

[2022-03-14 16:33] lkoe commented on #494
@amihaiemil thanks for looking into this. I create a PR with a test case
https://github.com/decorators-squad/eo-yaml/pull/495

[2022-03-15 09:46] criske commented on #494
@amihaiemil sure, I'll have a look.

[2022-03-19 00:00] zoeself commented on #494
@criske Don't forget to close this ticket before the deadline (2022-03-24T16:01:06). You are past the first half of the allowed period.

[2022-03-24 16:31] zoeself commented on #494
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-03-24 16:33] criske commented on #494
@amihaiemil unfortunately didn't have time this week to work on it. I should be able this weekend.

[2022-04-12 05:13] DeltaOrion opened #497 "Ghost Comments"
Version: 6.0.1
Issue: Is a scalar node has both a comment and an inline comment, the next node will appear to have that same comment, even though it has no comments at all. For example if node B has an inline comment and the comment "hello world" above it and node C has no comments, then node C will also have the comment "hello world" even though it is not supposed to!

Given the following YML fil

[2022-04-12 05:13] zoeself commented on #497
@DeltaOrion thank you for reporting this. I'll assign someone to take care of it soon.

[2022-04-12 05:16] DeltaOrion opened #498 "Blank Line Comments skipped"
Version: 6.0.1
Issue: If a key has a comment with no content inside of the comment then that line and any above lines will not be counted as apart of comments for that node

When reading the following yaml file

[code]

When reading the comments from the node `key` using `YamlNode#comment()#value()` It only returns `[comment line 4]`. I believe it should return all 4 comment lines that being, `[co

[2022-04-12 05:21] zoeself commented on #497
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-04-12 05:21] zoeself commented on #498
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-04-12 05:39] DeltaOrion opened #499 "Duplicate Keys do not throw errors"
Version: 6.0.1
Issue: If a YAML file has duplicate keys it should be syntactically invalid. However using eo-yaml this is not spotted and no errors are thrown.

Given the file
[code]

Read with `YamlMapping mapping = Yaml.createYamlInput` will not throw any errors despite the duplicate keys!

This is not correct, some kind of error should be thrown when reading a syntactically incorrect file like

[2022-04-12 05:40] zoeself commented on #499
@DeltaOrion thank you for reporting this. I'll assign someone to take care of it soon.

[2022-04-12 05:41] zoeself commented on #499
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-04-12 08:54] amihaiemil commented on #494
@zoeself remove

[2022-04-12 08:54] zoeself commented on #494
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2022-04-12 08:54] zoeself commented on #494
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2022-04-12 08:55] amihaiemil opened #500 "Release 6.0.2"
Changelog

#494
https://github.com/decorators-squad/eo-yaml/issues/505

[2022-04-12 09:00] amihaiemil commented on #498
@DeltaOrion I'm no sure this is a bug. If I remember well, this was intended behaviour: blank lines and blank comment lines are ignored. Let's leave it open for a while and see if someone else has this issue or other opinion :D

[2022-04-12 09:01] zoeself commented on #494
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-04-22T09:01:02.823661``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-04-12 09:01] zoeself commented on #497
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-04-22T09:01:06.036471``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-04-12 09:01] zoeself commented on #499
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-04-22T09:01:08.589219``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-04-13 00:11] DeltaOrion commented on #498
https://yaml.org/spec/1.2.2/#comments

According to the YAML spec comments aren't associated to a particular node. But for having any kind of comment support it is only natural that it is attached to a node because comments are almost always there to describe the purpose of the node. Thus, As to whether this is intended behavior would really depend on your requirements. It seems more natural to me

[2022-04-17 00:00] zoeself commented on #494
@criske Don't forget to close this ticket before the deadline (2022-04-22T09:01:03). You are past the first half of the allowed period.

[2022-04-17 00:00] zoeself commented on #497
@criske Don't forget to close this ticket before the deadline (2022-04-22T09:01:06). You are past the first half of the allowed period.

[2022-04-17 00:01] zoeself commented on #499
@criske Don't forget to close this ticket before the deadline (2022-04-22T09:01:09). You are past the first half of the allowed period.

[2022-04-22 09:30] zoeself commented on #494
@criske Looks like you've missed the task deadline (2022-04-22T09:01:03). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-04-22 09:30] zoeself commented on #497
@criske Looks like you've missed the task deadline (2022-04-22T09:01:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-04-22 09:31] zoeself commented on #499
@criske Looks like you've missed the task deadline (2022-04-22T09:01:09). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-06-04 21:21] Peng1104 opened #503 "Javadocs Error / Builder problem"
I have a question about all the "add" methods in the `YamlSequenceBuilder` and the `YamlMappingBuilder` interfaces. In the documentation defines that their return value should be "This builder". By this I think it the functionality of the interfaces should be:

`YamlSequenceBuilderbuilder = ...`
`builder.add("value1").add("value2");`
`builder.add(...);`
`builder.build("Comment")`

But in the imple

[2022-06-04 21:21] zoeself commented on #503
@Peng1104 thank you for reporting this. I'll assign someone to take care of it soon.

[2022-06-04 21:31] zoeself commented on #503
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-06-05 07:22] amihaiemil commented on #503
@Peng1104 Right, the JavaDoc could be improved for more clarity, but we won't do just this in a separate ticket.

In short, all the objects in the library are (or should) be immutable, this is intentional, for a number of reasons, but in case of a builder in particular, this is very important for thread safety. Any immutable object is guaranteed to be thread safe by default.

This said, I'm aware

[2022-06-05 07:22] #503 closed

[2022-07-23 19:55] giraciopide opened #505 "Exception while reading sequences of mappings where the first mapping key contains a dash and is on the same line as the sequence dash"
Hi there!

Unfortunately, this:
[code]

fails for this input:

[code]

with this stacktrace:

[code]

The bug is in 6.0.1 and in master.

By bisecting I found out that it appeared int this commit 09795e3e5693827ab68b80bd580314fa15b1c403.

The problem is given by the dash in the key name.
I have a fix for it (trivial), and I will open a pull request shortly after I get the issue number here.

[2022-07-23 19:55] zoeself commented on #505
@giraciopide thank you for reporting this. I'll assign someone to take care of it soon.

[2022-07-23 20:01] zoeself commented on #505
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-07-23 20:06] giraciopide commented on #505
#506 is the pull request fixing this.

[2022-07-24 13:55] tkitynski opened #507 "Incorrect key value returned from the mapper"
For version 6.0.1, with the following YAML:
[code]
and code of:
[code]
I got this output:
[code]
In short: it looks like getting the name of a key from `YamlNode` obtained from `mapping.keys()` does not work as expected—or I misuse the API, but I haven't been able to find anything else which allows me to get the key name (also `key.toString()` produced exactly the same result).
Is this expected be

[2022-07-24 13:55] zoeself commented on #507
@tkitynski thank you for reporting this. I'll assign someone to take care of it soon.

[2022-07-24 14:01] zoeself commented on #507
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-07-24 14:22] tkitynski commented on #507
Uhm, I found out, that I need to call this sequence: `key.asScalar().value()` to get the key name—so probably it was my misuse of the API. If you don't find this case as some clue for simplifying the API, then it's okay to close this issue. Keep cool! :-)

[2022-07-24 14:32] amihaiemil commented on #507
The key is always a YamlNode, so yea, you need to tell it what it is, use .asScalar().

Otherwise, I can't tell you much, since it's ``var`` anywhere, I can't tell you exactly which object (interface) that is. Btw, using ``var`` ruins the whole beauty of this library :(

[2022-08-07 08:41] #507 closed

[2022-08-07 08:45] amihaiemil opened #508 "Release 6.0.3"
Changelog:

#413

[2022-08-07 08:47] #505 closed

[2022-08-07 08:48] amihaiemil commented on #494
@lkoe we're releasing version 6.0.2 right now, which should contain the fix for this, thanks!

[2022-08-07 08:48] #494 closed

[2022-08-07 08:48] amihaiemil commented on #500
@rultor release it, tag is ``6.0.2``

[2022-08-07 08:49] rultor commented on #500
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26443-1207360401)

[2022-08-07 08:49] rultor commented on #500
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26443-1207360401) (spent 20s)

[code]

[2022-08-07 08:51] amihaiemil commented on #500
@rultor release it, tag is `6.0.2`

[2022-08-07 08:52] rultor commented on #500
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26443-1207360764)

[2022-08-07 08:53] rultor commented on #500
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26443-1207360764) (spent 1min)

[code]

[2022-08-07 08:56] amihaiemil commented on #500
@rultor release it, tag is `6.0.2`

[2022-08-07 08:57] rultor commented on #500
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26443-1207361441)

[2022-08-07 09:01] rultor commented on #500
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/26443-1207361441) (took me 4min)

[2022-08-07 09:03] amihaiemil commented on #500
@giraciopide fyi, version 6.0.2 just released :)

[2022-08-07 09:03] #500 closed

[2022-08-07 16:37] giraciopide commented on #500
Thank you very much :)

[2022-08-17 08:32] amihaiemil opened #510 "Release 6.1.1"
Changelog:

#517
#518

[2022-08-18 07:58] amihaiemil commented on #508
@rultor release it, tag is `6.0.3`

[2022-08-18 08:00] rultor commented on #508
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26538-1219158224)

[2022-08-18 08:05] rultor commented on #508
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/26538-1219158224) (took me 5min)

[2022-08-18 08:13] amihaiemil commented on #508
@zsandoz your PR changes are released with version 6.0.3 now, thanks!

[2022-08-18 08:13] #508 closed

[2022-08-18 08:13] amihaiemil commented on #413
Released with version 6.0.3

[2022-08-18 08:13] #413 closed

[2022-08-19 06:44] amihaiemil commented on #510
@zoeself status

[2022-08-19 06:44] zoeself commented on #510
@amihaiemil this ticket is not registered as a task, therefore I'm not working on it at the moment.

If you want me to take care of it, assign it to me or say "register".

[2022-08-19 21:31] zoeself commented on #498
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-08-22 06:51] amihaiemil opened #512 "Add Option For Mutable Builders"
Some users complain about the memory usage of our immutable builders.

Let's add the option to build YAML Sequence/Mapping using a mutable builder (``Yaml.createMutableYamlSequenceBuilder()`` and ``Yaml.createMutableYamlMappingBuilder``).

[2022-08-22 06:51] zoeself commented on #512
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-09-01T06:51:15.920001``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-08-22 06:51] zoeself commented on #512
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2022-08-22 14:26] amihaiemil commented on #512
@zoeself status

[2022-08-22 14:26] zoeself commented on #512
@amihaiemil this ticket is assigned to @amihaiemil since ``2022-08-22T06:51:16`` and it should be closed until ``2022-09-01T06:51:16``. Estimation is ``60`` minutes.

[2022-08-23 11:30] Peng1104 commented on #512
@amihaiemil Do you know any standar SortedMap that is Thread safe? Also if not to use the Collections#syncronized(...) do you know any other implemation of List that satisfy the safe Thread?

[2022-08-23 11:32] amihaiemil commented on #512
@Peng1104 no and no, sorry.

But my plan here is to just add the mentioned methods and classes MutableYamlMapping/SequenceBuilder.

[2022-08-23 12:13] Peng1104 commented on #512
@amihaiemil I was trying to implement this Mutable classes in a thread safe way, I am using the Collections#syncronedMap(...) and the Colletions#syncronedList(...) but as you have pointed in #511 there is a problem when iterating over them as you need to synchronize the processes whit the returned wrapper.

[2022-08-27 00:00] zoeself commented on #512
@amihaiemil Don't forget to close this ticket before the deadline (2022-09-01T06:51:16). You are past the first half of the allowed period.

[2022-08-27 09:56] amihaiemil commented on #398
@filip26 we implemented mutable builders for sequence and mappings in #512 and it will be released today with version 6.1.0

[2022-08-27 09:56] #398 closed

[2022-08-27 09:58] amihaiemil opened #515 "Release 6.1.0"
Contains mutable builders for sequences and mappings: #512

[2022-08-27 09:59] amihaiemil commented on #368
Flow sequence started imlementation, still needs implementations for mappings and streams

[2022-08-27 10:00] amihaiemil commented on #515
@rultor release it, tag is `6.1.0`

[2022-08-27 10:01] rultor commented on #515
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26612-1229162667)

[2022-08-27 10:05] rultor commented on #515
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/26612-1229162667) (took me 4min)

[2022-08-27 10:09] amihaiemil commented on #515
@Peng1104 FYI 6.1.0 released with mutable builders

[2022-08-27 10:09] #515 closed

[2022-09-01 07:00] zoeself commented on #512
@amihaiemil Looks like you've missed the task deadline (2022-09-01T06:51:16). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-09-01 07:01] zoeself commented on #512
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-09-01 07:03] #512 closed

[2022-09-13 18:14] xiran2018 opened #516 "Help: about the format"
1: When I use createYamlMappingBuilder, the format of the generated yaml file is as follows, the horizontal line is above the name, I want the horizontal line and the name to be on the same line, I don't know how to modify it?

2:When I use createYamlMappingBuilder, when there is only one element, no horizontal line is generated, don't know why? How can I add horizontal [lines?
![WX20220914-021128

[2022-09-13 18:15] zoeself commented on #516
@xiran2018 thank you for reporting this. I'll assign someone to take care of it soon.

[2022-09-13 18:21] zoeself commented on #516
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-09-14 07:17] xiran2018 commented on #516
Anyone can help me?

[2022-09-14 07:40] amihaiemil commented on #516
@xiran2018

You cannot change the way the YAML is generated, unfortunately. But that format is also a correct YAML.

The YAML element mapped to ``proxy-groups`` is a Mapping, not a Sequence, that's why it doesn't have any ``-``. It's also a correct YAML, but maybe you build a mapping, when you wanted to build a sequence?

[2022-10-12 18:34] tomwhoiscontrary opened #517 "Misparsing of mapping entries containing colons"
If i parse this:

[code]

Then the second entry inside root has a key `colon-in-value: example.org` and a value `example.org:80`.

Perhaps the second entry is ambiguous. But that the `example.org` part appears in both the key and the value, which cannot possibly be right!

Here's a small program which reproduces this:

[code]

This prints:

[code]

I think it should print:

[code]

[2022-10-12 18:34] zoeself commented on #517
@tomwhoiscontrary thank you for reporting this. I'll assign someone to take care of it soon.

[2022-10-12 18:41] zoeself commented on #517
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-10-20 14:44] lkoe opened #518 "Support Spring property reference notation"
If a yaml file contains a scalar value containing both $ and : it cannot be parsed anymore, using 6.0.3/6.1.0

Example:

[code]

(This is spring lingo for "use environment variable MODULE_LOGGING_TARGET or stdout as default if not set)

Leading to:

[code]

Also, for this exception it doesn't seem to matter if the value is quoted or not

[2022-10-20 14:44] zoeself commented on #518
@lkoe thank you for reporting this. I'll assign someone to take care of it soon.

[2022-10-20 15:13] amihaiemil commented on #517
@tomwhoiscontrary Can you please make a Pull Request with your usecase imposed as a unit test? This is usually the first step of fixing a bug.

Also, have you tried escaping the value with quotes? As in: ``colon-in-value: "example.org:80"``? I think it should definitely work this way.

[2022-10-20 15:14] amihaiemil commented on #518
@lkoe Thank you for reporting this. We'll try to fix this  but, in the meantime, would you be able to open a Pull Request with this bug as a (failing) unit test? This is usually the first step of fixing any bug.

[2022-10-21 05:52] lkoe commented on #518
Added PR https://github.com/decorators-squad/eo-yaml/pull/519 - didn't guess the PR number quite correctly in the tests javadoc comment

[2022-10-21 07:43] amihaiemil commented on #518
@lkoe Thank you for the pull request, we'll continue the fix based on this unit test. I'll let you know when a new version containing the fix is released, hopefully asap :D

[2022-10-28 08:00] amihaiemil opened #521 "Release 7.0.1"
Changelog:

https://github.com/decorators-squad/eo-yaml/issues/497

[2022-10-29 13:32] zoeself opened #522 "RtYamlInputTest.java: Fix the bug reported in 518, ..."
The puzzle ``-103786961`` originating from #518 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/5d01d132c5f1661c743b2385beeea0a736f05208/src/test/java/com/amihaiemil/eoyaml/RtYamlInputTest.java#L948-L949

"Fix the bug reported in 518, so that this unit test passes.".

The puzzle was created by amihaiemil at ``2022-10-29 16:32:19 +0300``.
Estimation is ``60 minutes``.
If you h

[2022-10-29 13:40] zoeself commented on #522
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-11-08T13:40:12.147832``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-10-29 13:50] #522 closed

[2022-10-29 13:50] zoeself commented on #522
Puzzle disappeared from the code, that's why I closed this ticket.

[2022-10-29 13:51] amihaiemil commented on #510
@rultor release it, tag is `6.1.1`

[2022-10-29 13:52] rultor commented on #510
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27737-1295842801)

[2022-10-29 13:56] rultor commented on #510
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/27737-1295842801) (took me 4min)

[2022-10-29 13:57] #510 closed

[2022-10-29 13:58] amihaiemil commented on #517
@tomwhoiscontrary a fix for this has just been released with version ``6.1.1``, please try it out. If you find other problems, feel free to open other issues. But try to write a unit test for your problem, this is always recommended.

@coder-hugo many thanks for your pull request!

[2022-10-29 13:58] #517 closed

[2022-10-29 14:00] amihaiemil commented on #518
@lkoe This issue seems to have been fixed together with https://github.com/decorators-squad/eo-yaml/issues/517. Your unit test passed after we merged that pull request.

It is now released with version ``6.1.1``, please try it out. Feel free to open other issues if you still have problems (it's always recommended to make a PR with a failing unit test when you open a new Issue).

[2022-10-29 14:00] #518 closed

[2022-10-29 14:19] zoeself commented on #522
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-10-31 09:28] lkoe commented on #518
@amihaiemil confirmed working with 6.1.1, thank you

[2022-11-14 09:47] amihaiemil opened #524 "Release 6.1.2"
Containing this fix: https://github.com/decorators-squad/eo-yaml/pull/523

[2022-11-14 09:47] zoeself commented on #524
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2022-11-14 09:47] zoeself commented on #524
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2022-11-14 09:54] amihaiemil commented on #524
@rultor release it, tag is `6.1.2`

[2022-11-14 09:57] rultor commented on #524
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/28452-1313397447)

[2022-11-14 10:01] rultor commented on #524
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/28452-1313397447) (took me 4min)

[2022-11-17 12:18] coder-hugo opened #525 "Empty entries are causing a YamlIndentationException"
My fix #523 did not solve all cases. There are other valid YAMLs that are causing a YamlIndentationException.

[code]

Currently the `WellIntended` just compares just the current with the previous line. I'd say to implement this properly it requires all the previous lines that do effect the indentation.

[2022-11-17 12:18] zoeself commented on #525
@coder-hugo thank you for reporting this. I'll assign someone to take care of it soon.

[2022-11-17 12:20] zoeself commented on #525
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-11-17 12:59] amihaiemil commented on #525
This seems like a very big change in the way YAML is read. A good start for a fix is always to provide a failing unit test, then we have a clear starting point. Would you be able to make a PR with a failing unit test covering this scenario?

Then I will have a look first. I don't remember exactly all the ``previousLine`` logic, but I remember it was a single line and putting more lines into it see

[2022-11-17 13:19] amihaiemil commented on #525
@coder-hugo by the way, eo-yaml has a ``guessIndentation`` flag somewhere. It tries to guess the correct indentation/association of elements instead of throwing an error - have you seen/tried this flag?

You can try this flag, but honestly I don't recommend it.

[2022-11-17 13:28] coder-hugo commented on #525
I agree with you, that the empty `item2` is useless. But the YAML we are parsing is a configuration file that can be edited by our customers. There are cases where customers have modified this configuration file and they haven't removed the key of a mapping or sequence after removing all its items. The YAML is still valid although the empty key makes no sense. So failing in this case is not an opt

[2022-11-17 14:09] amihaiemil commented on #525
@coder-hugo Please, make a PR with a failing unit test if you have the time, it would be helpful anyway :D

[2022-11-19 17:20] amihaiemil commented on #525
Merged unit test to branch master_525, will look over it as soon as possible.

[2022-11-20 20:59] amihaiemil commented on #525
@coder-hugo I will make a PR and release for the ``test: |`` error.

However, empty keys within a mapping (``item2: ``) are quite tricky and will take a bit more time, but I'm already trying out a few ideas.

[2022-11-21 07:19] amihaiemil opened #528 "Release 6.1.3"
Release for first part of #525/#527 empty block/folded scalar within nested mapping).

[2022-11-21 07:21] zoeself opened #529 "WellIndented.java: Please make sure to allow key..."
The puzzle ``156228486`` originating from #525 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/62129969ac8f6f785babadc47385558474959e6c/src/main/java/com/amihaiemil/eoyaml/WellIndented.java#L65-L69

"Please make sure to allow keys with empty values in mappings. At the moment, if we cannot find the value on the same line, we always look beneath the key for more-indented lines

[2022-11-21 07:21] amihaiemil commented on #528
@rultor release it, tag is `6.1.3`

[2022-11-21 07:24] rultor commented on #528
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/28662-1321562377)

[2022-11-21 07:29] rultor commented on #528
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/28662-1321562377) (took me 5min)

[2022-11-21 07:30] zoeself commented on #529
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-11-21 07:38] amihaiemil commented on #528
@coder-hugo The first part of #525 is released. It will work for ``test: |``

[code]
However, it will still complain because of ``- item2: ``.
I will go on with this topic in ticket 529.

In the meantime, ask your clients or who is editting the YAML to never leave it empty, but instead add: ``- item2: null``, ``- item2: ''`` or ``- item2: ""``

[2022-11-21 07:38] #528 closed

[2022-11-21 07:39] amihaiemil commented on #525
First part released with 6.1.3. Continuing in ticket 529.

[2022-11-21 07:39] #525 closed

[2022-11-21 11:35] amihaiemil commented on #529
@coder-hugo I keep reading the YAML specification. The specification clearly states that children of a YAML node are dictated by indentation. So indentation is semantically important, it tells us which children bellow belongs to which parent from above. This was the whole reasoning behind the WellIndented logic in this library.

Furthermore, I read about empty nodes: https://yaml.org/spec/1.2.2/#7

[2022-11-21 14:11] coder-hugo commented on #529
@amihaiemil Thanks for your effort. So it looks like all the YAML editors and validators out there are not as strict as the YAML specification. At least all I've tested do not complain about this empty node.

BTW. the clients do not edit our config files. The config files are part of their projects and our application needs to parse them.

I understand why you don't want to change the behavior of

[2022-11-21 14:17] amihaiemil commented on #529
@coder-hugo There is the ``guessIndentation`` flag (added [here](https://github.com/decorators-squad/eo-yaml/pull/362))... however, this is a really strange functionality which I do NOT recommend. I don't even remember why I added it, but it's not ok at all.

I'll try to come up with a better alternative...

[2022-11-21 14:27] coder-hugo commented on #529
@amihaiemil Ok, I see that this is not easy to solve. For the moment I added some code on our side, that removes empty mappings from the input string before passing it to the YAML parser. But it would be nice to remove this at anytime ;)

[2022-11-22 09:21] amihaiemil commented on #529
@coder-hugo I'm not sure if you noticed, but the whole reading logic in eo-yaml is based on the YamlLines abstraction. We work with lines.

There are many YamlLines implementations/decorators, which work one on top of the other so transform and/or navigate the lines top-to-bottom, bottom-to-top, left-to-right etc.

Maybe you can implement your pre-parser as a YamlLines decorator? I am not sure, bu

[2022-11-25 20:04] amihaiemil commented on #529
@coder-hugo I found a solution for this! I'll make a release this weekend. It will be version ``7.0.0``, as it might be breaking for some users who rely on indentation validation. However, this release will be closer to the YAML spec: it will allow empty keys in mappings and will not mandante "2-by-2" indentation (that was actually not in the spec at all, it was my idea...).

Also, I will remove t