[2016-12-28 10:53] amihaiemil opened #1 "Add .travis.yml file"
Like the others, this project should use [Travis CI](http://travis-ci.org/).
To do that, we have to add a file called  ``.travis.yml`` containing build instructions.

For now, copy the one from eva, but without the ``jacoco:report coveralls:report``, only ``mvn clean install``

[2016-12-28 11:05] amihaiemil commented on #1
@salikjan

Yes, that is what I mean, work on a new branch (named after the ticket number), then commit and push that branch, **master is read-only** - nobody should directly commit on master, never.

**But** you missed the fork part - you work on a branch but to your repository... so making a fork means copying the repo under your name, you shouldn't clone this repo directly.

1) Fork it (see uppe

[2016-12-28 11:14] amihaiemil commented on #1
@salikjan care to do this one? Add that .travis.yml file (notice the dot at the beginning too), to see the workflow :D

[2016-12-28 11:16] salikjan commented on #1
yep. i almost did it. and after that i've read you comment about forking. so... doing again )
just a few minutes

[2016-12-28 11:21] salikjan commented on #1
I forked camel. Cloned it. Created new branch named 1. Added .travis.yml file. And commited to branch 1.
Then pushed.

[2016-12-28 11:36] amihaiemil commented on #1
@salikjan ok nice, now make a pull request. Go on your branch and on the right there should be a button

[2016-12-28 11:38] amihaiemil commented on #1
@salikjan This is basically how it should go. Every task should be solved like this, on a sepparate branch :D

[2016-12-28 11:38] salikjan commented on #1
I've already cerated PR. Awaiting ;)

[2016-12-28 11:40] salikjan commented on #1
A little bit confusing about branches.
How the process looks like?
I have to clone original https://github.com/amihaiemil/camel.git and pull from it?
Or just pull from forked repo?

[2016-12-28 11:41] salikjan commented on #1
And i mistyped in .travis.yml.

[2016-12-28 11:41] amihaiemil commented on #1
@salikjan Check your local repo, run the command:
``git remote -v``, you should see ``origin: ...`` - that is your forked repo.

Run
``git remote add upstream https://github.com/amihaiemil/camel.git``

This should add this repo as a remote to your local one. From time to time, especially now at the beginning, always pull the latest changes so you are sure you are synced

[2016-12-28 11:42] amihaiemil commented on #1
@salikjan there is always this triangle - you pull from this repo to your machine (after adding it as a remote) and you push to your forked repo. Then you make a PR and from your forked repo it gets merged to the original repo.

[2016-12-28 11:43] salikjan commented on #1
$ git remote -v
origin  https://github.com/salikjan/camel.git (fetch)
origin  https://github.com/salikjan/camel.git (push)
upstream        https://github.com/amihaiemil/camel.git (fetch)
upstream        https://github.com/amihaiemil/camel.git (push)

[2016-12-28 11:44] salikjan commented on #1
And after closing PR i can remove branch created for solving an issue... Yes?

[2016-12-28 11:44] amihaiemil commented on #1
Yes, sure

[2016-12-28 11:46] salikjan commented on #1
$ git pull upstream
You asked to pull from the remote 'upstream', but did not specify
a branch. Because this is not the default configured remote
for your current branch, you must specify a branch on the command line.

[2016-12-28 11:46] amihaiemil commented on #1
@salikjan

To get the latest changes from upstream, run

[code]

The first 2 commands fetch the latest to your local repo, and git push puts everything in your forked repo.

[2016-12-28 11:47] amihaiemil commented on #1
@salikjan Yes, there are of course more ways of doing the same thing. ``git pull`` should also work, it's the direct version of fetch/merge

[2016-12-28 11:48] salikjan commented on #1
Ok. Now i see.
I forked repo.
Created local branch from my master. Commited. Pushed. After closing PR i fetch original master branch and make changes to my forked master

[2016-12-28 11:50] amihaiemil commented on #1
@salikjan yes, and the part with

you should also do before starting work, to make sure you're working on the latest stuff.
You'll catch a really good understanding quickly, it's not complicated :)

[2016-12-28 11:53] salikjan commented on #1
@amihaiemil i already catched )) it becomes curiouser and curiouser )

[2016-12-28 11:57] amihaiemil commented on #1
@salikjan glad you like it.
I will add some puzzles, think about the architecture and everything.

I will assign you tasks soon (I'll tag you in a comment).
But don't stress about this. It's a project from which all of us can learn (YAML is new to me as well).
I think 15 days deadline for a task should be fine? I'm not sure, just saying.

Nevertheless, this should be something everyone should enjo

[2016-12-28 12:00] salikjan commented on #1
Ok )

[2016-12-28 12:03] #1 closed

[2016-12-28 12:03] amihaiemil commented on #1
@salikjan chat soon. Cheers and a Happy New Year!

[2016-12-28 15:38] amihaiemil opened #4 "Setup pom.xml"
pom.xml should be properly setup, with metadata, profile for release and profile for checkstyle.

[2016-12-28 21:11] #4 closed

[2016-12-29 09:32] amihaiemil opened #6 "Specification study"
[Here](http://yaml.org/spec/1.2/spec.html) is the latest YAML specification. We should all read it (at least fugitively) so we know we are on the same page when it comes to terms and what needs to be implemented overall.

cc: @salikjan

[2016-12-29 09:56] salikjan commented on #6
Yesterday i read that spec superficially. Nowadays i am going to read it more deeply.

[2016-12-30 10:42] amihaiemil commented on #6
@rodriguesmoises This is the repository for the yaml project I mentioned. If you want to contribute, it would be nice if you read the specification too, so we have a common basis.

I'll write a post soon, explaining more details about the workload, how a PR should look and stuff about code style.

[2016-12-30 10:52] amihaiemil opened #7 "Implement representation model"
According to the specification, the first (of the 3) YAML stages is a [Representation Graph](http://yaml.org/spec/1.2/spec.html#representation//).

We should start with that, implement Node, Sequence, Scalar and Mapping models which will be used in building a YAML object.

[2016-12-30 17:12] 0pdd opened #9 "AbstractNode.java:38-39: Implement and unit test Sequence node. S..."
The puzzle `7-2533d5cf` in `src/main/java/com/amihaiemil/camel/AbstractNode.java` (lines 38-39) has to be resolved: Implement and unit test Sequence node. See specification: http://yaml.org/spec/1.2/spec.html#sequence//

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 30-Dec-16.

Estimate: 60 minutes, role: DEV.

If you have any technical questions, don't ask

[2016-12-30 17:12] 0pdd opened #10 "AbstractNode.java:40-41: Implement and unit test Mapping node. Se..."
The puzzle `7-9899ae24` in `src/main/java/com/amihaiemil/camel/AbstractNode.java` (lines 40-41) has to be resolved: Implement and unit test Mapping node. See specification: http://yaml.org/spec/1.2/spec.html#mapping//

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 30-Dec-16.

Estimate: 60 minutes, role: DEV.

If you have any technical questions, don't ask m

[2016-12-30 17:13] #7 closed

[2016-12-30 17:37] amihaiemil opened #11 "Scalar.equals and Scalar.hashcode"
The 2 methods need to be implemented based on T. Also unit tests are required

[2016-12-30 20:49] amihaiemil opened #12 "AbstractNode.children() should be abstract"
The method should be abstract, implemented by each node type, which knows who its children are.

[2016-12-31 15:37] amihaiemil commented on #12
done

[2016-12-31 15:37] #12 closed

[2016-12-31 18:11] amihaiemil opened #14 "Implement abstract method value in AbstractNode<T>"
Add method

`` abstract T value();`` in class AbstractNode

naturally, AbstractNode becomes AbstractNode&lt;T&gt;

Afterwards, a [mapping](https://github.com/amihaiemil/camel/issues/10) and a [sequence](https://github.com/amihaiemil/camel/issues/9) should ``extend AbstractNode<Map<AbstractNode, AbstractNode>>`` and ``AbstractNode<Collection<AbstractNode>>`` respectively.

Initially, I wanted mappi

[2017-01-03 10:00] amihaiemil commented on #11
@rodriguesmoises Can you do this when you have time? Fork the repo and do the changes on a separate branch, named 11 (as the ticket number)

[2017-01-03 10:02] amihaiemil commented on #14
@salikjan Can you do this when you have time? :D

[2017-01-03 17:03] rodriguesmoises commented on #11
All right!
I will take a look as soon as I get home.

On Tue, Jan 3, 2017 at 7:00 AM, Mihai Emil Andronache <
notifications@github.com> wrote:

--
Técnico em Informática - IFCE
Computação - UFC
e-Dea Jr. - Empresa Júnior da Computacão - UFC
Skype: rodrigues.moises

[2017-01-04 21:00] amihaiemil commented on #6
@dwkielman This is a fresh project we've started some days ago. More complex tasks you will receive here, because when a project is new there are less bugs and it's easier to see and understand the architecture. You should also have a look over the specification, so you know the terms.

[2017-01-04 21:11] amihaiemil commented on #11
@rodriguesmoises Don't forget to read [this](http://www.amihaiemil.com/2016/12/30/becoming-a-contributor.html) before doing anything. It's not really the case now, since it's a very simple task. It's just important that you do the changes on a separate branch, **not on master**. And the branch should be named 11, as this ticket's number.

[2017-01-05 07:13] dwkielman commented on #6
@amihaiemil thanks for pointing me to this thread.  I have the YAML documentation bookmarked for reference and have looked over it to get an idea of what it exactly is doing and know the terms.  I'll let you know if I need any help in getting the first task started when you assign me one and will get the hang of things soon enough, and anyone please feel free to point me in the right direction if

[2017-01-05 07:18] amihaiemil commented on #6
Just so everyone knows, I'll move this repo to an organization, so I can assign more cranular rights to people and also properly assign tasks (since now the repo is under a simple user, I cannot actually "assign" a ticket, only tag people in the comments)

If you already forked the repo, no need to do anything since Github will redirect the requests.

[2017-01-05 08:14] 0pdd opened #15 "AbstractNode.java:38-39: Implement and unit test Sequence node. S..."
The puzzle `7-2533d5cf` in `src/main/java/com/amihaiemil/camel/AbstractNode.java` (lines 38-39) has to be resolved: Implement and unit test Sequence node. See specification: http://yaml.org/spec/1.2/spec.html#sequence//

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Mihai Emil Andronache on 05-Jan-17.

Estimate: 60 minutes, role: DEV.

If you have any technical questions

[2017-01-05 08:14] 0pdd opened #16 "AbstractNode.java:40-41: Implement and unit test Mapping node. Se..."
The puzzle `7-9899ae24` in `src/main/java/com/amihaiemil/camel/AbstractNode.java` (lines 40-41) has to be resolved: Implement and unit test Mapping node. See specification: http://yaml.org/spec/1.2/spec.html#mapping//

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Mihai Emil Andronache on 05-Jan-17.

Estimate: 60 minutes, role: DEV.

If you have any technical questions,

[2017-01-05 08:15] amihaiemil commented on #15
duplicate; it's a bug in 0pdd, see [here](https://github.com/yegor256/0pdd/issues/40)

[2017-01-05 08:15] #15 closed

[2017-01-05 08:15] amihaiemil commented on #16
duplicate; it's a bug in 0pdd, see [here](https://github.com/yegor256/0pdd/issues/40)

[2017-01-05 08:15] #16 closed

[2017-01-05 15:43] amihaiemil commented on #14
@salikjan I changed the task here, no need for an AbstractNodeCollection; it only complcates stuff. Sorry if you did aything so far - I'll try to avoid this sitiuation as much as possible next time :D

[2017-01-05 15:57] amihaiemil commented on #9
@dwkielman Please implement class Sequence which:
*  should extend AbstractNode
*  should encapsulate a ``Collection<AbstractNode>``
*  should have a method named ``value()`` which returns the encapsulated collection

Also, add a unit test class for it and write unit tests it (see ScalarTest as example)

Don't forget to apply the styling guidlines (most importantly, no TABs and lines no longer tha

[2017-01-05 19:53] amihaiemil commented on #6
@brinstong This is a fresh project we've started some days ago. More complex tasks you will receive here, because when a project is new there are less bugs and it's easier to see and understand the architecture. You should also have a look over the specification, so you know the terms.

[2017-01-09 06:58] salikjan commented on #11
Added unit tests for equals and hashCode. I never used JUnit before so i am not sure i've done it right.

[2017-01-09 07:32] amihaiemil commented on #11
@salikjan please, move the commit on branch 11 (not sure how, you'll have to look it up) and make a PR :D

[2017-01-09 08:54] salikjan commented on #11
@amihaiemil sorry. today is a first day after  long holidays. forgot the order of developing. trying to recall ))

[2017-01-09 08:56] amihaiemil commented on #11
@salikjan no worries ^^ I looked over your commit. It looks good, but I have a few comments - I'll let you know in the PR discussion.

[2017-01-09 08:58] amihaiemil commented on #14
@salikjan Have you done anything here? If not, leave it to me - this is a basis stuff and I want to spend some more time thinking about it (I should have done this from the start, but I hurried assigning tasks :) )

[2017-01-09 09:05] amihaiemil commented on #9
@dwkielman Please stof working on this (if you started anything).

I'll take this one - It's a basis stuff, I should have done it myself from the start. I want to spend some more time thinking about it. If we introduce a design bug in this stage, it will be a sad story later.

[2017-01-09 12:51] amihaiemil commented on #11
@rodriguesmoises as you probably saw already, this was solved by @salikjan .

@salikjan Now it was ok, since it was a small task, but generally, if you want to solve a task that you are not assigned to, please ask before. Since maybe, the assignee has already done something on it and it makes no sense that 2 people work on the same thing :D

[2017-01-09 12:55] #11 closed

[2017-01-09 13:27] dwkielman commented on #9
@amihaiemil I'll leave this one alone, if you have something else to assign me let me know and I can get to work on that one.  Thanks for the heads up.

[2017-01-09 13:29] amihaiemil commented on #9
@dwkielman sure. And sorry for the inconvenience :D

[2017-01-10 17:43] salikjan opened #19 "Remove unused code in ScalarTest and equalsAndHashCode()"
Code snippet is never used:

final Scalar<String> nullScalar = new Scalar<String>(
            Arrays.asList(Mockito.mock(AbstractNode.class)),
            null
);

[2017-01-10 17:53] amihaiemil commented on #19
@salikjan thanks for opening this!

I actually wanted to point out (I somehow forgot to mention it).
Any question you have about the code, anything you see that you don't understand or think could be improved - open an issue about it and we'll discuss it :)

[2017-01-10 17:53] amihaiemil commented on #19
@salikjan Should I assign this to you? :P

[2017-01-11 05:04] salikjan commented on #19
@amihaiemil yep )

[2017-01-11 06:51] amihaiemil commented on #19
@salikjan thanks :)

[2017-01-11 06:51] #19 closed

[2017-01-19 13:33] 0pdd commented on #15
The puzzle `7-2533d5cf` has disappeared from the source code, that's why I closed this issue.

[2017-01-19 13:33] 0pdd commented on #16
The puzzle `7-9899ae24` has disappeared from the source code, that's why I closed this issue.

[2017-01-19 13:39] amihaiemil commented on #14
done

[2017-01-19 13:39] #14 closed

[2017-01-19 13:39] amihaiemil commented on #10
done

[2017-01-19 13:39] #10 closed

[2017-01-19 13:39] amihaiemil commented on #9
done

[2017-01-19 13:39] #9 closed

[2017-01-19 14:06] 0pdd opened #22 "YamlMapping.java:35-39: Implement and unit test decorator Strict..."
The puzzle `6-74416683` in `src/main/java/com/amihaiemil/camel/YamlMapping.java` (lines 35-39) has to be resolved: Implement and unit test decorator StrictYamlMapping, which should throw YamlNodeNotFoundException if any of the methods of the decorated YamlMapping returns null (if the given key points to a YamlNode that is not a YamlMapping, for instance, or if the key doesn't exist in the map).

T

[2017-01-19 14:06] 0pdd opened #23 "YamlSequence.java:8-11: Implement and unit test decorator Strict..."
The puzzle `6-754324bd` in `src/main/java/com/amihaiemil/camel/YamlSequence.java` (lines 8-11) has to be resolved: Implement and unit test decorator StrictYamlSequence which should throw YamlNodeNotFoundException if any of the methods of the decorated YamlSequence returns null (if the given index points to a YamlNode that is not a YamlMapping, for instance).

The [puzzle](http://www.yegor256.com/2

[2017-01-19 14:08] amihaiemil commented on #23
@salikjan could you do this?

By the way, this is what I meant when I said issues are opened automatically. When a puzzle is left in the code, the 0pdd bot opens an issue for it and will also close the issue when the puzzle is removed from the code.

[2017-01-19 17:23] amihaiemil opened #24 "Implement class YamlMapperBuilder and YamlSequenceBuilder"
Builder pattern should be used to construct YamlNode instanses like RtYamlMapping and RtYamlSequence.
We want to be as close to the ``javax`` Json api as possible, thus a yaml construction should look like this.

[code]

[2017-01-19 17:26] amihaiemil commented on #24
@salikjan Have a look, let me know what you think :D
I'll do this one, just wanted to show you, so you have a better picture of what it should look like.

[2017-01-20 04:36] salikjan commented on #23
@amihaiemil yes, i'll do. firstly i have to take a look at global changes in project ;)

[2017-01-20 06:59] amihaiemil commented on #23
@salikjan Sure, you should do that. Any questions you have, or if you don't like something, open an issue and we can discuss there :)

[2017-01-22 10:10] amihaiemil commented on #6
@SherifWaly This is a fresh project. I figured we need a fresh one in order to learn how to work together.
It's a Yaml builder/parser for Java.

When you have time, please have a look over the specification of YAML, so you know the terms and stuff. You don't have to fully study it in detail, just the basis should be enough.

[2017-01-22 15:38] amihaiemil opened #25 "Increase code coverage"

[2017-01-22 16:27] #25 closed

[2017-01-22 18:31] 0pdd commented on #22
The puzzle `6-74416683` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-22 18:31] #22 closed

[2017-01-23 21:19] 0pdd opened #29 "YamlMappingBuilder.java:35-37: Following the example of this builder, i..."
The puzzle `24-802b792b` in `src/main/java/com/amihaiemil/camel/YamlMappingBuilder.java` (lines 35-37) has to be resolved: Following the example of this builder, implement and unit-test RtYamlSequenceBuilder (implements YamlSequenceBuilder). The implementation should be immutable (same as RtYamlMappingBuilder).

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on

[2017-01-23 21:19] 0pdd commented on #29
@amihaiemil please pay attention to this new issue.

[2017-01-23 21:25] amihaiemil opened #30 "Interface YamlSerializer"
Let's implement interface YamlSerializer which should have the method ``YamlNode serialize();``
[code]

Implementors of this interface should know how to turn a Map<Object, Object>, an Object and a Collection<Object> into respective YamlNodes

[2017-01-24 06:03] salikjan opened #31 "StrictYamlSequenceTest"
@amihaiemil I am not sure how to make unit tests for sequences.
As i guess i have to implement tests using RtYamlSequence class.
But nothing more in my mind )

[2017-01-24 06:04] salikjan commented on #31
I made empty StrictYamlSequenceTest in #23. Now I am trying to implement some tests

[2017-01-24 06:11] salikjan commented on #31
@amihaiemil can you tell me if did it right in fetchesChildren() method in StrictYamlSequenceTest?

[2017-01-24 07:39] amihaiemil commented on #31
@salikjan Yes, you can use RtYamlSequence, or you can make a mock. Sometimes it will be easier to make a mock using mockito (See how I did in [StringYamlMappingTest](https://github.com/decorators-squad/camel/blob/master/src/test/java/com/amihaiemil/camel/StrictYamlMappingTest.java)). That's the thing about decorators.

``StrictYamlSequence`` is a decorator, it doesn't care what instance of ``YamlS

[2017-01-24 08:51] #31 closed

[2017-01-24 16:33] #23 closed

[2017-01-24 16:33] 0pdd commented on #23
The puzzle `6-754324bd` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-24 16:36] amihaiemil commented on #29
@salikjan want to do this, when you have time? :)

[2017-01-24 16:41] salikjan commented on #29
@amihaiemil sure :)

[2017-01-24 16:44] amihaiemil commented on #29
@salikjan this is labeled as 30 min, but if it takes longer, don't forget about puzzles. Maybe you could let the unit tests in a different puzzle, who knows :P

[2017-01-24 16:45] salikjan commented on #29
Well, i have to wait for you to resolve #24 issue?

[2017-01-24 16:45] #24 closed

[2017-01-24 16:45] amihaiemil commented on #29
@salikjan #24 is already done, I just forgot to close it

[2017-01-24 16:46] salikjan commented on #29
@amihaiemil ok ) but i cannot see @todo in ```YamlMappingBuilder.java (lines 35-37)```

[2017-01-24 16:50] amihaiemil commented on #29
@salikjan It's [there](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/YamlMappingBuilder.java#L35). Is your local repo well synchronized?

[2017-01-24 16:51] amihaiemil commented on #29
@salikjan As far as I can see on your Github repo, it is also there :D

[2017-01-24 16:55] salikjan commented on #29
@amihaiemil ah, i see. it's under the #24 number

[2017-01-24 16:57] amihaiemil commented on #29
@salikjan yes, that's the parent issue - remember the todo format :)

[2017-01-25 17:46] amihaiemil commented on #30
@SherifWaly can you add this interface to the code and then put 3 puzzles for implementing the qctual classes? :D

[2017-01-25 18:06] SherifWaly commented on #30
@amihaiemil Ok I will add the interface but can you give me few examples about puzzles as I don't understand the concept of puzzles :D

[2017-01-25 18:14] amihaiemil commented on #30
@SherifWaly i'll explain when you make a PR, as I have to think about their requirements, how exactly those classes will look. You can see an example of a puzzle [here](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/YamlMappingBuilder.java#L35)

[2017-01-26 18:37] 0pdd opened #34 "YamlDump.java:36-42: This interface should have 3 implementor..."
The puzzle `30-3c0b8f6f` in `src/main/java/com/amihaiemil/camel/YamlDump.java` (lines 36-42) has to be resolved: This interface should have 3 implementor classes: YamlObjectDump, YamlMapDump and YamlCollectionDump. Each of these classes will encapsulate and serialize the mentioned types (i.e. Object, Map<Object, Object> and Collection<Object>). The return type or method ``represent()`` should be o

[2017-01-26 18:37] 0pdd commented on #34
@amihaiemil please pay attention to this new issue.

[2017-01-26 18:37] 0pdd opened #35 "YamlDump.java:44-46: Add method ``serlialize()`` in YamlNode ..."
The puzzle `30-1ab58fb9` in `src/main/java/com/amihaiemil/camel/YamlDump.java` (lines 44-46) has to be resolved: Add method ``serlialize()`` in YamlNode interface and implement it in the YamlNode implementors (e.g. Scalar) to serlialize it and return the Yaml node as a Yaml tree.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by sherif on 26-Jan-17.

Estimate: 30 minutes, r

[2017-01-26 18:37] 0pdd commented on #35
@amihaiemil please pay attention to this new issue.

[2017-01-26 18:37] 0pdd opened #36 "YamlDump.java:48-49: Add method ``present()`` in YamlNode int..."
The puzzle `30-d93aac6f` in `src/main/java/com/amihaiemil/camel/YamlDump.java` (lines 48-49) has to be resolved: Add method ``present()`` in YamlNode interface or ``toString()`` method could do its job.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by sherif on 26-Jan-17.

Estimate: 30 minutes, role: D.

If you have any technical questions, don't ask me, submit new tickets

[2017-01-26 18:37] 0pdd commented on #36
@amihaiemil please pay attention to this new issue.

[2017-01-27 12:37] #34 closed

[2017-01-27 12:37] 0pdd opened #38 "YamlDump.java:35-40: This interface should have 2 more implem..."
The puzzle `34-92fcb5e3` in `src/main/java/com/amihaiemil/camel/YamlDump.java` (lines 35-40) has to be resolved: This interface should have 2 more implementor classes: YamlMapDump and YamlCollectionDump. Each of these classes will encapsulate and serialize the mentioned types (i.e. Map<Object, Object> and Collection<Object>). The return type or method ``represent()`` should be overridden with the

[2017-01-27 12:37] 0pdd commented on #38
@amihaiemil please pay attention to this new issue.

[2017-01-27 12:37] 0pdd opened #39 "YamlObjectDump.java:110-111: After YamlMapDump and YamlCollectionDump..."
The puzzle `34-31eb724e` in `src/main/java/com/amihaiemil/camel/YamlObjectDump.java` (lines 110-111) has to be resolved: After YamlMapDump and YamlCollectionDump are implemented, this method should be fixed.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 27-Jan-17.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit

[2017-01-27 12:37] 0pdd commented on #39
@amihaiemil please pay attention to this new issue.

[2017-01-27 12:37] 0pdd commented on #34
The puzzle `30-3c0b8f6f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-27 12:41] #30 closed

[2017-01-27 13:21] amihaiemil commented on #38
Basically, iterate over the collection's elements, see if the current element is a leaf or not.

If it is a leaf property, then add it in the builder.
If not, then use ``YamlObjectDump`` to turn it into a YamlNode.

Something like (pseudocore)
[code]

[2017-01-27 14:32] SherifWaly commented on #39
@amihaiemil I have read the code of YamlObjectDump you have recently commited. Can I start implementing one of the 2 left classes?

[2017-01-27 14:40] amihaiemil commented on #38
@SherifWaly Also, I think YamlDump should become AbstractYamlDump and have method ``protected leafProperty(Object)``? What do you think? Since that method will have to be used in all 3 implementations

[2017-01-27 14:41] amihaiemil commented on #39
@SherifWaly I have assigned #38 to you :D

[2017-01-27 17:25] SherifWaly commented on #38
@amihaiemil Yes, It is a good idea and I was thinking in it also :D

[2017-01-29 17:19] #38 closed

[2017-01-29 17:19] 0pdd opened #41 "AbstractYamlDump.java:35-39: This interface should have 1 more implem..."
The puzzle `38-ac09402a` in `src/main/java/com/amihaiemil/camel/AbstractYamlDump.java` (lines 35-39) has to be resolved: This interface should have 1 more implementor class: YamlCollectionDump. This classes will encapsulate and serialize the mentioned type (i.e. Collection<Object>). The return type or method ``represent()`` should be overridden with the proper subtype.

The [puzzle](http://www.yeg

[2017-01-29 17:19] 0pdd commented on #41
@amihaiemil please pay attention to this new issue.

[2017-01-29 17:19] 0pdd opened #42 "YamlMapDumpTest.java:52-52: Add more unit tests for YamlMapDump"
The puzzle `38-37cd727f` in `src/test/java/com/amihaiemil/camel/YamlMapDumpTest.java` (lines 52-52) has to be resolved: Add more unit tests for YamlMapDump

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by sherif on 29-Jan-17.

Estimate: 30 minutes, role: TEST.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the p

[2017-01-29 17:19] 0pdd commented on #42
@amihaiemil please pay attention to this new issue.

[2017-01-29 17:19] 0pdd commented on #38
The puzzle `34-92fcb5e3` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-30 10:40] 0pdd opened #44 "YamlMappingBuilder.java:35-36: Following the example of this builder, i..."
The puzzle `24-44185658` in `src/main/java/com/amihaiemil/camel/YamlMappingBuilder.java` (lines 35-36) has to be resolved: Following the example of this builder, implement and unit-test RtYamlSequenceBuilder (implements YamlSequenceBuilder).

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by sherif on 29-Jan-17.

Estimate: 30 minutes, role: DEV.

If you have any technical qu

[2017-01-30 10:40] 0pdd commented on #29
The puzzle `24-802b792b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-30 10:40] #29 closed

[2017-01-30 10:40] 0pdd commented on #44
@amihaiemil please pay attention to this new issue.

[2017-01-30 10:56] #44 closed

[2017-01-30 10:56] 0pdd commented on #44
The puzzle `24-44185658` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-30 13:55] 0pdd commented on #42
The puzzle `38-37cd727f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-01-30 13:55] #42 closed

[2017-01-31 07:35] amihaiemil opened #46 "Validating and parsing input"
So far we're almost done with the "dumping" process - building Yaml structures or turning POJOs into YAML.

Now, we need to start thinking of the opposite process, 'loading',  which will start with parsing an input - String, InputStrean, File or whatever else, into Yaml

[2017-01-31 07:36] amihaiemil commented on #46
@SherifWaly @salikjan  Do you have any ideas about how we could parse an input String as YamlMapping? First step would be validation - I'm thinking of [finite automatas](https://en.wikipedia.org/wiki/Deterministic_finite_automaton). What do you think?

[2017-01-31 14:52] SherifWaly commented on #46
@amihaiemil Do you want to map each state to be as a key and its value is a pair of 2 states (one for the 0 edge and one for the 1 edge) ?

[2017-01-31 14:55] salikjan commented on #46
@amihaiemil I dealt with finite automatas a long time ago. At first it seems ok. May at some point using Stack would be ok too.

[2017-01-31 15:00] amihaiemil commented on #46
@SherifWaly I'm not sure I understand your question :D (you're talking about the example automata in the wikipedia asticle?)

Nevertheless, I was thinking to use an automata only for validation (maybe in the process we could also extract the keys and values?). But basically, I was thinking to build an automata that describes the YAML format and see if it accepts the input or not. cc: @salikjan

[2017-01-31 15:01] amihaiemil commented on #46
@salikjan  You said

What would you do with a Stack? :D

[2017-01-31 15:08] SherifWaly commented on #46
@amihaiemil Could you give an example for a string that we want to validate :D ?

[2017-01-31 15:12] amihaiemil commented on #46
@SherifWaly Well, you want to validate that a given input is a valid Yaml, no? Let's say you have a file, containing a Yaml - before trying to parse it, you want to make sure it's valid.  So.
1. read the file's contents
2. validate (using an automata)
3. parse into ``YamlMapping`` or ``YamlSequence``

Simply put, an automata represents the "grammar", a set of rules that the input has to respect. S

[2017-01-31 15:17] SherifWaly commented on #46
@amihaiemil Yes I think it makes sense now :D
So we should have a certain pattern which would be used to validate the input using finite automata?

[2017-01-31 15:28] amihaiemil commented on #46
@SherifWaly

Well, the automata itself represents the "pattern". It contains all the rules that need to be respected. It's quite an abstract concept, I know, but try to follow the example from wiki. The rules are simple:
 1) start at S0 (where the "Start" arrow) points
 2) follow one arrow at a time. Every time you followed an arrow, write down the digit on it.
 3) you can only stop at a "finish"

[2017-01-31 15:35] SherifWaly commented on #46
@amihaiemil Yes, It's clear I was only asking about the function that could lead to a "finish" node.
For the example you said we will end at a finish node if we have a binary number multiple of 3.
In Yaml we will need a new function to apply finite automate on.
Let me know if I still understand something incorrectly :D

[2017-01-31 15:50] amihaiemil commented on #46
@SherifWaly There will have to be a function that takes the input, one character (or group of characters) at a time, and tries to see if, from the current state, there are any arrows that match it.
Example with the automata from wiki; we want to see if the string "123" is valid so:

First: the input is 123 (current char is 1)
We start at S0, which has an arrow with "1" going out - so far, it's ok

[2017-01-31 15:57] SherifWaly commented on #46
@amihaiemil Yes I have understood now :D

[2017-02-06 07:07] amihaiemil commented on #41
@SherifWaly Do you want to do this, when you have time? :D

[2017-02-06 07:31] amihaiemil opened #47 "Fix checkstyle issues"
Some checkstyle issues were found by Travis. See [here](https://travis-ci.org/decorators-squad/camel/jobs/196631484#L1286).

[2017-02-06 07:32] amihaiemil commented on #41
@SherifWaly Let's wait here, until I fix [this](https://github.com/decorators-squad/camel/issues/47) issue :D

[2017-02-06 13:02] amihaiemil commented on #47
This is invalid; the errors are from branch 36 which is not yet merged into master

[2017-02-06 13:02] #47 closed

[2017-02-06 13:03] amihaiemil commented on #41
@SherifWaly I just closed that issue, since the problems were in branch 36, which is not merged yet :D

[2017-02-06 15:17] SherifWaly commented on #41
@amihaiemil I would like to do this task yes :D, but should I wait for branch 36 to be merged or start?

[2017-02-06 15:18] amihaiemil commented on #41
@SherifWaly it's already merged, so it's ok :)

[2017-02-06 15:19] SherifWaly commented on #41
@amihaiemil Great, I will to do this task ASAP :)

[2017-02-06 15:19] SherifWaly commented on #41
will start* :D

[2017-02-06 15:21] amihaiemil commented on #41
@SherifWaly sure, no hurry ;)

[2017-02-08 20:44] 0pdd commented on #41
The puzzle `38-ac09402a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-08 20:44] #41 closed

[2017-02-08 20:50] 0pdd commented on #36
The puzzle `30-d93aac6f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-08 20:50] #36 closed

[2017-02-09 14:12] 0pdd opened #51 "RtYamlInput.java:38-40: Finish implementing this class using a f..."
The puzzle `46-02cbf3dd` in `src/main/java/com/amihaiemil/camel/RtYamlInput.java` (lines 38-40) has to be resolved: Finish implementing this class using a finite automata. Short idea: using an InputStreamReader, read each char from the stream, see if the automata accepts it. If it's accepted, build the yaml.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 09

[2017-02-09 14:12] 0pdd commented on #51
@amihaiemil please pay attention to this new issue.

[2017-02-09 14:28] #46 closed

[2017-02-10 19:21] amihaiemil opened #52 "Iterable YamlLines"
Next() to fetch the next lines with the same indentation
contained() to fetch the next lines wrapped within (indented with 2 or more spaces)

[2017-02-13 08:51] 0pdd opened #54 "RtYamlLine.java:35-38: Right now, at every call of trimmed() an..."
The puzzle `52-54ded80a` in `src/main/java/com/amihaiemil/camel/RtYamlLine.java` (lines 35-38) has to be resolved: Right now, at every call of trimmed() and indentation() the values are calculated. This isn't efficient, so we need a decorator to cache these values. Let's name it CachedYamlLine. It should be used like this: YamlLine line = new CachedYamlLine(new RtYamlLine(...));

The [puzzle](http

[2017-02-13 08:51] 0pdd commented on #54
@amihaiemil please pay attention to this new issue.

[2017-02-13 08:51] 0pdd opened #55 "RtYamlLine.java:39-43: Method indentation() also checks that th..."
The puzzle `52-1a414e89` in `src/main/java/com/amihaiemil/camel/RtYamlLine.java` (lines 39-43) has to be resolved: Method indentation() also checks that the value is multiple of 2. We should extract this in a decorator called WellIndentedLine which will also check if the intendetaion is correct relative to the previous line. It would be used like this: <br> YamlLine line = new WellINdentedLine(lin

[2017-02-13 08:51] 0pdd commented on #55
@amihaiemil please pay attention to this new issue.

[2017-02-13 08:51] 0pdd opened #56 "YamlLines.java:35-36: Implement and unit test this interface. ..."
The puzzle `52-6930eadb` in `src/main/java/com/amihaiemil/camel/YamlLines.java` (lines 35-36) has to be resolved: Implement and unit test this interface. It should be named RtYamlLines and be a default-accessible class.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 13-Feb-17.

Estimate: 60 minutes, role: IMP.

If you have any technical questions, don't ask

[2017-02-13 08:51] 0pdd commented on #39
The puzzle `34-31eb724e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-13 08:51] #39 closed

[2017-02-13 08:51] #51 closed

[2017-02-13 08:51] 0pdd commented on #56
@amihaiemil please pay attention to this new issue.

[2017-02-13 08:51] 0pdd commented on #51
The puzzle `46-02cbf3dd` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-13 09:01] amihaiemil commented on #52
done

[2017-02-13 09:01] #52 closed

[2017-02-13 09:02] amihaiemil commented on #54
@salikjan want to do this one? :D

[2017-02-13 09:02] amihaiemil commented on #55
@SherifWaly want to do this one? :D

[2017-02-13 13:50] SherifWaly commented on #55
@amihaiemil Ok, I will try to do it :D

[2017-02-13 21:41] 0pdd opened #59 "WellIndentedLine.java:36-36: Implement WellIndentedLineTest to unit t..."
The puzzle `55-cfe1aff7` in `src/main/java/com/amihaiemil/camel/WellIndentedLine.java` (lines 36-36) has to be resolved: Implement WellIndentedLineTest to unit test this class

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by sherif on 13-Feb-17.

Estimate: 30 minutes, role: TEST.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2017-02-13 21:41] 0pdd commented on #59
@amihaiemil please pay attention to this new issue.

[2017-02-13 21:41] 0pdd commented on #55
The puzzle `52-1a414e89` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-13 21:41] #55 closed

[2017-02-14 15:34] amihaiemil commented on #56
@charlesmike hello

[2017-02-14 15:35] charlesmike commented on #56
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-02-14 15:35] amihaiemil commented on #56
@charlesmike index

[2017-02-14 15:36] charlesmike commented on #56
@amihaiemil the repository's name must match the format ``owner.github.io`` or it must have a project website on branch ``gh-pages``

[2017-02-14 16:45] 0pdd commented on #59
The puzzle `55-cfe1aff7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-14 16:45] #59 closed

[2017-02-16 08:09] 0pdd opened #62 "RtYamlLines.java:13-14: Implement and unit test method..."
The puzzle `59-0d5b5c2a` in [`src/main/java/com/amihaiemil/camel/RtYamlLines.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/RtYamlLines.java) (lines 13-14) has to be resolved: Implement and unit test method nested(...), as specified in its javadoc.

The puzzle was created by amihaiemil on 16-Feb-17.

Estimate: 30 minutes, role: DEV.

If you have any

[2017-02-16 08:09] 0pdd commented on #62
@amihaiemil please pay attention to this new issue.

[2017-02-16 08:09] 0pdd opened #63 "YamlMapping.java:35-37: We should implement class..."
The puzzle `59-9ff4de5f` in [`src/main/java/com/amihaiemil/camel/YamlMapping.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/YamlMapping.java) (lines 35-37) has to be resolved: We should implement class ReadYamlMapping, which should implement this interface. The class will encapsulate and work with YamlLines.

The puzzle was created by amihaiemil on

[2017-02-16 08:09] 0pdd commented on #63
@amihaiemil please pay attention to this new issue.

[2017-02-16 08:09] 0pdd opened #64 "YamlSequence.java:8-10: We should implement class..."
The puzzle `59-963ff972` in [`src/main/java/com/amihaiemil/camel/YamlSequence.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/YamlSequence.java) (lines 8-10) has to be resolved: We should implement class ReadYamlSequence, which should implement this interface. The class will encapsulate and work with YamlLines.

The puzzle was created by amihaiemil o

[2017-02-16 08:09] 0pdd commented on #64
@amihaiemil please pay attention to this new issue.

[2017-02-16 08:09] 0pdd commented on #56
The puzzle `52-6930eadb` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-16 08:09] #56 closed

[2017-02-16 08:11] amihaiemil commented on #62
@SherifWaly Want to do this? :)

[2017-02-16 11:01] SherifWaly commented on #62
@amihaiemil Ok I will try to do it :)

[2017-02-17 17:40] 0pdd commented on #62
The puzzle `59-0d5b5c2a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-17 17:40] #62 closed

[2017-02-20 15:45] 0pdd opened #67 "ReadYamlMapping.java:40-41: Continue implementing and unit..."
The puzzle `63-c8d16824` in [`src/main/java/com/amihaiemil/camel/ReadYamlMapping.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/ReadYamlMapping.java) (lines 40-41) has to be resolved: Continue implementing and unit testing the methods from this class one by one.

The puzzle was created by amihaiemil on 20-Feb-17.

Estimate: 30 minutes, role: DEV.

I

[2017-02-20 15:45] 0pdd commented on #67
@amihaiemil please pay attention to this new issue.

[2017-02-20 15:45] 0pdd opened #68 "RtYamlLines.java:13-14: After ticket #64 is resolved, make..."
The puzzle `63-395f02e5` in [`src/main/java/com/amihaiemil/camel/RtYamlLines.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/RtYamlLines.java) (lines 13-14) has to be resolved: After ticket #64 is resolved, make sure method toYamlNode from this class is completed. (ReadYamlSequence instead of null)

The puzzle was created by amihaiemil on 20-Feb-17.

[2017-02-20 15:45] 0pdd commented on #68
@amihaiemil please pay attention to this new issue.

[2017-02-20 15:45] 0pdd commented on #63
The puzzle `59-9ff4de5f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-20 15:45] #63 closed

[2017-02-22 09:01] 0pdd opened #70 "ReadYamlSequence.java:10-11: Continue implementing and unit..."
The puzzle `64-6c1b602e` in [`src/main/java/com/amihaiemil/camel/ReadYamlSequence.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/ReadYamlSequence.java) (lines 10-11) has to be resolved: Continue implementing and unit testing this class, one method at a time.

The puzzle was created by amihaiemil on 22-Feb-17.

Estimate: 30 minutes, role: DEV.

If yo

[2017-02-22 09:01] 0pdd commented on #70
@amihaiemil please pay attention to this new issue.

[2017-02-22 09:01] 0pdd opened #71 "YamlLine.java:35-39: This interface should extend..."
The puzzle `64-04f5df54` in [`src/main/java/com/amihaiemil/camel/YamlLine.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/YamlLine.java) (lines 35-39) has to be resolved: This interface should extend Comparable, since we want YamlLines to be ordered after they are read from file. Lines should be compared by their String values (similar to Scalar.comp

[2017-02-22 09:01] #68 closed

[2017-02-22 09:01] 0pdd commented on #71
@amihaiemil please pay attention to this new issue.

[2017-02-22 09:01] 0pdd commented on #68
The puzzle `63-395f02e5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-22 09:01] amihaiemil commented on #71
@SherifWaly want to do this? :P

[2017-02-22 09:09] #64 closed

[2017-02-22 09:09] 0pdd commented on #64
The puzzle `59-963ff972` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-22 09:09] 0pdd commented on #70
The puzzle `64-6c1b602e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-22 09:09] 0pdd commented on #71
The puzzle `64-04f5df54` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-22 10:10] 0pdd opened #73 "ReadYamlMapping.java:40-41: Continue to implement and unit-test..."
The puzzle `67-0e70afe8` in [`src/main/java/com/amihaiemil/camel/ReadYamlMapping.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/ReadYamlMapping.java) (lines 40-41) has to be resolved: Continue to implement and unit-test the methods from this class one by one.

The puzzle was created by amihaiemil on 22-Feb-17.

Estimate: 30 minutes, role: DEV.

If y

[2017-02-22 10:10] 0pdd commented on #67
The puzzle `63-c8d16824` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-22 10:10] #67 closed

[2017-02-22 10:10] 0pdd commented on #73
@amihaiemil please pay attention to this new issue.

[2017-02-22 12:56] SherifWaly commented on #71
@amihaiemil Ok, I will try to do it :D

[2017-02-23 22:06] #71 closed

[2017-02-23 22:06] 0pdd commented on #71
The puzzle `64-04f5df54` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-02-26 13:50] amihaiemil opened #75 "YamlMapping and YamlSequence should be abstract classes"
These 2 interfaces should be abstract classes and provide an implementation for ``compareTo(), equals() and hashcode()``, as these 3 methods should be the same and applicable for any implementation of YamlMapping and YamlSequence.

[2017-02-26 13:53] amihaiemil commented on #75
@SherifWaly Just so you know, I'm making this rather big change :D
If you have any questions, please ask :P

[2017-02-27 13:15] amihaiemil commented on #75
done

[2017-02-27 13:15] #75 closed

[2017-02-28 12:36] #73 closed

[2017-02-28 12:36] 0pdd opened #79 "ReadYamlMapping.java:41-42: Continue implementing and..."
The puzzle `73-fa02b6c9` in [`src/main/java/com/amihaiemil/camel/ReadYamlMapping.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/ReadYamlMapping.java) (lines 41-42) has to be resolved: Continue implementing and unit-testing the methods from this class one by one.

The puzzle was created by amihaiemil on 28-Feb-17.

Estimate: 30 minutes, role: DEV.

I

[2017-02-28 12:36] 0pdd commented on #79
@amihaiemil please pay attention to this new issue.

[2017-02-28 12:36] 0pdd commented on #73
The puzzle `67-0e70afe8` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-03-05 01:47] SherifWaly commented on #54
@amihaiemil Can I do this one ?

[2017-03-06 07:27] amihaiemil commented on #54
@SherifWaly About decorators (because in the last [PR](https://github.com/decorators-squad/camel/pull/74#pullrequestreview-23300182) you made, it seemed that you have a misunderstanding):

 - A **decorator** is supposed to implement the same interface as **the object being decorated** and add behavior **on top of it**

For a standard example, see the [wikipedia page](https://en.wikipedia.org/wiki/

[2017-03-06 16:50] SherifWaly commented on #54
@amihaiemil Thanks Mihai for explanation :D

[2017-03-07 09:23] amihaiemil opened #81 "Let's use mockito to unit test caching decorators"
Mockito can be used to unit test the caching decorators.
For instance the unit test for ``CachedYamlLine.trimmed()`` would look like this:

[code]

If the caching doesn't work right and ``mock.trimmed()`` is called more than once, there will be an exception at the second assertion.

In this way we will unit test other caching decorators to come as well.

[2017-03-07 09:23] amihaiemil commented on #81
@SherifWaly Do you know Mockito, or want to learn about it? :D This task should be easy; mockito is already declared as a test dependency to the project.

[2017-03-07 09:40] amihaiemil opened #82 "Implement YamlLine.hasNestedNode"
This method should return true if there is a nested YamlNode after the line or false otherwise.
It should actually check if the line ends with one of the characters: ``: > | -``

The logic is already implemented in ``WellIndentedLine.indentation()`` -- it just needs to be moved, as it will also be used in ``OrderedYamlLines.indent(...)``

Issue #79 waits for this to be solved.

[2017-03-07 11:00] #54 closed

[2017-03-07 11:00] 0pdd commented on #54
The puzzle `52-54ded80a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-03-07 12:40] 0pdd commented on #79
The puzzle `73-fa02b6c9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-03-07 12:40] #79 closed

[2017-03-07 21:53] SherifWaly commented on #81
@amihaiemil I don't know about it but I would like to learn about it, so I will see some resources about it and change the test :D

[2017-03-07 21:56] amihaiemil commented on #81
@SherifWaly cool,  have a look. It's not hard and it's a must-know in general. It's one of the most used frameworks for mocking in Junit :)

[2017-03-08 12:37] #70 closed

[2017-03-08 12:37] 0pdd opened #86 "ReadYamlSequence.java:10-11: Continue to implement and unit test..."
The puzzle `70-83ce2e89` in [`src/main/java/com/amihaiemil/camel/ReadYamlSequence.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/ReadYamlSequence.java) (lines 10-11) has to be resolved: Continue to implement and unit test methods from this class, one by one.

The puzzle was created by amihaiemil on 08-Mar-17.

Estimate: 30 minutes, role: DEV.

If yo

[2017-03-08 12:37] 0pdd commented on #86
@amihaiemil please pay attention to this new issue.

[2017-03-08 12:37] 0pdd commented on #70
The puzzle `64-6c1b602e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-03-08 12:46] amihaiemil opened #87 "Add back YamlSequence.size()"
I'm not sure why I removed this method (we initially had it), but it's clearly a bug. The client must know how many elements are in a sequence in order to iterate it...

Let's add it back.

[2017-03-09 11:40] amihaiemil commented on #87
done

[2017-03-09 11:40] #87 closed

[2017-03-09 15:04] 0pdd commented on #86
The puzzle `70-83ce2e89` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-03-09 15:04] #86 closed

[2017-03-09 16:42] amihaiemil opened #90 "RtYamlInput read more yamls + unit tests"
Currently reading is done only for one Yaml per source, but for instance in a yaml file, more objects can be found, separated by ``---``

e.g.
[code]
Roadmap (13.03.2020):

* Building of YamlStream implemented and tested in #188 -- released with version `3.1.1`
* Reading of YamlStream implemented and tested in #207 -- released with version `3.1.4`

[2017-03-09 16:51] amihaiemil opened #91 "YamlNode should be abstract and package protected"
Methods ``YamlNode.indent(...)`` and ``YamNode.children()`` should be internal (package protected, not visible to the client).

Since interfaces allow only public methods, ``YamlNode`` needs to be turned to ``AbstractYamlNode`` and the 2 methods made abstract.

[2017-03-11 07:53] #81 closed

[2017-03-13 11:08] amihaiemil commented on #91
@SherifWaly want to do this? :D

[2017-03-13 16:38] SherifWaly commented on #91
@amihaiemil Ok I will try to do it :D

[2017-03-13 16:41] amihaiemil commented on #91
@SherifWaly nice :D I think after a few more tickets we can release the first version ^^

[2017-03-13 16:46] SherifWaly commented on #91
@amihaiemil Great :D

[2017-03-20 14:56] amihaiemil opened #94 "Release version 1.0.0"
For release of version 1.0.0

[2017-03-20 14:57] amihaiemil commented on #94
@rultor let's release the first version

[2017-03-20 14:57] rultor commented on #94
@amihaiemil My current version is 1.62.3, Git revision is [`ef166fc7f`](https://github.com/yegor256/rultor/commit/1.62.3)

[2017-03-20 14:57] amihaiemil commented on #94
@rultor release, tag is `1.0.0`

[2017-03-20 14:58] rultor commented on #94
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11191-287785315)

[2017-03-20 15:04] rultor commented on #94
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/11191-287785315) (took me 6min)

[2017-03-20 15:10] #94 closed

[2017-03-20 15:10] amihaiemil commented on #94
@SherifWaly FYI, I released the first version of it :D It's now on maven central and can be used in maven projects (see readme.md)

[2017-03-20 16:58] amihaiemil opened #95 "Let's impelment NoComments yaml line"
This is a decorator for YamlLine which trimms the line in such a way that it has no comments on it.

[2017-03-20 19:57] SherifWaly commented on #94
@amihaiemil Yes, I've seen it on maven central repository, Congrats :D

[2017-03-20 21:57] SherifWaly commented on #95
@amihaiemil I want to ask whether comments in yaml starts with `#` only or there are other formats?
If a line was only a comment so `trimmed()` should return an empty string?

[2017-03-21 06:42] amihaiemil commented on #95
@SherifWaly yes, it's only # (as far as I know). And yes, if a line has only a comment, trimmed() will return an empty string.

The algorithm is rather simple, just substring from 0 to first index of #.. there's just one case besides that, which needs to be covered: if the # is sonewhere between quotes ( " ), then it is part of an escaped string and needs not be considered a comment :D

Want to do

[2017-03-21 13:49] SherifWaly commented on #95
@amihaiemil Yes, I want to do it :D
Can I use regex or it is better to use other implementation?

[2017-03-21 13:57] amihaiemil commented on #95
@SherifWaly You could use regexes too, I think, but don't complicate it too much, since no matter what you do, you can't catch all the possible layouts of a line.

As you've seen throughout the library, it is not polluted with too much validation -- the general assumption is that the given input is valid (we validate only rigid stuff, such as line indentation). The same here, assume that if ``#``

[2017-03-21 19:42] amihaiemil commented on #95
@SherifWaly Thanks!

[2017-03-21 19:42] #95 closed

[2017-03-29 08:24] #6 closed

[2017-03-29 08:33] amihaiemil opened #98 "Use NoCommentsYamlLine"
The NoCommentsYamlLine is implemented but never actually used when reading the yaml. Let's use it.

[2017-03-29 12:07] 0pdd opened #100 "RtYamlInputTest.java:23-26: There is a bug in..."
The puzzle `98-f4629850` in [`src/test/java/com/amihaiemil/camel/RtYamlInputTest.java`](https://github.com/decorators-squad/camel/blob/master/src/test/java/com/amihaiemil/camel/RtYamlInputTest.java) (lines 23-26) has to be resolved: There is a bug in ReadYamlMapping.children(), the maps' values are not returned properly. Because of that, YamlMapping.equals does not work fine. Fix the bug and activ

[2017-03-29 12:07] 0pdd commented on #100
@amihaiemil please pay attention to this new issue.

[2017-03-29 12:10] amihaiemil commented on #98
done. Ticket #100 was opened in this task.

[2017-03-29 12:10] #98 closed

[2017-03-30 08:22] flyx opened #101 "Document YAML version"
Since there are multiple YAML versions (`1.0`, `1.1`, `1.2`), it is important to document which one(s) is/are supported by camel.

[2017-03-30 08:33] amihaiemil commented on #101
Done https://github.com/decorators-squad/camel/commit/57d0d246b4954085b96aab15b81a339ca03c8576.

Thanks for pointing it out. We will try to eventually implement everything but the main point, as explained in the README.md, is to have something similar to the ``javax.json`` api.

[2017-03-30 08:34] #101 closed

[2017-03-30 08:53] amihaiemil opened #102 "Test suite for Yaml"
Let's have a look over [this](https://github.com/yaml/yaml-test-suite) test suite and check how compliant camel is with the specification. Also, check this matrix: http://matrix.yaml.io/

[2017-03-30 15:38] amihaiemil opened #104 "Release 1.0.1"
Let's release version ``1.0.1`` which contains the following change:

Read yaml input can now work with comments:
 * #95
 * #98
 * #100
 * #101

[2017-03-30 15:40] 0pdd commented on #100
The puzzle `98-f4629850` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-03-30 15:40] #100 closed

[2017-03-30 15:40] amihaiemil opened #105 "AbstractYamlLines.toYamlNode is quite primitve"
Right now the method is too simple and does not cover all the cases. for instance, wrapped scalars, or wrapped sequences are not covered. Let's fix this

[2017-03-30 15:42] amihaiemil commented on #104
@rultor release, tag is `1.0.1`

[2017-03-30 15:42] rultor commented on #104
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11280-290451681)

[2017-03-30 15:45] rultor commented on #104
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/11280-290451681) (took me 2min)

[2017-03-30 15:48] amihaiemil commented on #104
done

[2017-03-30 15:48] #104 closed

[2017-04-01 18:04] SherifWaly commented on #105
@amihaiemil I would like to ask about this task. Can you give some examples for wrapped scalars and wrapped sequences if possible :) ?

[2017-04-01 18:19] amihaiemil commented on #105
@SherifWaly sure, just look in the specification, for special chars such as '>' or '|-', it's regarding that topic. But this is a rather big task, we might need to have other implementations of Scalar... you can have a look, but I won't assign this task yet, I need to think about it. Of course, if you have any idea, open issues and we can discuss them there :D

[2017-04-01 18:22] SherifWaly commented on #105
@amihaiemil Ok, I will take a look at the specification and if I found some ideas I will share it :D

[2017-04-01 18:25] amihaiemil commented on #105
@SherifWaly sure Sherif :D

[2017-04-03 11:11] amihaiemil commented on #35
@charlesmike hello there!

[2017-04-03 11:12] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-04-04 09:02] amihaiemil commented on #105
@SherifWaly I think that we're going to have **NestedYamlNode** class, which encapsulates some YamlLines together with the previous YamlLine... Based on the previous YamlLine, this node will know how to animate the YamlLines.

Makes sense? It's all about the fact that object should be "alive". It's the same principle behind ReadYamlMapping and Sequence... read [this](http://www.yegor256.com/2017/0

[2017-04-04 11:12] amihaiemil commented on #35
@SherifWaly FYI: https://github.com/yaml/yaml/issues/36 . So it will be a little more complex thing to do :)

[2017-04-05 17:27] SherifWaly commented on #105
@amihaiemil I'm not getting what will be done exactly with the lines so I'm waiting for your PR to understand more :D

[2017-04-11 09:07] 0pdd opened #107 "NestedReadYamlNode.java:73-76: This method needs to be implemented...."
The puzzle `105-d82b704d` in [`src/main/java/com/amihaiemil/camel/NestedReadYamlNode.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/NestedReadYamlNode.java) (lines 73-76) has to be resolved: This method needs to be implemented. It will be similar to former AbstractYamlLines.toYamlNode(), but it will also cover the wrapper sequence/scalar cases. When

[2017-04-11 09:07] 0pdd commented on #107
@amihaiemil please pay attention to this new issue.

[2017-04-11 10:07] amihaiemil commented on #105
@SherifWaly See #106 :D

[2017-04-11 10:08] #105 closed

[2017-04-11 18:43] SherifWaly commented on #107
@amihaiemil The test cases have tests for normal sequence/map or wrapper sequence.
For wrapper scalar should the prev line end with ``>`` or ``|`` characters only while for sequence is ``>-`` or ``|-`` ?

[2017-04-12 06:26] amihaiemil commented on #107
@SherifWaly Wrapped **scalars** are of 2 kind, as you can see in the specification at section ``2.3 Scalars``:
  * prev line ends with ``|`` => all newlines are significant, and taken into account
  * prev line ends with ``>`` => newlines are ignored (turned into spaces), *unless* it is at the end of an empty line, or a more intended line

First point, with the ``|``, is clear. Here's how I unders

[2017-04-12 06:29] amihaiemil commented on #107
@SherifWaly And as far as I know about wrapped sequences, it's only when the prev line ends with ``|-``. Then, basically, a sequence can be specified bellow, but ``-`` can be omitted from the start of each line. See [rultor.yaml](https://github.com/decorators-squad/camel/blob/master/.rultor.yml#L15) release script, which is a sequence of commands.

[2017-04-12 06:39] amihaiemil opened #108 "ReadPipeScalar implements YamlNode"
This class should encapsulate an instance of YamlLines and represent the first case of wrapped scalar: the one when the previous line ends with ``|``. More details [here](https://github.com/decorators-squad/camel/issues/107#issuecomment-293485796).

[2017-04-12 06:41] amihaiemil opened #109 "ReadPointedScalar implements YamlNode"
This class should encapsulate an instance of YamlLines and represent the second case of wrapped scalar: the one when the previous line ends with `>`.  More details [here](https://github.com/decorators-squad/camel/issues/107#issuecomment-293485796).

[2017-04-12 06:42] amihaiemil commented on #108
@SherifWaly Want to do this? Should be easy, just iterate over the lines and couple them together, with whitespaces instead of newlines :D

[2017-04-12 12:06] SherifWaly commented on #108
@amihaiemil Ok I will try to do it :)

[2017-04-12 12:10] amihaiemil commented on #108
@SherifWaly Don't forget about PDD -- no need to implement everything. The class, 1 method and some unit tests should be fine. What you can do in 30 min :)

[2017-04-12 16:19] amihaiemil commented on #108
@SherifWaly Thanks :)

[2017-04-12 16:19] #108 closed

[2017-04-13 06:43] amihaiemil commented on #109
@SherifWaly Would you like to have a look here? It should be similar to the Piped one, I think :)

[2017-04-13 08:31] SherifWaly commented on #109
@amihaiemil Ok I will try to do it :)

[2017-04-13 16:59] SherifWaly commented on #109
@amihaiemil in example 2.15 in #107, AbstractYamlLines iterator drops the 4th line ``  63 Home Runs`` as it has different indentation from the first line. So I'm not able to test the code, is there a solution for that?

[2017-04-13 17:31] amihaiemil commented on #109
@SherifWaly huh, funny :D I'll have a look tomorrow and think about it, ok? :D

[2017-04-13 17:34] SherifWaly commented on #109
@amihaiemil Ok, I've made a pull request for other cases that works correctly and added ``@Ignore`` for the second case :)

[2017-04-14 11:29] 0pdd opened #112 "ReadPointedScalarTest.java:45-46: Implement a new iterator() for..."
The puzzle `109-3848fb59` in [`src/test/java/com/amihaiemil/camel/ReadPointedScalarTest.java`](https://github.com/decorators-squad/camel/blob/master/src/test/java/com/amihaiemil/camel/ReadPointedScalarTest.java) (lines 45-46) has to be resolved: Implement a new iterator() for YamlLines to fix different indentations test as indentsValueWithDifferentIndentation() test.

The puzzle was created by she

[2017-04-14 11:29] 0pdd commented on #112
@amihaiemil please pay attention to this new issue.

[2017-04-14 11:29] 0pdd opened #113 "ReadPointedScalar.java:38-39: Refactor the implementation of..."
The puzzle `109-bb96edbe` in [`src/main/java/com/amihaiemil/camel/ReadPointedScalar.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/ReadPointedScalar.java) (lines 38-39) has to be resolved: Refactor the implementation of value() and indent() methods.

The puzzle was created by sherif on 14-Apr-17.

Estimate: 30 minutes, role: DEV.

If you have any te

[2017-04-14 11:29] 0pdd commented on #113
@amihaiemil please pay attention to this new issue.

[2017-04-14 11:32] amihaiemil commented on #109
@SherifWaly Thanks :)

[2017-04-14 11:32] #109 closed

[2017-05-05 09:50] amihaiemil commented on #107
The whole logic needs to be implemented in ``AbstractYamlLines.toYamlNode()``. We cannot have ``NestedReadYamlNode implements YamlNode`` to wrap the lines, because it will only be a ``YamlNode``, not a ``YamlMapping`` or a ``YamlSequence``, thus complicating the entire library, especially equals, compareTo and hashCode methods...

[2017-05-05 13:10] 0pdd commented on #107
The puzzle `105-d82b704d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2017-05-05 13:10] #107 closed

[2017-05-05 13:10] 0pdd opened #115 "AbstractYamlLines.java:63-64: Add more tests to cover all the..."
The puzzle `107-ebfbb571` in [`src/main/java/com/amihaiemil/camel/AbstractYamlLines.java`](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/AbstractYamlLines.java) (lines 63-64) has to be resolved: Add more tests to cover all the nested node possibilities.

The puzzle was created by amihaiemil on 05-May-17.

Estimate: 30 minutes, role: DEV.

If you have any

[2017-05-05 13:10] 0pdd commented on #115
@amihaiemil please pay attention to this new issue.

[2017-05-25 11:11] amihaiemil commented on #35
@charlesmike hello

[2017-05-25 11:11] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-07-30 11:47] amihaiemil commented on #90
@charlesmike hello

[2017-08-07 16:08] charlesmike commented on #90
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-08-21 09:05] amihaiemil commented on #35
@charlesmike hello

[2017-08-22 18:46] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-08-29 16:54] amihaiemil commented on #35
@charlesmike hello there

[2017-08-29 16:54] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-03 18:16] amihaiemil commented on #35
@charlesmike hello , is the checker running?

[2017-09-03 18:18] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-03 18:42] amihaiemil commented on #90
@charlesmike hello

[2017-09-04 21:33] amihaiemil commented on #90
@charlesmike hello

[2017-09-04 21:33] charlesmike commented on #90
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-08 08:36] amihaiemil commented on #90
@charlesmike hello, is the checker running?

[2017-09-08 08:36] charlesmike commented on #90
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-08 14:53] amihaiemil commented on #115
@charlesmike hello there

[2017-09-08 14:53] charlesmike commented on #115
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-18 14:17] amihaiemil commented on #35
@charlesmike hello, is the checker running?

[2017-09-18 14:17] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-21 13:30] amihaiemil commented on #35
@charlesmike hello

[2017-09-21 13:30] charlesmike commented on #35
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-09-24 20:14] amihaiemil commented on #90
@charlesmike hello, how is HTTPS going?

[2017-09-24 20:18] amihaiemil commented on #90
issue with the checked: https://github.com/opencharles/mention-notifications-ejb/issues/17

[2017-09-25 17:01] amihaiemil commented on #90
@charlesmike hello, how is HTTPS going?

[2017-10-24 17:33] charlesmike commented on #90
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-11-05 22:22] amihaiemil opened #116 "toString() causes StringIndexOutOfBound if mapping/sequence is empty"
If a sequence of a mapping is empty and ``toString`` is called, the exception is thrown.

[2017-12-08 10:55] amihaiemil opened #117 "NoSuchElementException toString() on empty read YAML"
If a ReadYamlMapping or ReadYamlSequence are empty and toString() is called, NoSuchElementException is thrown.

[2017-12-08 11:02] #116 closed

[2018-01-05 12:17] #117 closed

[2018-01-05 12:18] amihaiemil opened #120 "Release 1.0.2"
Contains fixes for toString() called on an empty yaml mapping or sequence. (#116 annd #117)

[2018-01-05 12:18] amihaiemil commented on #120
@rultor release it please, tag is `1.0.2`

[2018-01-05 12:19] rultor commented on #120
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13670-355542174)

[2018-01-05 12:21] rultor commented on #120
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13670-355542174) (spent 2min)

[code]

[2018-01-05 12:33] amihaiemil opened #121 "Fix Maven JavaDoc plugin complaint:"
When trying to release v 1.0.2, Maven Javadoc plugin started complaining about a ``@see`` tag somewhere. See [here](http://www.rultor.com/t/13670-355542174)

[2018-01-27 19:40] amihaiemil commented on #35
@comdor hello

[2018-01-27 19:40] comdor commented on #35
@amihaiemil Hi there! I'm only version `0.0.2`, so I can't do much yet. Follow me and [my website](http://comdor.co) for updates on the next version.

[2018-01-27 20:00] #121 closed

[2018-01-27 20:22] amihaiemil commented on #120
@rultor try to release again, tag is `1.0.2`

[2018-01-27 20:23] rultor commented on #120
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13670-361012519)

[2018-01-27 20:24] rultor commented on #120
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13670-361012519) (spent 2min)

[code]

[2018-01-27 22:18] amihaiemil commented on #120
@rultor try to release again, tag is `1.0.2`

[2018-01-27 22:19] rultor commented on #120
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13670-361019837)

[2018-01-27 22:22] rultor commented on #120
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/13670-361019837) (took me 3min)

[2018-01-27 22:28] #120 closed

[2018-05-28 07:14] asomov opened #123 "No sorting should be enforced"
Hi all,
I read this on the main page:
_notice that the elements are ordered, according to the Yaml specification_
Please be aware that the specification says something else:
 _It is up to the YAML processor to come up with human-friendly key order and anchor names, possibly with the help of the application._
Ordered does not mean sorted (especially, althebetically). "with the help of the applicati

[2018-05-28 08:39] amihaiemil commented on #123
@asomov Thank you for your message.

Well, it says "possibly with the help of the application" -- that "possibly" means the parser could do it as well, I believe. For instance, www.yamllint.com also orders it automatically, try validating the following:

[code]

and you'll see it comes out ordered.

But maybe we could accept a comparator, so we order it according to the user's logic. Do you need t

[2018-05-28 10:02] asomov commented on #123
Merge request is created: https://github.com/decorators-squad/camel/pull/124

[2018-05-28 10:29] asomov commented on #123
Can you please help me to find an example to parse '---\n[1, 2, 3]' (the flow style sequence) ? I do not understand how you can use the API and what is index is this case.

[2018-05-28 14:56] amihaiemil commented on #123
@asomov you want to create a Yaml Sequence or to read one? For creating try ``Yaml.createYamlSequenceBuilder()`` and for reading you can try ``Yaml.createYamlInput(...).readYamlSequence()`` -- you can read from a File or InputStream, I think.

These are explained in the README.md. Doesn't that code work for you?

[2018-05-28 15:14] asomov commented on #123
I have read the README.
The explanation does not work for me.
I want to parse the YAML document: '---\n[1, 2]'

How can I apply Yaml.createYamlInput(...).readYamlSequence() ?
Yes, I can create YamlSequence instance, but how do I create List<Integer> ? What is the index here?

[2018-05-28 15:31] amihaiemil commented on #123
@asomov There is no List, there is only YamlSequence, and you can use the ``string(...)`` method to get the String from the given index.

You should be able to create the YamlInput based on an InputStream (if you want to parse a String, then build a ByteArrayInputStream from its bytes and use that)

I will have a look tonorrow and try to give you more details. Until then, you can also study the un

[2018-05-28 15:35] amihaiemil commented on #123
@asomov could you show me the code you are trying to run? Or make a PR with a unit test that would show what you want exactly?

[2018-05-28 15:59] asomov commented on #123
Here I created a test with my questions: https://github.com/decorators-squad/camel/pull/125

[2018-05-29 06:59] amihaiemil commented on #123
@asomov I had a look and I understand your question now :)

Unfortunately, flow and recursive styles are not implemented yet.

There are quite a a lot of features which still need to be implemented, the library has only 3 releases. For instance, documents/streams (sepparated by ``---``) are also not implemented yet. Currently, the library can be used to read **block**-style YAMLs only and more wit

[2018-05-29 11:29] asomov commented on #123
Why the merge request #124  is not accepted ? The current description is misleading.

[2018-05-29 11:57] amihaiemil commented on #123
@asomov I haven't merged it because it is still not clear to me if order is needed or not. The Spec says the following (3.2.1.1 Nodes section):

Sequence

    The content of a sequence node is an **ordered** series of zero or more nodes. In particular, a
    sequence may contain the same node more than once. It could even contain itself (directly or
    indirectly).

Mapping

    The content of a

[2018-05-29 12:05] amihaiemil commented on #123
@asomov I just updated the commit: https://github.com/decorators-squad/camel/commit/b4da9c46149b7e78ef8ecb3c55778b21234d770b

So, the specification asks that sequences be ordered, but it doesn't ask it explicitely for the mappings... however, order in a map is not really important, since you are going to fetch the element by its key, not by its index. I think, with that explanation in the README,

[2018-05-29 12:27] asomov commented on #123
You do not see the difference between ordered and sorted. The spec says nothing about sorting, but the parser implemented sorting. LinkedHashMap for instance is ordered, but not sorted.
If the parser reads a YAML document and writes it back to the output, then the order of the keys will be changed. THE ORDER which was explicitly given will be ignored and replaced with hard-coded sorting.

I do not

[2018-05-29 12:43] amihaiemil commented on #123
@asomov I see your point now, I updated the documentation: https://github.com/decorators-squad/camel/commit/96010c42c9922253f9d0449b7ec9c490216799ce

From the spec, I had understood that ``order == sorting`` and I followed the behaviour of www.yamllint.com

[2018-05-29 12:47] asomov commented on #123
You may say that you follow yamllint, but not the spec.
"predictable iteration order" does not mean sorting. Sorting is more.

[2018-05-30 14:37] #123 closed

[2018-06-15 13:35] Kawzeg opened #126 "Pretty Print Tests fail because of Windows EOL"
On a clean checkout on my Windows machine, `mvn clean install -Pcheckstyle` causes the pretty print tests to fail.

This is caused by the reference *.yml files, which use CRLF, but the pretty printed sequence uses LF.

The simplest solution would be to add *.yml to .gitattributes and explicitly require LF endings.

[2018-06-15 13:38] amihaiemil commented on #126
@Kawzeg thank you for opening the Issue.

can you try to make a PR? I see you already did the change on your fork :)

[2018-06-15 13:54] #126 closed

[2018-07-07 15:13] liquid600pgm opened #128 ""Indentation of line x is greater than previous's" in an unexpected position"
Hello,

I tried to use Camel for my project (as an alternative to SnakeYAML that supports YAML 1.2), but this:
[code]
is not read correctly, even though this is a perfectly valid YAML document.
Here's the exception that I get:
[code]
If I remove the first 2 lines with `%YAML 1.2` and `---` this exception is raised:
[code]

[2018-07-07 15:52] amihaiemil commented on #128
@liquid600pgm thanks for pointing it out, I will have a look as soon as possible.

In the meantime, note that camel is still in its early version (we would need contributors), so use it only for small stuff, such as reading config files. For instance, topics such as aliases and serialization are not yet implemented

[2018-07-11 11:31] liquid600pgm commented on #128
@amihaiemil Thank you for your response.

The irony is, I am trying to use Camel for a theming system, which by itself is kind of config :P However my theming system is pretty sophisticated so it makes sense that Camel doesn't work with it at this point in time.
I will try to help with your library, as it certainly has potential.

[2018-07-11 11:36] amihaiemil commented on #128
@liquid600pgm Thanks.

If you want to contribute, this library has a few principles in mind:

1. All objects, no matter what, have interfaces.
2. Immutability is prefered (I think all objects in the library are currently immutable)
3. Do not ever transform object A into object B. Instead, add a new implementation of B (which is an interface), based on A.

For instance, you see I am not trying to c

[2018-07-22 18:52] dalewking opened #129 "BUG: Sequences cannot be reordered"
The readme says this:

For mappings that is absolutely fine as there is no required ordering of the keys as stated in this section of the spec: http://yaml.org/spec/1.2/spec.html#id2765608.

But for sequences, not only is it not required, it is absolutely **FORBIDDEN**!! Quoting this section of the spec: http://yaml.org/spec/1.2/spec.html#id2764044

The elements of a sequence are ordered. Whatever

[2018-07-22 19:33] amihaiemil commented on #129
@dalewking

To be honest, I wasn't exactly sure whether "ordered" means the order of reading or not, so I took it after yamllint.com, which at the time I clearly remember ordered the elements of a sequence alphabetically (now it doesn't anymore, from what I see).

I will fix this as you suggest asap (probably in the next days), but relying on the input order is either way not a good practice. Keep

[2018-07-23 14:22] amihaiemil commented on #129
@dalewking I won't be having time for this anytime soon. If you are interested, please provide a PR. The changes should be minimal.

1. Remove the sorting from [RtYamlSequence](https://github.com/decorators-squad/camel/blob/master/src/main/java/com/amihaiemil/camel/RtYamlSequence.java#L55) (the one that is built by the user via the Builder)
2. Remove the usage of ``OrderedYamlLines`` from [ReadYam

[2018-07-23 14:52] dalewking commented on #129
Don't really care any more. I just needed to do a one-time quick export of some data from an app for a new version of the app. I later realized that most of the yaml libraries suck and just output the data using a JSON library and ran it through a JSON to Yaml converter.

[2018-07-23 15:18] amihaiemil commented on #129
@dalewking I see, no prob. :)

[2018-08-14 12:33] amihaiemil opened #130 "Release 1.0.3"
Let's release ``1.0.3``, it contains the fix for issue #129

[2018-08-14 12:40] #129 closed

[2018-08-14 12:42] amihaiemil commented on #130
@rultor release it, tag is `1.0.3`

[2018-08-14 12:47] rultor commented on #130
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15690-412858303)

[2018-08-14 12:53] rultor commented on #130
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/15690-412858303) (took me 6min)

[2018-08-14 12:55] #130 closed

[2018-09-03 08:13] nandinibhaduri opened #132 "Editing a YAML file"
I want to add a new sequence/mapping to a existing yaml file. I have read the file into a YamlMapping variable, but I don't see a way to add or edit the variable. It just seems to be for reading. Can it be done? If yes, how? Thanks in advance.

[2018-09-03 08:56] amihaiemil commented on #132
@nandinibhaduri Hello

This is a good question. YamlMapping and YamlSequence are immutable, so you cannot change them. They only have methods for reading (it would be a good idea to add methods for editing, too!).

For now, what you can do in order to "modify" that YamlMapping is to implement your ``EditedYamlMapping`` (YamlMapping is the public interface, which you can use to add customized imple

[2018-09-03 09:35] nandinibhaduri commented on #132
Thanks @amihaiemil. I will look into the source and see what I can do. Btw, I think keeping the YamlMapping immutable is a good idea. But you can return a new YamlMapping object on the edit functions, keeping the base object unchanged.

[2018-09-03 11:52] amihaiemil commented on #132
@nandinibhaduri What if YamlMapping had a method, say ``edit() : YamlMappingBuilder`` to be used like this?

[code]

In this case the ``add(...)`` methods of the builder would add or update the key depending on whether the key exists or not.

What do you think?

[2018-09-03 12:04] nandinibhaduri commented on #132
How about -
final YamlMapping original = ...;
final YamlMapping tobeadded = Yaml.createYamlMappingBuilder()
    .add("...", "...")
    .build();
final YamlMapping edited = original.add(tobeadded);

This way the Mapping builder can be reused.

[2018-09-06 02:39] marsdonne opened #133 "about user-friendly DSL"
my env:
groovy 2.4  java 8   camel 1.0.3

Example: add yaml node in loop

[code]

vs

[code]

[2018-09-08 14:58] RenWal opened #134 "Created empty sequences are invalid on parsing"
I just noticed that Camel creates empty sequences that it then can't parse successfully.

Steps to reproduce:
- Create a YamlMapping and add a YamlSequence with no elements and any key.
- Add at least one other key-value pair to the YamlMapping
- Call `toString()` and write the String to a file.
- Read the file via `YamlMapping m = Yaml.createYamlInput(InputStream).readYamlMapping()`
- Extract the

[2018-09-08 15:39] amihaiemil commented on #134
@RenWal I see, definetely a bug. I will fix it as soon as I have some time (tomorrrow evening, I think), but the fix should be returning a (working) empty YamlSequence, not null, since the key exists after all.

[2018-09-10 12:54] amihaiemil commented on #133
@marsdonne I'm sorry, I don't think I understand what the problem is :D

[2018-09-10 12:59] amihaiemil opened #135 "Project name change"
The project's name has to be changed, since it's in conflict with [ASF's Trademard Policy](http://www.apache.org/foundation/marks/) (there is also the Apache Camel project).

[2018-09-10 13:11] 0pdd opened #136 "ReadPointedScalarTest.java:45-46: Implement a new..."
The puzzle `109-3848fb59` from #109 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3023902250b71b67db42b6d6c7e7905636ba216a/src/test/java/com/amihaiemil/camel/ReadPointedScalarTest.java#L45-L46

The puzzle was created by Mihai A on 10-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when th

[2018-09-10 13:11] 0pdd commented on #136
@amihaiemil please pay attention to this new issue.

[2018-09-10 13:11] 0pdd opened #137 "AbstractYamlLines.java:63-64: Add more tests to cover all..."
The puzzle `107-ebfbb571` from #107 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3023902250b71b67db42b6d6c7e7905636ba216a/src/main/java/com/amihaiemil/camel/AbstractYamlLines.java#L63-L64

The puzzle was created by Mihai A on 10-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-09-10 13:11] 0pdd commented on #137
@amihaiemil please pay attention to this new issue.

[2018-09-10 13:11] 0pdd opened #138 "AbstractYamlDump.java:35-37: Add method ``serlialize()``..."
The puzzle `30-1ab58fb9` from #30 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3023902250b71b67db42b6d6c7e7905636ba216a/src/main/java/com/amihaiemil/camel/AbstractYamlDump.java#L35-L37

The puzzle was created by Mihai A on 10-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2018-09-10 13:11] 0pdd commented on #138
@amihaiemil please pay attention to this new issue.

[2018-09-10 13:11] 0pdd opened #139 "ReadPointedScalar.java:38-39: Refactor the implementation..."
The puzzle `109-bb96edbe` from #109 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3023902250b71b67db42b6d6c7e7905636ba216a/src/main/java/com/amihaiemil/camel/ReadPointedScalar.java#L38-L39

The puzzle was created by Mihai A on 10-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-09-10 13:11] 0pdd commented on #139
@amihaiemil please pay attention to this new issue.

[2018-09-10 13:11] 0pdd commented on #107
@0pdd the puzzle [#137](https://github.com/decorators-squad/eo-yaml/issues/137) is still not solved.

[2018-09-10 13:11] 0pdd commented on #109
@amihaiemil 2 puzzles [#136](https://github.com/decorators-squad/eo-yaml/issues/136), [#139](https://github.com/decorators-squad/eo-yaml/issues/139) are still not solved.

[2018-09-10 13:11] 0pdd commented on #30
@amihaiemil the puzzle [#138](https://github.com/decorators-squad/eo-yaml/issues/138) is still not solved.

[2018-09-10 13:14] #136 closed

[2018-09-10 13:14] #137 closed

[2018-09-10 13:14] #138 closed

[2018-09-10 13:14] #139 closed

[2018-09-10 14:07] amihaiemil commented on #135
We have to re-encrypt the ``rcfg`` files, otherwise rultor won't work.

[2018-09-11 08:59] marsdonne commented on #133
about the method YamlSequenceBuilder#add(),  it return YamlSequenceBuilder, is DSL pattern.
but,
i have some code:
`YamlNode subnode = Yaml.createYamlMappingBuilder().add("id","123456789").build();`
`YamlSequenceBuilder builder = Yaml.createYamlSequenceBuilder();`
if i write:
`builder.add(subnode);`
then i get nothing from:
`builder.build().toString()`
i must write:
`builder = builder.add(subnode)

[2018-09-12 17:44] amihaiemil commented on #135
@rultor let's release it, tag is `0.0.1`

[2018-09-12 17:46] rultor commented on #135
@amihaiemil Invalid release tag `0.0.1` specified. There is already a release `1.0.3` newer than the given release in this repository.

[2018-09-12 17:46] rultor commented on #135
@amihaiemil I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-09-12 17:49] amihaiemil commented on #135
@rultor let's release it, tag is `2.0.0`

[2018-09-12 17:51] rultor commented on #135
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15910-420738923)

[2018-09-12 17:56] rultor commented on #135
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/15910-420738923) (took me 5min)

[2018-09-12 17:57] #135 closed

[2018-09-17 02:53] XiaoFan1519 opened #141 "Removable unused dependency or set the scope to test"
https://github.com/decorators-squad/eo-yaml/blob/db1fa38080ebcea153ffd2e5f2b0b007f3337aca/pom.xml#L46-L50

[2018-09-17 05:02] amihaiemil commented on #141
@XiaoFan1519 Right, I'll take care of it. I guess I initially wanted to add some logging, but it's obviously not needed anymore. Thank!

[2018-09-20 06:38] sampan-dong opened #142 "where is the maven repostiory ?"

[2018-09-20 07:16] amihaiemil commented on #142
@sampan-dong The library is published on Maven Central repostory (see [here](https://mvnrepository.com/artifact/com.amihaiemil.web/eo-yaml/2.0.0)). You can also use the ``<dependency>`` provided in the repo's README, its version is updated automatically at each release.

[2018-09-20 07:16] #142 closed

[2018-09-20 07:30] #141 closed

[2018-09-20 07:37] amihaiemil commented on #141
@rultor let's release it, tag is `2.0.1`

[2018-09-20 07:38] rultor commented on #141
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15966-423074070)

[2018-09-20 07:41] rultor commented on #141
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/15966-423074070) (took me 3min)

[2018-09-27 06:43] amihaiemil commented on #134
@RenWal I looked into this, but unfortunately, it is a little harder to fix. I think the simple "solution" for now is to simply ignore empty elements when building the YAML.

This is because the current architecture (layers of abstraction etc) was designed for **Block** YAML only... it is currently very hard to take into account JSON-like structures, streams and so on. For that kind of stuff, we'l

[2018-10-09 19:22] aquishix opened #144 "Erroneous Inclusion of Double Quotes for Parsed Double Quoted Strings"
I have a YAML file with these(obscured) contents:

[code]

and the double quotes around the password make it into the parsed string when calling

`this.password = yamlMapping.string("password");`

in my code.  Therefore, I had to implement a regex-based hack:

`this.password = yamlMapping.string("password").replaceAll("^\"|\"$",  "");`

This is definitely annoying, and I'm almost certain that it's

[2018-10-10 11:51] amihaiemil commented on #144
@aquishix

The quotes make it into the value because they are considered part of it. Unlike JSON which looks like this:

[code]

, (so string values are quoted in the notation), YAML looks like this:

[code]

So, you see, in YAML notation, keys and values are not quoted. Your value happens to be quoted because that's what it contains, those quotes are not part of the YAML notation. Makes sense? :D

[2018-10-10 15:59] aquishix commented on #144
Try putting the YAML payload I posted into this site and convert it to JSON:

https://codebeautify.org/yaml-to-json-xml-csv

...and what you will get is this:

[code]

Whereas if you were correct(and this site had proper YAML parsing), it should be this:

[code]

...so are you contending that this site has incorrect YAML parsing?

[2018-10-10 16:00] aquishix commented on #144
Furthermore, you seem to be ignoring the fact that the # symbol is a comment symbol, which is why I had to use double quotes in the first place(to avoid the # being regarded as a comment symbol and thereby excised from the parsed password string).

The mere fact that putting the string between a pair of double quotes causes the # to be included in the parsed string implies that your interpretation

[2018-10-10 16:03] aquishix commented on #144
Another example of a converter online adhering to what I'm claiming should be the case:

https://www.json2yaml.com/

Try putting in

[code]

on the right hand side, and this appears on the left hand side:

[code]

[2018-10-10 16:17] amihaiemil commented on #144
@aquishix I just had a look as well, on yamllint.com and I think you're right. I also kind of remember from the specification (it was a rather long time ago) that yaml "escapes" special charaters such as ``#`` by wrapping the string between double quotes...

So yes, maybe there should be some logic to eliminate double quotes if they are present.

I will fix it, but it will take a few days, I don't

[2018-10-10 16:19] amihaiemil commented on #133
@marsdonne I'm closing this, since I think it's cleared. Feel free to open another issue if you have other questions.

[2018-10-10 16:19] #133 closed

[2018-10-10 16:37] amihaiemil commented on #144
@aquishix By the way, don't forget that both ``YamlMapping`` and ``YamlSequence`` are interfaces, so you can decorate them and put that regex logic there, like this:

[code]

[2019-01-01 14:04] dnet commented on #144
Unfortunately, this behavior (ignoring escaping issues) makes it possible for this library to serialize YAML that itself can't parse again. I serialized a list of command line parameters as a `YamlSequence`, and one of them was `-` which has the pretty common meaning in the Unix world of using standard input when a file name is asked. This resulted in an output like

[code]

and the parser of eo-y

[2019-01-01 14:52] amihaiemil commented on #144
@dnet I see. I will try to make some time for this next week. In the meantime: maybe try to map your commandline args in a YamlMapping rather than sequence?

Furthermore, you said that you spent a lot of time integrating the library -- why is that, what other problems you had? I think the fact that you struggled to get it running is a bug in itself... maybe you have time to open an Issue about it?

[2019-01-02 20:07] dnet commented on #144
Not exactly problems, just merely the fact that first, I wrote the "glue" that converted the internal structures to eo-yaml invocations for serializations, and decided to write the reverse (parsing YAML using eo-yaml to internal structures again) after, so that I have an input to work on. While writing the code, I always kept an eye on the output of the serializer, and everything seemed fine. So I

[2019-01-02 21:12] amihaiemil commented on #144
My piece of advice is to not use "models" (getter/setter classes) and to keep your objects immutable. eo-yaml is designed with strong OOP in mind (see my blog if you are curious). For instance, notice that  all objects in eo-yaml are immutable and hidden behind Java interfaces (very few public classes).

I would represent your command line args as follows:

[code]

So, encapsulation, immutability

[2019-05-16 07:26] davidmpaz opened #145 "Generate a mapping inside a Sequence"
Hi there,

thanks for this library. I am trying to learn how to use it and was wondering how to generate a yaml like:
[code]
What i have tried, without success, is:
[code]

Please note i am a yaml newbie, maybe i am missing somehitng related to the specs.

thanks in advance,
David

[2019-05-16 07:53] davidmpaz commented on #145
Hi again,

i am sorry for posting this too quickly, like i said, i am not so verse with yaml and did not noticed that:
[code]

is also a valid representation of:
[code]

just as documentation, the final used code was:
[code]

[2019-05-16 07:53] #145 closed

[2019-07-23 09:28] moy opened #146 "Missing keys() method in YamlMapping"
It is currently possible to iterate over the values of a mapping using `.children()`, but the `keys()` method is only defined in `AbstractYamlMapping` (private), hence only available in the descendants of `AbstractYamlMapping` (private too for most classes). Typically, one can't write

[code]

[2019-07-28 16:44] gerardbosch opened #147 "[Feature request] Transclusion of external YAML contents"
According to this discussion:
https://stackoverflow.com/questions/528281/how-can-i-include-a-yaml-file-inside-another/15437697#15437697

(and being said that that standard YAML 1.2 does not support transclusion (or include) feature to reference contents of external YAML documents) it seems that some YAML processors/libraries for other languages do already provide it. I have been looking for a Java

[2019-07-28 22:31] #147 closed

[2019-07-28 22:32] gerardbosch commented on #147
I think I was wrong, and the described feature can be achieved (at least) with some of the YAML libraries using YAML tags as described in the referenced link. So I close the issue.

[2019-07-31 08:06] Articdive opened #148 "Allow parsing/writing comments under specific options."
Comments are not included in the 1.2 yaml spec, although the ability to for example, save one's comments when changing an option in a configuration or writing new nodes to the config can be extremely useful. I would be willing to try to implement this myself, I don't think it is too hard to implement.
"under specific options":
By saying this I mean, allowing an options file or some sort of boolean

[2020-02-03 11:42] amihaiemil opened #149 "Implement reading with ANTLR"
At the moment ReadYamlMapping and ReadYamlSequence are implemented by ourselves. The abstractions used are not correct because they only work with Block-Style YAML.

For instance, Streams and Aliases are not supported at the moment.

These classes should work with an ANTLR parser behind, so we can cover all the cases.

The first step would be finding of a proper YAML Grammar.

[2020-02-04 11:51] Guseyn opened #150 "I cannot understand the API, plz make it without builder pattern"

[2020-02-04 11:59] amihaiemil commented on #150
@Guseyn Which part of the API you can't understand exactly? The Builder pattern is quite straight forward, have a look [here](https://github.com/decorators-squad/eo-yaml#building-and-printing-yaml)

[2020-02-19 10:20] Thadir opened #151 "[Feature request] Beste type casting support"
At the moment all the outputs from the eo-yaml only supports string outputs and you have to do the casting witch causing sometimes you have to write rappers to keep the clean code.

It would be nice to have somting like:

[code]

With trowing a clean error if the asked attribute is not the type match of whats written. This will make code of end users a lot cleaner.

[2020-03-04 10:54] amihaiemil commented on #151
@Thadir Thank you, we'll consider it.

But in the meantime, don't forget that ``YamlMapping`` is an **interface**, so you can extend it yourself:

[code]

[2020-03-04 11:01] amihaiemil commented on #148
@Articdive We'll have a look as soon as possible. Sorry for the late answer.

[2020-03-04 11:02] amihaiemil commented on #146
@moy Thanks for the ticket, we'll have a look. PRs are also welcome, if you have the time to contribute.

[2020-03-04 11:03] #150 closed

[2020-03-05 18:44] amihaiemil opened #153 "Move to Java 8"
Let's move to Java 8.

[2020-03-05 18:58] amihaiemil opened #155 "Release 3.0.0"
Let's release version 3.0.0, it contains the following:

* #146
* #153

[2020-03-05 18:58] amihaiemil commented on #155
@rultor release it, tag is `2.1.0`

[2020-03-05 19:02] rultor commented on #155
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21479-595391325)

[2020-03-05 19:04] rultor commented on #155
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21479-595391325) (spent 2min)

[code]

[2020-03-05 19:51] amihaiemil commented on #155
@rultor release it, tag is `3.0.0`

[2020-03-05 19:54] rultor commented on #155
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21479-595415503)

[2020-03-05 19:57] rultor commented on #155
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21479-595415503) (spent 3min)

[code]

[2020-03-05 20:01] amihaiemil commented on #155
@rultor release it, tag is `3.0.0`

[2020-03-05 20:02] rultor commented on #155
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21479-595420133)

[2020-03-05 20:07] rultor commented on #155
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21479-595420133) (took me 4min)

[2020-03-05 20:08] amihaiemil commented on #155
@moy Version `3.0.0` has just been released. Added the ``YamlMapping.keys()`` method and upgraded to Java 8.

[2020-03-05 20:08] #155 closed

[2020-03-05 20:09] #146 closed

[2020-03-05 20:09] #153 closed

[2020-03-06 10:34] amihaiemil commented on #148
@Articdive There will be no options of config file for this library, that's for sure. Flags and options should actually be translated into new classes, new implementations of YamlMapping and/or YamlSequence.

The implementation for your usecase would probably start in ReadYamlMapping (not RtYamlMapping - this one is used for Building, not for Reading).

[2020-03-06 11:50] amihaiemil opened #156 "Make YamlSequence extend Iterable<YamlNode>"
The YamlSequence should be iterable.

[2020-03-06 12:09] amihaiemil commented on #156
@rultor release it, tag is `3.0.1`

[2020-03-06 12:14] rultor commented on #156
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21482-595740899)

[2020-03-06 12:22] rultor commented on #156
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21482-595740899) (took me 7min)

[2020-03-06 12:27] #156 closed

[2020-03-06 12:33] amihaiemil opened #158 "AbstractYamlMapping -> ComparableYamlMapping"
Let's rename AbstractYamlMapping/YamlSequence to ComparableYamlMapping/Sequence. These abstract classes only implement hashcode/equals/compareTo.

Ideally, these 3 methods should be **default** methods on their respective interfaces, but apparently we are not allowed to have default implementations of Object methods...

[2020-03-06 13:33] #158 closed

[2020-03-06 17:48] amihaiemil opened #160 "Updarte Copyright years"
update them to 2020

[2020-03-06 17:55] #160 closed

[2020-03-06 17:57] amihaiemil opened #162 "Unignore tests in ReadPointedScalarTest"
There are 2 ignored tests which should be fixed and enabled.

[2020-03-07 23:36] rubyFeedback opened #163 "[Documentation improvement suggested] Would it be possible to explain briefly how to use the fat jar?"
Hey guys,

I am a ruby guy (the nick gives it away) but I am also learning java due to various reasons.

I have a lot of experience with yaml, and have lots of yaml files too.

Now I want to use java to read yaml files; I don't need to generate anything for
now since ruby could do this (until I become better in java).

Anyway, I found a few projects but eo-yaml seems nice in that it seems very
sim

[2020-03-08 12:29] amihaiemil commented on #163
@rubyFeedback hi

Well, looking over the fat jar now, it's actually missing a dependency (it should have JSON-P in it, but it doesn't). We will have to fix that...

Are you sure you don't wanna learn Maven? It would be the easiest way and you will have to learn it either way, since it's the most used build tool in Java.

I'm not even sure how to use the fat jar, I haven't used one in years. But ba

[2020-03-09 09:40] amihaiemil opened #164 "Increase Test Coverage"
We should have a test coverage of at least 90%

[2020-03-09 15:44] amihaiemil opened #165 "Redesign RtYamlLines"
At the moment RtYamlLines only iterates over lines which have the same indentation level. This is however not correct for all cases.

We need to redesign this class/decouple the cases so that we apply the correct YamlLines in each scenario.

[2020-03-09 16:49] amihaiemil opened #166 "Redesign ordering for ReadYamlMapping"
At the moment ReadYamlMapping is using OrderedYamlLines to do the ordering (keys have to be ordered). This is not a good design since it cannot cover all the cases.

Find a better solution (using the keys() and children() methods, probably).

Roadmap:

* keys ordering: done in #171
* children ordering: done in #179
* ordered indentation: done in #182

[2020-03-09 18:17] amihaiemil opened #167 "Revise YamlLines.toYamlNode(YamlLine prev)"
Revise and settle why does this method expect the previous line?

[2020-03-09 18:36] 0pdd opened #169 "YamlLines.java:77-79: Add some integration tests to make..."
The puzzle `165-ab99980e` from #165 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/3ff05b3d7234278aa8150824e9deaba0d584e8b6/src/main/java/com/amihaiemil/eoyaml/YamlLines.java#L77-L79

The puzzle was created by @amihaiemil on 09-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-03-09 18:37] 0pdd commented on #169
@amihaiemil please pay attention to this new issue.

[2020-03-09 18:37] 0pdd commented on #165
@amihaiemil the puzzle [#169](https://github.com/decorators-squad/eo-yaml/issues/169) is still not solved.

[2020-03-09 20:35] #165 closed

[2020-03-09 20:38] #162 closed

[2020-03-09 20:39] 0pdd commented on #109
@amihaiemil the puzzle [#139](https://github.com/decorators-squad/eo-yaml/issues/139) is still not solved; solved: [#136](https://github.com/decorators-squad/eo-yaml/issues/136).

[2020-03-10 08:07] amihaiemil opened #172 "Update commons-beanutils to 1.9.4"
Seems like the version we are using has a security [vulnerability](https://app.snyk.io/vuln/SNYK-JAVA-COMMONSBEANUTILS-460111). The latest version, ``1.9.4``, should fix it.

[2020-03-10 08:13] amihaiemil opened #174 "Release 3.1.0"
Let's prepare it for the release. This release contains the following stuff (mostly internal fixes and refactoring):

* #158
* #160
* #162
* #164
* #165
* #166
* #172 (fixed vulnerability in commons-beanutils)
* #180 (rename ``children()`` to ``values()``)
* #183 (added method ``YamlNode : YamlMapping.value(YamlNode)``

We jump from 3.0.2 to 3.1.0 since it contains many important bugfixes and also

[2020-03-10 08:18] #172 closed

[2020-03-10 09:54] amihaiemil commented on #164
we've reached it already, via other PRs.

[2020-03-10 09:54] #164 closed

[2020-03-10 11:34] amihaiemil opened #176 "ReadYamlMapping.yamlMapping(...) doesn't work well"
Same for ``.yamlSequence()``. These 2 methods are supposed to return null if the specified key has no associated value or if the value is not a YamlMapping or YamlSequence respectively. However, this behaviour doesn't work as expected, null is never returned.

Write some unit tests and fix these methods.

[2020-03-10 15:59] amihaiemil commented on #176
Done

[2020-03-10 15:59] #176 closed

[2020-03-10 17:29] amihaiemil opened #180 "Rename YamlNode.children() to YamlNode.values()"
values() is a much better name, it's actually what the "children" are in the case of mappongs, sequences and even scalars -- there can be scalars with multiple "values"/folded lines.

Keep the children() method, for backwards compatibility and mark it as deprecated, explaining that the new values() should be used.

[2020-03-10 20:13] #180 closed

[2020-03-10 20:14] amihaiemil commented on #163
@rubyFeedback Hi,

did you manage to get it going? Need more help?

[2020-03-11 11:56] amihaiemil opened #183 "Add YamlNode:value(YamlNode) to YamlMapping"
YamlMapping should have a generic ``YamlNode : value(key:YamlNode)`` to fetch a value mapped to a key.

[2020-03-11 12:34] #183 closed

[2020-03-11 14:43] amihaiemil commented on #166
fixed

[2020-03-11 14:43] #166 closed

[2020-03-11 14:43] amihaiemil commented on #174
@rultor let's release it, tag is `3.1.0`

[2020-03-11 14:47] rultor commented on #174
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21519-597675368)

[2020-03-11 14:50] rultor commented on #174
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21519-597675368) (spent 2min)

[code]

[2020-03-11 15:05] amihaiemil commented on #174
@rultor let's release it, tag is `3.1.0`

[2020-03-11 15:07] rultor commented on #174
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21519-597687394)

[2020-03-11 15:17] rultor commented on #174
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21519-597687394) (took me 9min)

[2020-03-11 15:18] #174 closed

[2020-03-11 15:40] amihaiemil commented on #90
Let's implement this next. Such a Stream of documents should be read into a YamlSequence, each YAML document representing a YamlNode in the sequence.

[2020-03-11 17:22] amihaiemil opened #187 "Release 3.1.1"
Changelog for the `3.1.1` release:

* #90 -- added building and printing of Yaml Streams -> integrated with Java 8 Stream API!
* #151  -- added convenience type-casting methods for YamlMapping and YamlSequence
* #189  -- removed the mandatory check for evenly-indented line. Not all YAML lines need to have an even indentation.
* #191

[2020-03-11 17:23] #151 closed

[2020-03-12 10:38] amihaiemil opened #189 "Remove EvenlyIndentedLine"
This YamlLine decorator mandates that each and every YAML line needs to have an even (%2==0) indentation.

However, this assumption is incorrect: we can have folded Scalars, for instance, and its lines can have any indentation.

[2020-03-12 10:53] #189 closed

[2020-03-13 10:32] amihaiemil opened #191 "Remove YamlLines.indent(...)"
This method should be removed as we cannot properly do indentation at the lines' level. Indentation is always done a bit upper, at YamlNode level, based on keys() and/or values() methods.

[2020-03-13 10:37] amihaiemil commented on #169
puzzle will automatically be removed by #191

[2020-03-13 10:38] #191 closed

[2020-03-13 10:39] #169 closed

[2020-03-13 10:39] 0pdd commented on #169
The puzzle `165-ab99980e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-13 10:39] 0pdd commented on #165
@amihaiemil the only puzzle [#169](https://github.com/decorators-squad/eo-yaml/issues/169) is solved here.

[2020-03-13 10:48] amihaiemil commented on #187
@rultor release it, tag is `3.1.1`

[2020-03-13 10:52] rultor commented on #187
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21531-598662497)

[2020-03-13 10:57] rultor commented on #187
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21531-598662497) (took me 4min)

[2020-03-13 11:22] amihaiemil commented on #187
@Thadir Version `3.1.1`, which has just been released, contains your FR for type-casting methods :)

[2020-03-13 11:22] #187 closed

[2020-03-13 13:17] amihaiemil opened #193 "Fix value escaping"
Escaping of values doesn't work well. For instance, the following YAML

[code]

is parsed as

[code]
The parser thinks that the rest of the value is a YAML comment.

[2020-03-13 13:18] amihaiemil opened #194 "Move indentation validation (WellIndentedLine) at YamlLines level"
This check should be done at YamlLines level, rather than at the single-line level.

[2020-03-13 13:58] #193 closed

[2020-03-13 13:59] amihaiemil opened #197 "Release 3.1.2"
Changelog for the 3.1.2 release:

* fixed #128
* #193
* #194

[2020-03-13 20:07] #194 closed

[2020-03-14 13:52] amihaiemil opened #199 "When Reading a Scalar string, remove the escaping apostrophes or quotes"
At the moment, calling ``mapping.string("color")``  for the following YAML

[code]

returns ``'#404040'``. It should return simply ``#404040``, without the apostrophes/quotes used in escaping.

[2020-03-14 13:55] amihaiemil commented on #128
@liquid600pgm This bug was fixed just now in PR #195, your YAML should be read fine now (I added unit tests with your precise example, including the comments and everything).

HOWEVER, keep in mind that value Aliases and Referencing is still not supported by the library so the YAML you gave will treat those Aliases as string values, for now.

[2020-03-14 13:57] #128 closed

[2020-03-17 14:00] amihaiemil commented on #197
@rultor let's release it, tag is `3.1.2`

[2020-03-17 14:02] rultor commented on #197
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21554-600087763)

[2020-03-17 14:07] rultor commented on #197
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21554-600087763) (took me 4min)

[2020-03-17 14:07] #197 closed

[2020-03-18 10:17] amihaiemil opened #200 "Scalar should be an Interface"
We should turn Scalar into an interface and follow the same pattern as for YamlMapping and YamlSequence.

We also have the classes ReadPointedScalar and ReadPipeScalar. They should be renamed to "folded" and "block" scalars, as per the YAML spec namings.

[2020-03-22 12:10] amihaiemil opened #203 "Release 3.1.3"
Changelog for this release:

* #200 -- Scalar redesigned to follow the Mapping and Sequence patterns.
* #199 -- unescape read Scalar value
* #204 -- very important; newline is now treated in a platform-agnostic way.

[2020-03-22 12:13] #200 closed

[2020-03-22 13:50] amihaiemil opened #204 "Treat Newline in Platform-agnostic Way"
At the moment the newlines are treated with the hardcoded ``\n`` character. They should be treated in a platform-agnostic way, otherwise this library might not work on all OSs.

[2020-03-22 14:05] #199 closed

[2020-03-22 14:19] amihaiemil commented on #149
Not applicable anymore. Turns out the YamlLines abstraction is quite fitting. We were able to implement Block Yaml, YamlStreams, ordering, etc.

[2020-03-22 14:19] #149 closed

[2020-03-22 14:43] #204 closed

[2020-03-22 14:43] amihaiemil commented on #203
@rultor let's release it, tag is `3.1.3`

[2020-03-22 14:48] rultor commented on #203
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21572-602218663)

[2020-03-22 14:53] rultor commented on #203
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21572-602218663) (took me 4min)

[2020-03-22 14:53] #203 closed

[2020-03-22 16:09] amihaiemil opened #208 "Release 3.1.4"
Changelog for the next release:

* finished implementation of #90 (reading of YamlStream)
* #210
* #212
* #211
* #216

[2020-03-22 17:26] amihaiemil commented on #167
It's not the best solution but yes, for now it's needed. Maybe we'll refactor it in the future.

[2020-03-22 18:35] amihaiemil opened #209 "Features Table in README"
The ``Features`` section of the README should have a table of contents with the overall features of the library, with links pointing to their respective Wiki pages containing code snippets.

[2020-03-22 18:37] #167 closed

[2020-03-22 18:40] 0pdd opened #210 "ReadYamlStream.java:49-53: Check and see how we can use..."
The puzzle `90-5475270c` from #90 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/a5b1efd0832d10d4b049ccb00938efaf90969253/src/main/java/com/amihaiemil/eoyaml/ReadYamlStream.java#L49-L53

The puzzle was created by @amihaiemil on 22-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-03-22 18:40] 0pdd commented on #210
@amihaiemil please pay attention to this new issue.

[2020-03-22 18:40] 0pdd opened #211 "StartMarkers.java:61-63: This method has to be enhanced..."
The puzzle `90-42ab50d0` from #90 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/a5b1efd0832d10d4b049ccb00938efaf90969253/src/main/java/com/amihaiemil/eoyaml/StartMarkers.java#L61-L63

The puzzle was created by @amihaiemil on 22-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-03-22 18:40] 0pdd commented on #211
@amihaiemil please pay attention to this new issue.

[2020-03-22 18:40] 0pdd opened #212 "ReadYamlStreamTest.java:60-66: Fix this test case. The..."
The puzzle `90-e5a082f9` from #90 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/a5b1efd0832d10d4b049ccb00938efaf90969253/src/test/java/com/amihaiemil/eoyaml/ReadYamlStreamTest.java#L60-L66

The puzzle was created by @amihaiemil on 22-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-03-22 18:40] 0pdd commented on #212
@amihaiemil please pay attention to this new issue.

[2020-03-22 18:40] 0pdd commented on #90
@amihaiemil 3 puzzles [#210](https://github.com/decorators-squad/eo-yaml/issues/210), [#211](https://github.com/decorators-squad/eo-yaml/issues/211), [#212](https://github.com/decorators-squad/eo-yaml/issues/212) are still not solved.

[2020-03-22 18:41] #90 closed

[2020-03-22 19:43] #210 closed

[2020-03-22 19:43] 0pdd commented on #210
The puzzle `90-5475270c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-22 19:43] 0pdd commented on #90
@amihaiemil 2 puzzles [#211](https://github.com/decorators-squad/eo-yaml/issues/211), [#212](https://github.com/decorators-squad/eo-yaml/issues/212) are still not solved; solved: [#210](https://github.com/decorators-squad/eo-yaml/issues/210).

[2020-03-22 20:04] amihaiemil opened #214 "Custom Runtime Exceptions"
When something goes wrong (indentation, missing node etc) we throw ``IllegalStateException``. It would be more elegant to have our custom Runtime exceptions that better illustrate the problem.

[2020-03-23 17:19] 0pdd commented on #212
The puzzle `90-e5a082f9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-23 17:19] #212 closed

[2020-03-23 17:20] 0pdd commented on #90
@amihaiemil the puzzle [#211](https://github.com/decorators-squad/eo-yaml/issues/211) is still not solved; solved: [#210](https://github.com/decorators-squad/eo-yaml/issues/210), [#212](https://github.com/decorators-squad/eo-yaml/issues/212).

[2020-03-23 19:18] #211 closed

[2020-03-23 19:18] 0pdd commented on #211
The puzzle `90-42ab50d0` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-23 19:18] 0pdd opened #218 "AllYamlLines.java:45-47: Method toYamlNode has a lot of..."
The puzzle `211-6b8bbc27` from #211 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/77b05ba747ed654b431b13d2d3406d2547fe5c5f/src/main/java/com/amihaiemil/eoyaml/AllYamlLines.java#L45-L47

The puzzle was created by @amihaiemil on 23-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-03-23 19:18] 0pdd commented on #218
@amihaiemil please pay attention to this new issue.

[2020-03-23 19:18] 0pdd opened #219 "RtYamlInputTest.java:408-411: Fix this unit test. The..."
The puzzle `211-1056c8d2` from #211 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/77b05ba747ed654b431b13d2d3406d2547fe5c5f/src/test/java/com/amihaiemil/eoyaml/RtYamlInputTest.java#L408-L411

The puzzle was created by @amihaiemil on 23-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-03-23 19:19] 0pdd commented on #219
@amihaiemil please pay attention to this new issue.

[2020-03-23 19:19] 0pdd commented on #90
@amihaiemil 2 puzzles [#218](https://github.com/decorators-squad/eo-yaml/issues/218), [#219](https://github.com/decorators-squad/eo-yaml/issues/219) are still not solved; solved: [#210](https://github.com/decorators-squad/eo-yaml/issues/210), [#211](https://github.com/decorators-squad/eo-yaml/issues/211), [#212](https://github.com/decorators-squad/eo-yaml/issues/212).

[2020-03-23 19:19] 0pdd commented on #211
@0pdd 2 puzzles [#218](https://github.com/decorators-squad/eo-yaml/issues/218), [#219](https://github.com/decorators-squad/eo-yaml/issues/219) are still not solved.

[2020-03-23 19:20] amihaiemil commented on #208
@rultor release it, tag is `3.1.4`

[2020-03-23 19:25] rultor commented on #208
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21592-602804977)

[2020-03-23 19:29] rultor commented on #208
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21592-602804977) (took me 4min)

[2020-03-23 19:42] amihaiemil commented on #208
@ANadrowski Last FYI: your PR is already on Maven Central :)

[2020-03-23 19:42] #208 closed

[2020-03-23 19:51] ANadrowski commented on #208
That's nice! Thank you.

[2020-03-23 20:28] amihaiemil opened #220 "YamlMapping/Sequence: Folded and Literal Scalars Are Never Actually Read!"
They are implemented but neither ``ReadYamlMapping.string(...)`` nor ``ReadYamlSequence.string(...)`` actually looks for them.

**Solution:**

the ``string(...)`` methods remain as they are, their purpose is pretty clear: reading of plain scalars.

For reading block scalars, we should add the methods ``String :: foldedBlockScalar(...)`` and ``Collection<String> :: literalBlockScalar(...)`` respect

[2020-03-23 20:50] amihaiemil commented on #209
working on it

[2020-03-24 09:10] amihaiemil opened #221 "Building of Folded/Literal Scalars"
We only have reading for these 2 types of Scalar, yet they should also be buildable. Currently, there is no way of specifying multi-line concerns when building YAML.

[2020-03-24 14:53] amihaiemil commented on #163
@rubyFeedback I'll close this ticket. Feel free to open another one if you have any problem.

[2020-03-24 14:53] #163 closed

[2020-03-24 14:55] #91 closed

[2020-03-24 14:55] #102 closed

[2020-03-24 17:49] amihaiemil opened #223 "Release 4.0.0"
Changelog for the 4.0.0 release.

This will be a bigger release with a lot of additions and improvements in the support of Scalar values. It will be breaking mainly because the printing of YAML will change a lot and older versions will most likely not be able to parse it right.

* #214
* #218
* #220
* #221
* #227 -- finished implementing building of Scalars
* #232 -- **Breaks Backwards** compatibi

[2020-03-24 17:52] #218 closed

[2020-03-24 17:52] 0pdd commented on #218
The puzzle `211-6b8bbc27` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-24 17:52] 0pdd commented on #90
@amihaiemil the puzzle [#219](https://github.com/decorators-squad/eo-yaml/issues/219) is still not solved; solved: [#210](https://github.com/decorators-squad/eo-yaml/issues/210), [#211](https://github.com/decorators-squad/eo-yaml/issues/211), [#212](https://github.com/decorators-squad/eo-yaml/issues/212), [#218](https://github.com/decorators-squad/eo-yaml/issues/218).

[2020-03-24 17:52] 0pdd commented on #211
@0pdd the puzzle [#219](https://github.com/decorators-squad/eo-yaml/issues/219) is still not solved; solved: [#218](https://github.com/decorators-squad/eo-yaml/issues/218).

[2020-03-24 17:58] amihaiemil opened #224 "Implement Scalar Readers"
At the moment, it is not possible to read a single Scalar of any kind, even though the following YAMLs are valid:

[code]

[code]

[code]

We should have readers for these, following the pattern of mappings and sequences.

[2020-03-24 19:33] #221 closed

[2020-03-24 19:33] 0pdd opened #227 "RtYamlScalarBuilder.java:40-44: Finish the implementation..."
The puzzle `221-2724374d` from #221 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/08c763c8b24ca47b617946216cfb291c21c689fe/src/main/java/com/amihaiemil/eoyaml/RtYamlScalarBuilder.java#L40-L44

The puzzle was created by @amihaiemil on 24-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-03-24 19:33] 0pdd commented on #227
@amihaiemil please pay attention to this new issue.

[2020-03-24 19:33] 0pdd commented on #221
@amihaiemil the puzzle [#227](https://github.com/decorators-squad/eo-yaml/issues/227) is still not solved.

[2020-03-24 21:22] #227 closed

[2020-03-24 21:22] 0pdd commented on #227
The puzzle `221-2724374d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-24 21:22] 0pdd opened #229 "ComparableScalar.java:36-40: Override the toString()..."
The puzzle `227-592d9723` from #227 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/fa8b59f51ce71d0a1963fe14ca654d4056886748/src/main/java/com/amihaiemil/eoyaml/ComparableScalar.java#L36-L40

The puzzle was created by @amihaiemil on 24-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-03-24 21:22] 0pdd commented on #229
@amihaiemil please pay attention to this new issue.

[2020-03-24 21:22] 0pdd opened #230 "YamlMapping.java:112-114: Modify this method in order to..."
The puzzle `227-584acdd4` from #227 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/fa8b59f51ce71d0a1963fe14ca654d4056886748/src/main/java/com/amihaiemil/eoyaml/YamlMapping.java#L112-L114

The puzzle was created by @amihaiemil on 24-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2020-03-24 21:22] 0pdd commented on #230
@amihaiemil please pay attention to this new issue.

[2020-03-24 21:22] 0pdd commented on #109
@amihaiemil all 2 puzzles are solved here: [#136](https://github.com/decorators-squad/eo-yaml/issues/136), [#139](https://github.com/decorators-squad/eo-yaml/issues/139).

[2020-03-24 21:22] 0pdd commented on #221
@amihaiemil 2 puzzles [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230) are still not solved; solved: [#227](https://github.com/decorators-squad/eo-yaml/issues/227).

[2020-03-24 21:22] 0pdd commented on #227
@0pdd 2 puzzles [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230) are still not solved.

[2020-03-25 15:01] amihaiemil opened #231 "Add Yaml.fromJson*() methods"
Yaml 1.2 is a superset of JSON, which means any JSON should also be parsable into a YAML Document. It would be very useful to have ``Yaml.fromJsonObject(javax.json.JsonObject)`` and others.

This is a feature request with low priority right now.

This ticket as a cash bounty on it! Read this before anything: https://amihaiemil.com/2020/02/15/solve-github-issues-and-get-cash.html

[2020-03-25 15:42] amihaiemil opened #232 "YamlNode should be marker interface"
None of the methods currently in YamlNode belong there. Only mappings and sequences have multiple values, while method indent(...) should not even be visible.

1) Move method values() to the YamlMapping and YamlSequence interfaces
2) Move indent(...) to an abstract implementation of each node and make it package-protected. We can rename ``Comparable*`` abstract classes to ``Base*`` since now they

[2020-03-25 16:38] #232 closed

[2020-03-25 18:07] #229 closed

[2020-03-25 18:07] 0pdd opened #235 "ReadFoldedBlockScalarTest.java:219-223: Fix method..."
The puzzle `229-d421832f` from #229 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/7b15bbe9d05e0470a08cdf304d9d882308cb7208/src/test/java/com/amihaiemil/eoyaml/ReadFoldedBlockScalarTest.java#L219-L223

The puzzle was created by amihaiemil on 25-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-03-25 18:07] 0pdd commented on #235
@amihaiemil please pay attention to this new issue.

[2020-03-25 18:07] 0pdd commented on #221
@amihaiemil 3 puzzles [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230), [#235](https://github.com/decorators-squad/eo-yaml/issues/235) are still not solved; solved: [#227](https://github.com/decorators-squad/eo-yaml/issues/227).

[2020-03-25 18:07] 0pdd commented on #227
@0pdd 3 puzzles [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230), [#235](https://github.com/decorators-squad/eo-yaml/issues/235) are still not solved.

[2020-03-25 18:07] 0pdd commented on #229
@0pdd the puzzle [#235](https://github.com/decorators-squad/eo-yaml/issues/235) is still not solved.

[2020-03-25 18:29] #235 closed

[2020-03-25 18:29] 0pdd commented on #235
The puzzle `229-d421832f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-25 18:29] 0pdd commented on #221
@amihaiemil 2 puzzles [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230) are still not solved; solved: [#227](https://github.com/decorators-squad/eo-yaml/issues/227), [#235](https://github.com/decorators-squad/eo-yaml/issues/235).

[2020-03-25 18:29] 0pdd commented on #227
@0pdd 2 puzzles [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230) are still not solved; solved: [#235](https://github.com/decorators-squad/eo-yaml/issues/235).

[2020-03-25 18:29] 0pdd commented on #229
@0pdd the only puzzle [#235](https://github.com/decorators-squad/eo-yaml/issues/235) is solved here.

[2020-03-25 18:30] 0pdd commented on #221
@amihaiemil the puzzle [#230](https://github.com/decorators-squad/eo-yaml/issues/230) is still not solved; solved: [#227](https://github.com/decorators-squad/eo-yaml/issues/227), [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#235](https://github.com/decorators-squad/eo-yaml/issues/235).

[2020-03-25 18:30] 0pdd commented on #227
@0pdd the puzzle [#230](https://github.com/decorators-squad/eo-yaml/issues/230) is still not solved; solved: [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#235](https://github.com/decorators-squad/eo-yaml/issues/235).

[2020-03-26 08:07] amihaiemil opened #238 "Add Reading Tests for Examples in the Spec"
We should run full integration tests for reading YAML. It will be a separate profile run with maven-failsafe-plugin.

We should test the reading of as many as the examples presented in the YAML: https://yaml.org/spec/1.2/spec.html

Read it and also make assertions on all the nodes + printing

This ticket has a cash bounty on it. Read this before anything: https://amihaiemil.com/2020/02/15/solve-gi

[2020-03-26 08:24] amihaiemil opened #239 "Remove Ordering of Mapping"
Mappings are ordered by keys. However, this is a mistake, they should not be ordered.

We should maintain the order of insertion/reading.

[2020-03-26 12:11] amihaiemil opened #240 "Release also on Github Packages"
Let's configure maven to also release the artifacts on Github Packages. More info: https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-apache-maven-for-use-with-github-packages

[2020-03-26 17:20] #224 closed

[2020-03-26 17:21] 0pdd opened #241 "RtYamlScalarBuilder.java:119-123: This method is not..."
The puzzle `224-10286916` from #224 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/6ef73054276b930a4e84a04fc06a014ecca0af05/src/main/java/com/amihaiemil/eoyaml/RtYamlScalarBuilder.java#L119-L123

The puzzle was created by @amihaiemil on 26-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-03-26 17:21] 0pdd commented on #241
@amihaiemil please pay attention to this new issue.

[2020-03-26 17:21] 0pdd commented on #107
@0pdd the only puzzle [#137](https://github.com/decorators-squad/eo-yaml/issues/137) is solved here.

[2020-03-26 17:21] 0pdd commented on #224
@amihaiemil the puzzle [#241](https://github.com/decorators-squad/eo-yaml/issues/241) is still not solved.

[2020-03-26 18:12] ANadrowski commented on #214
Hi @amihaiemil, in the current version all classes are inside the same package "com.amihaiemil.eoyaml". Should we create a new package called "com.amihaiemil.eoyaml.exception" to implement these new exceptions?

[2020-03-26 18:50] amihaiemil commented on #214
@ANadrowski Most classes are in the same package due to access-control reasons. Only class ``Yaml`` is public to the user.

But in the case of exceptions, we can do it, sure.

[2020-03-26 19:17] ANadrowski commented on #214
@amihaiemil

The class _IllegalStateException_ is used in four classes: _AllYamlLines.java_, _EvenlyIndentedLine.java_, _ReadPlainScalarKey.java_ and _WellIndented.java_.  The semantic meaning in each class is:

**AllYamlLines.java:** parser error
**EvenlyIndentedLine.java:** identation error
**ReadPlainScalarKey.java:** expected scalar key error
**WellIndented.java:** identation error

So, it sou

[2020-03-26 19:43] amihaiemil opened #242 "Remove ReadPlainScalarKey"
It's misleading and basically a hack in the architecture. Keys should be either String or YamlNode (mapping or sequence).

There are no other type of keys and this class, in this case, is basically just a utility to parse the YamlLine.

We should also rename the class ReadPlainScalarValue to simply ReadPlainScalar

[2020-03-26 19:46] amihaiemil commented on #214
@ANadrowski Actually, only the ones in``AllYamlLines`` and ``WellIndented`` are applicable.

``EvenlyIndentedLine`` is deprecated and should be removed, while ``ReadPlainScalarKey`` should not even exist, it's a mistake (I got carried away a few days ago) -- I opened #242 about it.

I would name the 2 exceptions: ``YamlReadingException`` and ``YamlIndentationException``.

I would use the term ``re

[2020-03-26 19:54] ANadrowski commented on #214
@amihaiemil I see.

Can I create a new branch with the implementation of these two new exceptions _YamlReadingException_ and _YamlIndentationException_ and send you a PR?

Thanks

[2020-03-26 20:09] amihaiemil commented on #214
@ANadrowski Yes, sure, thanks :D

[2020-03-26 20:48] ANadrowski commented on #214
@amihaiemil I sent the PR, feel free to reject or modify it.

Thanks.

[2020-03-27 11:22] amihaiemil commented on #242
@ANadrowski Do you want to fix this ticket? It's quite easy to fix, just look where the class is being used (only one place, in ReadYamlMapping somewhere) and parse the key string right there.

Then, remove the class and rename that other class.

It's a good start to dig a little into the architecture.

[2020-03-27 11:24] amihaiemil commented on #242
@ANadrowski I also added a bounty to this ticket. Let me know if you want me to assign it to you.

Read this first: https://amihaiemil.com/2020/02/15/solve-github-issues-and-get-cash.html

[2020-03-27 13:31] #214 closed

[2020-03-27 14:11] ANadrowski commented on #242
Hi @amihaiemil sure, let me fix it. There is no need to give me a bounty. I just want to help and learn.
Thanks.

[2020-03-28 11:26] amihaiemil opened #244 "Separate BuiltBlockScalar"
This class currently represents both a folded and a literal built scalar. We should have two separate classes because ``instanceof`` will be used to print YAML scalars and we need to distinguish the cases

[2020-03-28 11:44] #244 closed

[2020-03-28 11:45] #241 closed

[2020-03-28 11:45] 0pdd commented on #241
The puzzle `224-10286916` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-28 11:45] 0pdd opened #246 "RtYamlScalarBuilder.java:112-116: This method is not..."
The puzzle `244-f87b53f2` from #244 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/7f7a9d70e6b8b884a6103466c7bb9dbb46996e17/src/main/java/com/amihaiemil/eoyaml/RtYamlScalarBuilder.java#L112-L116

The puzzle was created by @amihaiemil on 28-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-03-28 11:45] 0pdd commented on #246
@amihaiemil please pay attention to this new issue.

[2020-03-28 11:45] 0pdd commented on #224
@amihaiemil the only puzzle [#241](https://github.com/decorators-squad/eo-yaml/issues/241) is solved here.

[2020-03-28 11:45] 0pdd commented on #244
@amihaiemil the puzzle [#246](https://github.com/decorators-squad/eo-yaml/issues/246) is still not solved.

[2020-03-28 19:39] amihaiemil commented on #220
Almost finished. We just need unit tests for: YamlMapping.foldedBlockScalar(...) and YamlMapping.literalBlockScalar(...)

[2020-03-28 19:43] amihaiemil opened #252 "Make YamlMapping String-Key Methods Default"
All the accessor methods which accept ``String`` as a key should be made default on the interface because they are (and should be) identical across all implementations.

Basically, any String-Key accessor method should just wrap the String in a Scalar and delegate to its accessor counter-part which accepts a YamlNode Key.

[2020-03-28 19:56] #252 closed

[2020-03-28 21:23] #220 closed

[2020-03-29 07:13] amihaiemil opened #255 "Refactor YamlMapping.string(YamlNode)"
This method should follow the pattern of other accessor methods.

[2020-03-29 08:08] #255 closed

[2020-03-29 08:14] #113 closed

[2020-03-29 08:15] #112 closed

[2020-03-29 09:44] #230 closed

[2020-03-29 09:58] amihaiemil commented on #223
@rultor let's release it, tag is `4.0.0`

[2020-03-29 10:00] rultor commented on #223
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21653-605612014)

[2020-03-29 10:02] rultor commented on #223
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21653-605612014) (spent 2min)

[code]

[2020-03-29 11:16] amihaiemil commented on #223
@rultor let's release it, tag is `4.0.0`

[2020-03-29 11:17] rultor commented on #223
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21653-605620388)

[2020-03-29 11:22] rultor commented on #223
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21653-605620388) (took me 4min)

[2020-03-29 11:23] #223 closed

[2020-03-29 12:50] #240 closed

[2020-03-29 15:24] amihaiemil opened #260 "Release 4.0.1"
#239

YamlMapping will not be ordered anymore. It will maintain its insertion/reading order.

[2020-03-29 15:27] #239 closed

[2020-03-29 15:37] amihaiemil commented on #260
@rultor release it, tag is `4.0.1`

[2020-03-29 15:38] rultor commented on #260
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21658-605655636)

[2020-03-29 15:43] rultor commented on #260
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21658-605655636) (took me 4min)

[2020-03-29 15:44] #260 closed

[2020-03-30 12:50] amihaiemil opened #261 "Support Comments When Building"
When building YAML, we should allow the user to specify comments at each element. E.g.

[code]
[code]

[2020-03-30 13:06] amihaiemil opened #262 "Offer "Merged" Implementations"
We should offer the following, for "updating" functionality:

[code]
Same for Sequences and Streams.

[2020-03-30 17:54] amihaiemil opened #264 "Release 4.1.0"
Changelog for the 4.1.0 release:

* #262 ``MergedYamlMapping`` and ``MergedYamlSequence`` useful to edit existing YAML objects;
    - also introduced the extension mechanism by making ``BaseYamlMapping`` and     ``BaseYamlSequence`` public

[2020-03-30 17:58] #262 closed

[2020-03-30 17:58] 0pdd commented on #221
@amihaiemil all 4 puzzles are solved here: [#227](https://github.com/decorators-squad/eo-yaml/issues/227), [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230), [#235](https://github.com/decorators-squad/eo-yaml/issues/235).

[2020-03-30 17:58] 0pdd commented on #227
@0pdd all 3 puzzles are solved here: [#229](https://github.com/decorators-squad/eo-yaml/issues/229), [#230](https://github.com/decorators-squad/eo-yaml/issues/230), [#235](https://github.com/decorators-squad/eo-yaml/issues/235).

[2020-03-30 18:00] amihaiemil commented on #132
@nandinibhaduri I'm sorry for the late answer, I just wanted to let you know that this functionality has just been implemented in #262 and will be released soon with version ``4.1.0``.

Short example (say you want to add an element):

[code]
[code]

I'm closing this Issue, thanks! And sorry again for the late, late answer.

[2020-03-30 18:00] #132 closed

[2020-03-30 18:05] amihaiemil commented on #264
@rultor release it, tag is `4.1.0`

[2020-03-30 18:08] rultor commented on #264
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21666-606154072)

[2020-03-30 18:10] rultor commented on #264
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21666-606154072) (spent 2min)

[code]

[2020-03-30 18:13] amihaiemil commented on #264
@rultor release it, tag is `4.1.0`

[2020-03-30 18:15] rultor commented on #264
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21666-606158288)

[2020-03-30 18:20] rultor commented on #264
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21666-606158288) (took me 4min)

[2020-03-30 18:21] amihaiemil commented on #264
@balrok FYI (you asked about editing YAML on reddit):

With version ``4.1.0``, you can edit both a ``YamlMapping`` and ``YamlSequence`` by using the ``Merged*`` classes. Short example (adding a key-value paid):

[code]
[code]

[2020-03-30 18:21] #264 closed

[2020-03-30 18:36] balrok commented on #264
wow you are the best :+1: thank you! :-)

[2020-03-30 20:15] ANadrowski commented on #242
Hi @amihaiemil , to parse the key string is easy but the problem now is to convert the string in a YamlNode object.

In the statement _keys.add(new ReadPlainScalarKey(line))_ it worked because _ReadPlainScalarKey_ extends _BaseScalar_, that extends _BaseYamlNode_, that implements _YamlNode_, right?

Any idea to convert this key string in a YamlNode using something that already exists in the softwa

[2020-03-30 21:04] amihaiemil opened #265 "Keep The Comments When Reading"
They have to be kept.
Either way, the fact that we currently ignore any possible comment is not correct: for instance, in the case of Folded Block Scalars, lines starting with ``#`` should not be treated as comments.

[2020-03-31 07:42] amihaiemil commented on #242
@ANadrowski Just wrap the String key inside ``PlainStringScalar`` and it will be fine. That's the way it was done before.

I initially thought it is better to introduce a class for a Scalar Key but then I realized it becomes confusing. There aren't any other type of Key implementations, so when you open the Type Hierarchy of Scalar you just see "ReadPlainScalarKey"... it doesn't seem to fit. :D

[2020-03-31 11:49] ANadrowski commented on #242
@amihaiemil I got it, I'll send a PR soon.
Thanks.

[2020-03-31 15:06] amihaiemil commented on #242
@ANadrowski thanks, I just sent the bounty to you. Transaction id: 27469195M98202700

[2020-03-31 15:24] amihaiemil opened #268 "Release 4.2.0 - Support for Comments!"
Changelog for the ``4.2.0`` release:

* bugfix #219
* arch improvement: #242
* arch imrpovement: #277
* arch improvement: #273
* arch improvement: #282
* bugfix #265
* Support for Comment:
       - Specify a comment for a YamlNode when building it;
       - Support for reading comments;
       - Access a node's comment via ``Comment : YamlNode.comment()``;

[2020-03-31 15:34] amihaiemil commented on #148
@Articdive Work for this feature will begin in ticket #261. I'm closing this since it's an old ticket.

[2020-03-31 15:35] #219 closed

[2020-03-31 15:35] 0pdd commented on #219
The puzzle `211-1056c8d2` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-03-31 15:35] 0pdd commented on #90
@amihaiemil all 5 puzzles are solved here: [#210](https://github.com/decorators-squad/eo-yaml/issues/210), [#211](https://github.com/decorators-squad/eo-yaml/issues/211), [#212](https://github.com/decorators-squad/eo-yaml/issues/212), [#218](https://github.com/decorators-squad/eo-yaml/issues/218), [#219](https://github.com/decorators-squad/eo-yaml/issues/219).

[2020-03-31 15:35] 0pdd commented on #211
@0pdd all 2 puzzles are solved here: [#218](https://github.com/decorators-squad/eo-yaml/issues/218), [#219](https://github.com/decorators-squad/eo-yaml/issues/219).

[2020-03-31 16:21] ANadrowski commented on #242
@amihaiemil thank you :)

[2020-03-31 16:39] #242 closed

[2020-04-01 06:14] #148 closed

[2020-04-01 19:38] #261 closed

[2020-04-01 19:38] 0pdd opened #271 "MergedYamlMapping.java:54-57: Find a way to also "merge"..."
The puzzle `261-3d97786f` from #261 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/1987c13254c510116b646bc7909ed52f875ab874/src/main/java/com/amihaiemil/eoyaml/extensions/MergedYamlMapping.java#L54-L57

The puzzle was created by @amihaiemil on 01-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-04-01 19:38] 0pdd commented on #271
@amihaiemil please pay attention to this new issue.

[2020-04-01 19:38] 0pdd opened #272 "ReadYamlMapping.java:115-117: Continue with the support..."
The puzzle `261-8e1a0dc7` from #261 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/1987c13254c510116b646bc7909ed52f875ab874/src/main/java/com/amihaiemil/eoyaml/ReadYamlMapping.java#L115-L117

The puzzle was created by @amihaiemil on 01-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-04-01 19:38] 0pdd commented on #272
@amihaiemil please pay attention to this new issue.

[2020-04-01 19:38] 0pdd commented on #261
@amihaiemil 2 puzzles [#271](https://github.com/decorators-squad/eo-yaml/issues/271), [#272](https://github.com/decorators-squad/eo-yaml/issues/272) are still not solved.

[2020-04-01 19:50] amihaiemil opened #273 "Introduce Skip YamlLines"
At the moment, there are a number of ``YamlLines`` implementations which are skipping over certain lines (start/end markers, comments etc).

Their implementations are more or less identical, so let's try to put everything into a generic ``Skip`` implementation that takes the lines to be skipped as argument.

[2020-04-02 08:22] amihaiemil commented on #265
waiting for #273

[2020-04-02 11:49] #273 closed

[2020-04-02 12:25] #265 closed

[2020-04-02 12:32] amihaiemil opened #276 "YamlSequence: Implement Building With Comments"
Let's implement building with comments for YamlSequence:

[code]
[code]

[2020-04-02 12:41] amihaiemil opened #277 "YamlMapping: default methods should use only the public API"
There are a few default methods inside interface ``YamlMapping`` which are using some concrete classes. They should only use the public API, so the interface can be portable.

[2020-04-02 16:19] #276 closed

[2020-04-02 16:20] 0pdd opened #279 "ReadYamlSequence.java:169-171: Continue implementing..."
The puzzle `276-21bbae9d` from #276 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/f30d40ff6c323384ab57cd2a071cb73639f3fdf6/src/main/java/com/amihaiemil/eoyaml/ReadYamlSequence.java#L169-L171

The puzzle was created by amihaiemil on 02-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-04-02 16:20] 0pdd commented on #279
@amihaiemil please pay attention to this new issue.

[2020-04-02 16:20] 0pdd commented on #276
@amihaiemil the puzzle [#279](https://github.com/decorators-squad/eo-yaml/issues/279) is still not solved.

[2020-04-04 11:28] amihaiemil opened #282 "Redesign YamlLines.nested(...)"
We need another mechanism to work with nested line, one that will also preserve the previous lines, so we can search for the nested node's comments (which are above), later.

[2020-04-04 18:39] #282 closed

[2020-04-05 07:33] amihaiemil opened #284 "Rename YamlLines.lines()"
This method should be renamed to ``original()`` as in "return the original, unaltered, collection of underlying lines"

[2020-04-05 07:38] #284 closed

[2020-04-05 15:54] amihaiemil opened #288 "Implement comment() for Scalars"
It also needs to be implemented for all types of scalars.

1) comment() method implemented into Scalars -> #290
2) implement building -> #291

[2020-04-06 09:23] amihaiemil commented on #277
fixed

[2020-04-06 09:53] #277 closed

[2020-04-06 14:26] #288 closed

[2020-04-06 14:27] amihaiemil opened #292 "Remove comments() Method"
At the moment it's pretty complicated to implement this method. Let's remove it. The user can access each individual YamlNode's comment via ``YamlNode.comment()``.

[2020-04-06 16:08] amihaiemil opened #293 "Implement a YamlPrinter"
At the moment the printing logic is encapsulated inside ``BaseYamlNode.indent(...)``. However, these methods keep growing as we support more functionality of YAML.

We should pull the printing logic out into a Printer that would also allow the user to print the YAML into different types of ``Writer``.

[2020-04-08 14:03] njdoyle opened #295 "Support Java Modules"
It would be great if module support (as introduced in Java 9) was added to eo-yaml. A simple `module-info.java` file would probably be all that is necessary.

Here's the quick start guide, though Maven should handle pretty much everything other than the `module-info.java` file. https://openjdk.java.net/projects/jigsaw/quick-start

[2020-04-08 14:15] amihaiemil commented on #295
@njdoyle That's a very good idea, thanks! My only concern is: will it still be compatible with JDK 8?

[2020-04-08 14:21] amihaiemil opened #296 "Fix reading with inline comments"
At the moment, reading a scalar when it has an inline comment is broken. e.g.
[code]

[2020-04-08 14:24] amihaiemil commented on #295
@njdoyle I'll look into it and implement it if it doesn't break backwards compatibility.

I remember I studied the module system but it's been quite some time and I forgot ...

[2020-04-08 14:28] amihaiemil commented on #292
done

[2020-04-08 14:28] #292 closed

[2020-04-08 14:52] njdoyle commented on #295
I have a PR I'm getting ready. Should be up shortly.

[2020-04-08 16:26] amihaiemil opened #298 "Build and Release with JDK 11"
In order to release it also as a module. Originates from #297.
The library will still be compatible with JDK 8+.

[2020-04-08 16:26] amihaiemil commented on #295
@njdoyle I've opened #298 for continuing with other configs, thanks!

[2020-04-08 16:26] #295 closed

[2020-04-08 16:28] njdoyle commented on #295
Thanks :)

[2020-04-08 16:37] #296 closed

[2020-04-08 16:38] amihaiemil commented on #298
@njdoyle I'm just a little worried that Code Review will become more difficult.

To my understanding, backwards compatibility is kept as long as the code is fully compatible with JDK 8. We can build it as a module but there cannot actually be code from Java SE 9 onwards, otherwise it will crash at runtime.

So, if we setup the CI/CD to work with JDK 9 we'll have to pay a lot more attention that no

[2020-04-08 16:41] #272 closed

[2020-04-08 16:41] 0pdd commented on #272
The puzzle `261-8e1a0dc7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-04-08 16:41] #279 closed

[2020-04-08 16:41] 0pdd commented on #279
The puzzle `276-21bbae9d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-04-08 16:41] 0pdd commented on #261
@amihaiemil the puzzle [#271](https://github.com/decorators-squad/eo-yaml/issues/271) is still not solved; solved: [#272](https://github.com/decorators-squad/eo-yaml/issues/272).

[2020-04-08 16:41] 0pdd commented on #276
@amihaiemil the only puzzle [#279](https://github.com/decorators-squad/eo-yaml/issues/279) is solved here.

[2020-04-08 16:42] amihaiemil opened #300 "Add More Tests For Comments"
In the context of mappings and sequences, we need a few more test cases in particular regarding the reading/printing of comments.

Afterwards, we can release version ``4.2.0``

[2020-04-08 16:47] njdoyle commented on #298
If you're building specifically with Java 9+, you can change the section in `pom.xml` from this:
[code]
to this:
[code]

Which enforces source compatibility, bytecode compatibility, and JCL compatibility with Java 8.

The `release` option only works for JDK 9+.

[2020-04-08 16:51] amihaiemil commented on #298
@njdoyle Thanks again!

Do you need this urgently? If not, I would postpone this for the next release (``4.3.0``). Right now, for the ``4.2.0``, I'm focusing on support for comments.

[2020-04-08 16:53] njdoyle commented on #298
I don't need it urgently, it just means I have to remember to update my own `module-info.java` later once this goes in instead of when I introduce the dependency in my code now.

[2020-04-08 16:55] amihaiemil commented on #298
@njdoyle ok. I'll keep in mind to let you know when this is released :D

[2020-04-08 17:36] amihaiemil opened #302 "Plain Scalar's Comment Only On Self Line"
Scalars should look for comments only on their own line, like this:

[code]

[2020-04-08 19:57] #302 closed

[2020-04-08 21:35] #300 closed

[2020-04-08 21:35] #271 closed

[2020-04-08 21:35] 0pdd commented on #271
The puzzle `261-3d97786f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-04-08 21:35] 0pdd commented on #261
@amihaiemil all 2 puzzles are solved here: [#271](https://github.com/decorators-squad/eo-yaml/issues/271), [#272](https://github.com/decorators-squad/eo-yaml/issues/272).

[2020-04-08 21:39] amihaiemil commented on #268
@rultor let's release it, tag is `4.2.0`

[2020-04-08 21:40] rultor commented on #268
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21721-611208693)

[2020-04-08 21:46] rultor commented on #268
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21721-611208693) (took me 5min)

[2020-04-08 21:47] amihaiemil commented on #268
@balrok FYI: starting version 4.2.0 we support comments :)

[2020-04-08 21:47] #268 closed

[2020-04-09 15:14] amihaiemil commented on #298
@njdoyle turns out, it works even if we use the old ``source`` and ``target`` with ``1.8``. I'll leave it like that, since I want the CI built to run on both JDK 8 and JDK 11 (we're going to use 11, since it's the first LTS version after 8).

[2020-04-09 15:26] amihaiemil commented on #298
@rultor release it, tag is `4.3.0`

[2020-04-09 15:27] rultor commented on #298
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21724-611589935)

[2020-04-09 15:30] rultor commented on #298
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21724-611589935) (spent 2min)

[code]

[2020-04-09 15:55] amihaiemil commented on #298
@rultor release it, tag is `4.3.0`

[2020-04-09 15:56] rultor commented on #298
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21724-611605653)

[2020-04-09 15:59] rultor commented on #298
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21724-611605653) (spent 2min)

[code]

[2020-04-09 16:00] amihaiemil commented on #298
@rultor release it, tag is `4.3.0`

[2020-04-09 16:03] rultor commented on #298
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21724-611608352)

[2020-04-09 16:06] rultor commented on #298
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21724-611608352) (spent 2min)

[code]

[2020-04-09 16:16] amihaiemil commented on #293
@rultor deploy test

[2020-04-09 16:18] rultor commented on #293
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21726-611616327)

[2020-04-09 16:23] rultor commented on #293
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21726-611616327) (spent 5min)

[code]

[2020-04-09 16:29] amihaiemil commented on #293
@rultor deploy test2

[2020-04-09 16:30] rultor commented on #293
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21726-611622809)

[2020-04-09 16:35] rultor commented on #293
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21726-611622809) (spent 4min)

[code]

[2020-04-09 16:36] njdoyle commented on #298
Building with both JDK 8 and JDK 9+ will ensure that things stay Java 8 compatible. Personally I find building with older JDKs less necessary as long as the end desired compatibility remains the same, but your requirements may be different than mine.

If, in the future, you migrate to only building with JDK 9+, you will want to use the `<release>` option to ensure JCL compatibility. Right now you

[2020-04-09 16:38] amihaiemil commented on #293
@rultor deploy test3

[2020-04-09 16:42] rultor commented on #293
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21726-611626909)

[2020-04-09 16:45] rultor commented on #293
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21726-611626909) (spent 2min)

[code]

[2020-04-09 16:59] amihaiemil commented on #293
@rultor deploy test 4

[2020-04-09 17:03] rultor commented on #293
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21726-611637622)

[2020-04-09 17:03] amihaiemil commented on #298
@njdoyle

Yes, of course. It is being released by Rultor which only uses JDK 11. It's only Travis that runs the CI with both 8 and 11.

I'm almost ready for the release, just trying to figure out an error with rultor and javadocs...

[2020-04-09 17:06] rultor commented on #293
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21726-611637622) (took me 2min)

[2020-04-09 17:18] amihaiemil commented on #293
@rultor deploy test 5

[2020-04-09 17:21] rultor commented on #293
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21726-611647374)

[2020-04-09 17:24] rultor commented on #293
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21726-611647374) (took me 2min)

[2020-04-09 17:26] amihaiemil commented on #298
@rultor release it, tag is `4.3.0`

[2020-04-09 17:41] rultor commented on #298
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21724-611651628)

[2020-04-09 17:46] rultor commented on #298
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21724-611651628) (took me 4min)

[2020-04-09 18:04] amihaiemil commented on #298
@njdoyle finally, it worked. Version 4.3.0 is up! Thanks for your help again!

[2020-04-09 18:04] #298 closed

[2020-04-09 18:23] njdoyle commented on #298
Just tried out the new release. Works for me too. Thanks for doing this!

[2020-04-09 19:44] njdoyle opened #306 "Make commons-beanutils optional"
The way `pom.xml` is currently set up, commons-beanutils is a required dependency. It would be nice to have it marked with `<optional>true</optional>` so that it it isn't pulled in for projects that don't want to use it. Even better than the `<optional>` tag would be to split eo-yaml in to two Maven packages to formalize the optional nature of this feature as recommended here: https://maven.apache

[2020-04-09 19:55] amihaiemil commented on #306
@njdoyle Splitting into two modules is clearly not a priority now. I've also thought about that, but maybe we do it later -- we have a lot of functionality to cover still.

The ``commons-beanutils`` dependency is indeed used in a very small part of the library (to be honest, I thought of removing the functionality entirely). However, marking it as ``optional``, would essencially be the same as mar

[2020-04-09 19:57] njdoyle opened #307 "Deploy a source jar"
It would be nice if a source jar was deployed to Maven. This allows better IDE integration when jumping through code (it can automatically find the source) and getting Javadocs. Adding this to the build section of `pom.xml` should be sufficient.
[code]

[2020-04-09 20:01] njdoyle commented on #306
Marking the dependency as optional will cause `ClassNotFoundException` when using the `*Dump` classes, yes. The difference is that the intent is made more clear about the optionality. Right now, for people who don't use the functionality, they have to exclude the dependency specifically even though it isn't marked as optional which is semantically incorrect. The `ClassNotFoundException` case is so

[2020-04-09 20:04] amihaiemil commented on #307
@njdoyle But this is already happening. The source jar is also on Github packages.

[2020-04-09 20:06] amihaiemil commented on #306
@njdoyle actually, I was thinking of achieving the functionality of dumping without 3rd party libs. It shouldn't be so difficult. We'll see :D

[2020-04-09 20:09] amihaiemil commented on #307
@njdoyle I double checked in Sonatype's Nexus UI, it's there:

<img width="994" alt="Screenshot 2020-04-09 at 23 08 27" src="https://user-images.githubusercontent.com/6305156/78936381-1c435500-7ab7-11ea-8127-4ef63aa9a9c3.png">

[2020-04-09 20:09] njdoyle commented on #307
Sorry, this turned out to be an issue on my side. Sorry for the noise.

[2020-04-09 20:09] #307 closed

[2020-04-09 20:09] amihaiemil commented on #307
@njdoyle no problem :D

[2020-04-09 22:06] njdoyle opened #308 "com.amihaiemil.eoyaml.Yaml.createYamlInput(File) leaks FileInputStream"
`com.amihaiemil.eoyaml.Yaml.createYamlInput(File)` creates a new `FileInputStream`. This `FileInputStream` is never closed by eo-yaml and is never exposed to the caller so that they may close it themselves so that system resources can be cleaned up.

[2020-04-10 05:59] amihaiemil commented on #308
@njdoyle Are you sure? All the ``createYamlInput(...)`` methods are cascading down to [YamlInput.createYamlInput(InputStream)](https://github.com/decorators-squad/eo-yaml/blob/master/src/main/java/com/amihaiemil/eoyaml/Yaml.java#L109) which produces the ``YamlInput`` implementation.

Now, inside ``RtYamlInput``, when the content is read, the ``source`` InputStream wrapped inside a Reader and dealt

[2020-04-10 14:09] amihaiemil opened #309 "Release 4.3.1"
Changelog for the ``4.3.1`` release:

* #134  -- fixed bugs regarding empty/null YamlNodes + support for the ``null`` YAML Scalar.
* #144 -- fixed some escaping issues.
* #293 -- Introduced the ``YamlPrinter``. Create a printer via ``Yaml.createYamlPrinter(Writer)`` and print the YAML in any Writer you want.

[2020-04-10 16:25] njdoyle commented on #308
My apologies, I looked directly at that spot and somehow didn't process the try-with-resource. Quarantine has put my head in a fog, I need to refocus. Sorry again for the noise.

[2020-04-10 16:25] #308 closed

[2020-04-10 16:37] amihaiemil commented on #308
@njdoyle no problem. Open any Issues even if you're not 100% sure. It takes some time to get the whole thing :D

[2020-04-11 12:22] #293 closed

[2020-04-11 17:59] #134 closed

[2020-04-12 09:54] amihaiemil commented on #144
@aquishix @dnet A bit late, I know, but these escaping issues have finally been fixed. At the time when this ticket was filed, the architecture was not suitable for a decent solution...

It will be released soon with version ``4.3.1``.

[2020-04-12 09:58] #144 closed

[2020-04-12 09:59] amihaiemil commented on #309
@rultor let's release it, tag is `4.3.1`

[2020-04-12 10:03] rultor commented on #309
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21757-612590923)

[2020-04-12 10:08] rultor commented on #309
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21757-612590923) (took me 4min)

[2020-04-12 10:12] #309 closed

[2020-04-12 10:57] amihaiemil commented on #115
not applicable anymore

[2020-04-12 10:57] #115 closed

[2020-04-12 11:23] amihaiemil opened #315 "Flush The Printer's Writer"
The ``java.io.Writer`` provided to the ``YamlPrinter`` should be flushed and closed at the end of the printing.

[2020-04-12 12:08] amihaiemil commented on #315
@rultor release it, tag is `4.3.2`

[2020-04-12 12:13] rultor commented on #315
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21759-612604609)

[2020-04-12 12:17] rultor commented on #315
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21759-612604609) (spent 4min)

[code]

[2020-04-12 12:19] amihaiemil commented on #315
@rultor try to release again, tag is `4.3.2`

[2020-04-12 12:21] rultor commented on #315
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21759-612605884)

[2020-04-12 12:24] rultor commented on #315
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21759-612605884) (spent 2min)

[code]

[2020-04-12 12:34] amihaiemil commented on #315
Release performed succesfully after all.
* first trial failed because of some server error on Sonatype, yet the package was published on Github Packages succesfully
* second trial failed because, even though the deployment to Sonatype worked, it failed at the second step (deploy to Github Packages), because the package was already there from the first trial.

Updated coordinates and made the Githu

[2020-04-12 12:34] #315 closed

[2020-04-12 17:42] amihaiemil opened #317 "YamlMapping Default Methods"
The only differences between various YamlMapping implementations are in the methods ``keys()`` and ``value()``. Let's try to make all the others default on the interface.

[2020-04-12 19:10] amihaiemil opened #319 "Release 4.3.3"
Changelog for the `4.3.3` release:

* #317 - arch improvement
* #320 - arch improvement
* #306 - Dumping implemented with the Reflection API, without 3rd party libraries. Current implementations are deprecated and will be removed in one of the bigger future releases. When that happens, we'll also remove the dependency.

[2020-04-12 19:13] #317 closed

[2020-04-12 19:18] amihaiemil opened #320 "YamlSequence Default Methods"
It seems that all accessor methods besides ``values()`` could be identical accross all implementations of ``YamlSequence``

[2020-04-12 20:32] #320 closed

[2020-04-14 15:23] amihaiemil commented on #306
@njdoyle In #322 we implemented dumping using vanilla Reflection API, no dependencies anymore. However, we're going to deprecate and keep the current implementations for a few more releases.

Then, we'll completely remove what we have now and also get rid of the dependency. Closing this now, thanks!

[2020-04-14 15:23] #306 closed

[2020-04-14 15:25] amihaiemil opened #323 "Implement YAML-to-Bean (YAML "Loading")"
Let's try to implement YAML-to-Bean functionality. No 3rd party libraries please, just vanilla Reflection API.

Don't forget about PDD.

[2020-04-14 15:26] 0pdd commented on #30
@amihaiemil the only puzzle [#138](https://github.com/decorators-squad/eo-yaml/issues/138) is solved here.

[2020-04-14 15:28] amihaiemil commented on #35
not applicable anymore

[2020-04-14 15:28] #35 closed

[2020-04-14 15:29] amihaiemil commented on #319
@rultor let's release it, tag is `4.3.3`

[2020-04-14 15:30] rultor commented on #319
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21776-613511035)

[2020-04-14 15:38] rultor commented on #319
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21776-613511035) (took me 7min)

[2020-04-14 16:56] #319 closed

[2020-04-14 17:55] amihaiemil opened #324 "Support for Aliases and Anchors"
Let's add support for them.

[2020-04-15 09:19] olenagerasimova opened #325 "Sequences reading"
I cannot understand how EO yaml works with embedded sequences. Let's say I have the following file with permissions for users settings:
[code]
I need to read and check whether user can perform given action. Any hints?

[2020-04-15 10:00] amihaiemil commented on #325
@olenagerasimova First of all, it's safer to make sure that the YAML is properly indented (by 2 spaces). Also, at the moment nodes in a sequence should start at the next line (it's a bug, we'll fix it later today). So:

[code]

Read the above as follows:

[code]

Does this answer your question? :D

[2020-04-15 10:14] amihaiemil commented on #325
@olenagerasimova Actually in your example, the fist Sequence doesn't really make sense. You could simply have:

[code]
Then reading would be easier:

[code]

[2020-04-15 11:14] olenagerasimova commented on #325
@amihaiemil thank you for the explanation, indentions in my file are fine (copy-paste problem here, permissions are not on the first level), with proper formatting everything works. And we also consider your idea to get rid of the first sequence)

[2020-04-23 17:32] amihaiemil opened #326 "Support for Flow Sequences"
We should add support for flow sequences (marked with ``[]``)

[2020-04-24 11:29] ANadrowski opened #327 "Problem with Windows Line Endings"
Hi @amihaiemil

In the version 4.3.3 the return of the following code:

[code]

will be:

`: 1.2`

and it should be:

`spec : 1.2`

Is there something wrong with this release? Or am I missing something here?

Thank you

[2020-04-24 12:08] amihaiemil commented on #327
@ANadrowski Well, it's clearly a bug. I wonder how it got in. We have dozens of tests only for printing...

I will have a look.

[2020-04-24 12:09] amihaiemil commented on #327
@ANadrowski If you have a unit test, it would also help to make a PR with it :D

[2020-04-24 15:38] amihaiemil commented on #327
@ANadrowski I just submitted a [unit test](https://github.com/decorators-squad/eo-yaml/pull/328/files#diff-e9363151d048a1535cf1e8324d8daa61R412) with PR #328.

The test case is exactly your example and it passes with no problems. So the bug could not be reproduced. Are you sure that ``: 1.2`` is the result of your print?

[2020-04-24 16:18] ANadrowski commented on #327
That is interesting..

Please take a look:

![yaml](https://user-images.githubusercontent.com/18332617/80233608-1d36c380-862d-11ea-9f15-e42720675bdb.png)

When do you execute the tests, how many tests are ok? Here are 327 ok and 46 that fail..  what about you?

![tests](https://user-images.githubusercontent.com/18332617/80234013-cc739a80-862d-11ea-8c5a-a42ea1c071f6.png)

Thank you

[2020-04-24 16:23] amihaiemil commented on #327
@ANadrowski I am always running all the tests with ``mvn clean install -Pcheckstyle``. I work on MacOS and Travis CI is Ubuntu.

Could it be some strange bug because of Windows...? Although I can't think of any reason for it.

[2020-04-24 16:28] ANadrowski commented on #327
It is something with the end line **Expected: "spec: 1.2" but was "spec\r: 1.2\r"**

![bug](https://user-images.githubusercontent.com/18332617/80234869-3d678200-862f-11ea-998c-3cd88f4b50f2.png)

[2020-04-24 16:29] amihaiemil commented on #327
@ANadrowski I see. Line ending problems apparently... let me take the opportunity and setup a CI pipeline with Windows.

[2020-04-24 17:39] amihaiemil commented on #327
@ANadrowski Have you tried debugging to see what the problem is exactly? :D
I cannot do much because I don't have a Windows machine...

[2020-04-24 17:49] ANadrowski commented on #327
@amihaiemil I am going to try to debug soon :)

[2020-04-24 17:56] amihaiemil commented on #327
@ANadrowski This is also strange because the code snippet you submitted has nothing to do with line endings...

[2020-04-24 19:37] ANadrowski commented on #327
@amihaiemil the IDE is puting a \r caracter after each key, I think that is a plugin

[2020-04-24 19:39] ANadrowski commented on #327
@amihaiemil I think that the plugin I am using in the Netbeans is putting a wrong \r in the end of each key. I will verify soon.

[2020-04-24 19:52] ANadrowski commented on #327
@amihaiemil  Just tested with Eclipse IDE and occurs the same:

![eclipse](https://user-images.githubusercontent.com/18332617/80251354-db694580-864b-11ea-833c-976d235e0cb3.png)

[2020-04-25 11:00] amihaiemil commented on #327
@ANadrowski Can you please try to run the build (``mvn clean install -Pcheckstyle``) from the Command Line?

This way, we will know if it's an IDE problem or an OS problem. If the command-line build passes, it means your IDE has some plugins or otherwise alters the YAML when it shouldn't.

[2020-04-26 00:09] ANadrowski commented on #327
@amihaiemil next week I will have a PC with Windows and I will test it :)

[2020-04-27 10:55] ANadrowski commented on #327
@amihaiemil the same problem using the command `mvn clean install -Pcheckstyle`:

![teste](https://user-images.githubusercontent.com/18332617/80364271-01fdcb00-885c-11ea-874f-a1011cc263a4.png)

I am going to try to find a solution.

[2020-04-27 13:36] ANadrowski commented on #327
@amihaiemil

Looks like that it is something with the method **indent** of **RtYamlMapping.java**, because to pass the prettyPrintsOnePair I have removed the lines `printed.append(System.lineSeparator());` and `printed.delete(printed.length()-1, printed.length()):`

![problem](https://user-images.githubusercontent.com/18332617/80378175-a559da80-8872-11ea-8a09-36d48b8a2be0.png)

Probably there are

[2020-04-27 14:03] amihaiemil commented on #327
@ANadrowski Are you sure that you're repository is synchronized correctly? Method ``RtYamlMapping.indent(...)`` doesn't exist anymore. All the printing logic has been pulled out in [RtYamlPrinter](https://github.com/decorators-squad/eo-yaml/blob/master/src/main/java/com/amihaiemil/eoyaml/RtYamlPrinter.java) some time ago.

[2020-04-27 14:22] ANadrowski commented on #327
@amihaiemil
Sorry I am wrong, the method `indent` is inside the `RtYamlPrinter.java` class as you said, not `RtYamlMapping.java`.

The problem is caused by: `System.lineSeparator()` in Unix systems returns `“\n”` and Windows returns` “\r\n”`. Not sure if it is elegant to change all `System.lineSeparator()` to` “\n”`. Any idea?

[2020-04-27 16:17] ANadrowski commented on #327
@amihaiemil just made a PR. Feel free to refuse it.

[2020-04-28 11:49] amihaiemil commented on #327
@ANadrowski I think I found the problem:

![image](https://user-images.githubusercontent.com/6305156/80483821-6190cf00-895f-11ea-9e66-fa5d9786ecce.png)

I think that line is problematic because it removes only the last character from the buffer (the last, useless newline). But, if we are on Windows, the newline consists of 2 characters (``\r\n``). So, it removes only the last one and ``\r`` remain

[2020-04-28 11:53] ANadrowski commented on #327
@amihaiemil yes :)

[2020-04-29 18:34] amihaiemil opened #331 "Relese 4.3.4"
Hotfix release containing the fix for

* #327 - Trailing ``\r`` on Windows

[2020-04-29 18:38] amihaiemil commented on #327
@ANadrowski I think I fixed the problem with PR #330. Can you please run a build on Windows and verify? Everything should be green now :)

[2020-04-29 18:58] ANadrowski commented on #327
@amihaiemil unfortunately there are tests that still fail:

![29](https://user-images.githubusercontent.com/18332617/80635155-e5b38700-8a31-11ea-952c-69d5b5fe1bdb.png)

Thanks.

[2020-04-29 19:02] ANadrowski commented on #327
e.g. Tests run: 22, Failures: 2, Errors: 0, Skipped: 0, Time elapsed: 0.024 sec <<< FAILURE!
prettyPrintsComplexYaml(com.amihaiemil.eoyaml.RtYamlMappingTest)  Time elapsed: 0.001 sec  <<< FAILURE!
java.lang.AssertionError:

[code]

[2020-04-29 19:09] amihaiemil commented on #327
@ANadrowski Hmm... I'm pretty sure those tests are failing because the files under ``src/test/resources`` are being cloned (checker out) with Linux line endings. This can probably be solved from the repo's ``.gitattributes`` file, it should clone the files with the operating system's proper endings.

But the trailing ``\r`` problem is solved, so I will release it. These failed tests are just a dev

[2020-04-29 19:10] amihaiemil commented on #331
@rultor release it, tag is `4.3.4`

[2020-04-29 19:11] rultor commented on #331
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21929-621406576)

[2020-04-29 19:14] amihaiemil commented on #327
@ANadrowski Thank you for your help! Tomorrow I'll look into the ``.gitattributes`` file, see what I can fix.

[2020-04-29 19:16] amihaiemil commented on #331
@ANadrowski I just released ``4.3.4``, now the user's problem should be fixed :D

[2020-04-29 19:16] rultor commented on #331
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21929-621406576) (took me 5min)

[2020-04-29 19:17] ANadrowski commented on #327
@amihaiemil ok, thanks :D

[2020-04-29 19:18] amihaiemil commented on #327
@ANadrowski I think I fixed also the .gitattributes here: https://github.com/decorators-squad/eo-yaml/commit/f0fb88fce212c0c08bb5081bfb575a9051b8707d

But you will have to delete and re-clone the repository, I think.

[2020-04-29 19:19] #331 closed

[2020-04-29 19:27] ANadrowski commented on #327
@amihaiemil it looks like that still is not enough (still 12 tests fail):

e.g.

[code]

In the next few days I will try to understand why it happens..

thanks.

[2020-04-29 19:56] ANadrowski commented on #327
@amihaiemil  There are still some tests that uses System.lineSeparator() so the tests fails using Windows. This is not a big problem, but maybe in the future we can work on this issue.

thanks again.

[2020-05-04 14:21] amihaiemil commented on #327
``ReadLiteralBlockScalar.value()`` has the same problem of bad trimming in the case of CRLF.

[2020-05-04 16:05] ANadrowski commented on #327
hey @amihaiemil all tests are green now, thank you :D

[2020-05-04 16:34] amihaiemil commented on #327
@ANadrowski sweet! I'll release 4.3.5 now :)

[2020-05-04 16:34] #327 closed

[2020-05-04 16:34] amihaiemil opened #333 "Release 4.3.5"
Small hotfix containing a bugfix for Block Scalar line endings on Windows (final fix for #327).

[2020-05-04 16:35] amihaiemil commented on #333
@rultor release it, tag is `4.3.5`

[2020-05-04 16:36] rultor commented on #333
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21962-623571183)

[2020-05-04 16:41] rultor commented on #333
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21962-623571183) (took me 5min)

[2020-05-04 16:42] #333 closed

[2020-05-11 17:33] ANadrowski commented on #238
Hi @amihaiemil
I’d like to work on this issue but before start to work on it could you answer me some questions?

1)	What should be the name of the new Maven profile?
2)	Is it ok to put all the yaml files inside the folder `src/test/resources`?
3)	It is expected to execute only the spec example tests when I run the new profile using `mvn clean install -PnewProfileName`, but if I run `mvn clean ins

[2020-05-12 11:25] amihaiemil commented on #238
Hi @ANadrowski

These spec tests will be part of the Integration Tests profile and should be run by the ``maven-surefire-plugin`` separately from the others (we will not have to run these tests every time, maybe only on release).

To configure the IT plugin, just copy-paste [this profile](https://github.com/amihaiemil/docker-java-api/blob/master/pom.xml#L182) into pom.xml, bellow the existing ones

[2020-05-12 12:35] ANadrowski commented on #238
Hi @amihaiemil

Thanks for the explanation, it makes sense :D

In my initial tests yesterday I created a test class inside the package `com.amihaiemil.eoyaml.spec`, but in the first test I wrote I tried to use the class `RtYamlInput` to read a spec example but the problem was that this class uses _default access modifier_ and then it is not possible to use it outside of the `com.amihaiemil.eoyaml`

[2020-05-12 12:38] amihaiemil commented on #238
@ANadrowski Yes, that class is ``default access`` intentionally.
Inside these tests, you should not use ``RtYamlInput`` or other classes of the library at all. Just work with the public ``Yaml`` class -- this is the entry point in the library and the only public class.

These tests should look exactly as if you were a user of this library using it in your software.

[2020-05-12 12:39] amihaiemil commented on #238
@ANadrowski Here is how to read a file using the public API: https://github.com/decorators-squad/eo-yaml/wiki/Block-Style-YAML#reading

[2020-05-12 12:41] ANadrowski commented on #238
@amihaiemil thank you.

[2020-05-12 13:27] ANadrowski commented on #238
@amihaiemil In order to have a PR acceptable let me ask you: is it ok have a class called SpecExampleTestsITCase.java with all the spec example tests in there?

[2020-05-12 13:47] amihaiemil commented on #238
@ANadrowski yes, I think one class is enough as there are not so many examples in the spec. But give it a simpler name: ``SpecExamplesITCase``.:)

[2020-05-12 14:57] ANadrowski commented on #238
@amihaiemil I just sent a PR, feel free to refuse.
In the next few days I will insert more tests.
Thanks.

[2020-05-13 17:11] #238 closed

[2020-05-13 17:11] 0pdd opened #336 "SpecExamplesITCase.java:45-49: Add more tests to cover..."
The puzzle `238-cdc69ab7` from #238 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/12962f9c6da2de82d697990085e22e4272212141/src/test/java/com/amihaiemil/eoyaml/spec/SpecExamplesITCase.java#L45-L49

The puzzle was created by @ANadrowski on 13-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2020-05-13 17:11] 0pdd commented on #336
@amihaiemil please pay attention to this new issue.

[2020-05-13 17:11] 0pdd commented on #238
@amihaiemil the puzzle [#336](https://github.com/decorators-squad/eo-yaml/issues/336) is still not solved.

[2020-05-13 17:18] ANadrowski commented on #238
@amihaiemil thank you.

[2020-05-15 12:41] ANadrowski commented on #336
Hi @amihaiemil I'd like to add more 3 spec example tests. Could you assign it to me?

[2020-05-15 13:14] ANadrowski commented on #336
@amihaiemil just sent a PR, please take a look :)

[2020-05-15 19:00] #336 closed

[2020-05-15 19:00] 0pdd commented on #336
The puzzle `238-cdc69ab7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-05-15 19:00] 0pdd opened #338 "SpecExamplesITCase.java:45-49: Add more tests to cover..."
The puzzle `336-cdc69ab7` from #336 has to be resolved:

https://github.com/decorators-squad/eo-yaml/blob/eb548f336de37d722b3b1b3e8879f8a2b8ad9974/src/test/java/com/amihaiemil/eoyaml/spec/SpecExamplesITCase.java#L45-L49

The puzzle was created by @ANadrowski on 15-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2020-05-15 19:00] 0pdd commented on #338
@amihaiemil please pay attention to this new issue.

[2020-05-15 19:00] 0pdd commented on #238
@amihaiemil the puzzle [#338](https://github.com/decorators-squad/eo-yaml/issues/338) is still not solved; solved: [#336](https://github.com/decorators-squad/eo-yaml/issues/336).

[2020-05-15 19:00] 0pdd commented on #336
@0pdd the puzzle [#338](https://github.com/decorators-squad/eo-yaml/issues/338) is still not solved.

[2020-05-15 19:14] ANadrowski opened #339 "Comment in a Stream of Mapping"
Hi,

Is the following Yaml valid?

[code]

When I write it:

[code]

The comment does not appear:

[code]

Am I writing this Yaml wrong or maybe it is a little bug?

Thanks.

[2020-05-15 19:50] amihaiemil commented on #339
@ANadrowski it is a bug, yes. I remember comments on streams were not 100% implemented :D

[2020-05-15 20:00] ANadrowski commented on #339
@amihaiemil Could you assign it to me?

[2020-05-15 20:14] amihaiemil commented on #339
@ANadrowski This might be a bit difficult, don't spend too much time on it. Better spend some time to understand how comments are read in sequences and mapping, then we'll continue in another ticket.

[2020-05-15 20:33] ANadrowski commented on #339
@amihaiemil Good. I will take a look on it next week :)

[2020-05-24 00:10] ANadrowski commented on #339
@amihaiemil as you said the solution is a bit difficult, but I believe that a good start is to implement the method:

[code]

inside of the class ReadYamlStream.java, right?

[2020-05-24 06:01] amihaiemil commented on #339
@ANadrowski yes, I think YamlStream already has that method on the interface, but it has a default implementation which returns null, if I remember well :D

[2020-05-24 07:27] amihaiemil commented on #339
@ANadrowski you can leave this task, if you want, and look for bounties in self-xdsd.

[2020-05-24 19:27] ANadrowski commented on #339
@amihaiemil it is ok, I will leave this issue, please unassign it to me. Thanks.

[2020-05-28 14:18] Sammers21 opened #340 "YamlIndentationException: Indentation of line 4 is greater than the one of line 3"
Some of the YAML files, which this project is not able to parse.

[code]
[code]

Stack trace:
[code]

Note: some of the [YAML validators](https://codebeautify.org/yaml-validator) claims that those 2 files are actually valid ones

[2020-05-28 14:20] Sammers21 commented on #340
@amihaiemil, Is there any option to remove the `validation` part or make it less strict?

[2020-05-28 14:27] amihaiemil commented on #340
@Sammers21 No, unfortunately validation cannot be disabled or removed. The YAML format has some strict rules which have to be followed and indentation is one of them -- that's why we try to validate that.

There is a known bug in the eo-yaml, and that is sequences or mappings within a sequence have to start at the next line with reference to the ``-``.

The following are both valid YAML Sequences:

[2020-05-28 14:31] amihaiemil commented on #340
@Sammers21 Here is your first YAML, which should work now (I fixed it):

[code]

and the second one:

[code]

[2020-05-28 14:31] Sammers21 commented on #340
@amihaiemil, I'm not writing those YAML files and that is why I could not correct them

[2020-05-28 14:32] amihaiemil commented on #340
@Sammers21 well, even if the bug in eo-yaml was not there, they are still not correct because of the ``keywords`` and ``sources`` elements indentation...

I cannot make any changes about that because YAML indentation is really relevant and it has to be correct.

[2020-05-28 14:34] amihaiemil commented on #340
@Sammers21 And particularly, in eo-yaml, indentation is used in the reading logic. So even if I take out the validation, it will not work because eo-yaml will not read the elements correctly.

[2020-05-28 14:35] Sammers21 commented on #340
@amihaiemil, why all the Yaml validators are saying the opposite then? And can you refer to a specific paragraph on a spec?

[2020-05-28 14:36] Sammers21 commented on #340
@amihaiemil, also, is there any way to `fix` the formatting without any manual manipulations?

[2020-05-28 14:39] amihaiemil commented on #340
@Sammers21 See [here](https://yaml.org/spec/1.2/spec.html#id2777534). The Specification defines that structure is determined by indentation in Block YAML.

I don't know, but you should know that people generally avoid YAML particularly because the Specification is too complex and there are very few YAML parsers that do not have any problems.

No, eo-yaml just *Reads* the YAML. If inconsistencies a

[2020-05-28 15:10] Sammers21 commented on #340
@amihaiemil, as a note: snakeyaml works perfectly fine with those files.

[2020-05-28 15:11] amihaiemil commented on #340
@Sammers21 snakeyaml is much older and robust than eo-yaml :)

[2020-05-28 15:11] amihaiemil commented on #340
@Sammers21 I'm closing this since there's nothing I can do about it.

[2020-06-03 12:07] g4s8 opened #341 "YamlMapping keys are not ordered"
This is the javadoc of method `keys` of `YamlMapping`:
[code]
It claims to return ordered set of keys, but `Set<>` is not ordered data structure, see javadoc:

or `iterator()` javadoc:
[code]

So I'd change `keys()` method to return `List<>` which guarantee the order of elements.

[2020-06-03 12:17] g4s8 opened #342 "Unable to check the type of node"
I have a Yaml document with key, which can be either Yaml mapping with some configuration fields or a string as alias to some predefined configuration:
[code]
or
[code]

Since Yaml language is dynamic, I'm expecting to read different node types for some key, but EoYaml doesn't support node type checks. So I need to use workarounds like:
[code]

It would be great if I could check the type of node a

[2020-06-03 12:20] portlek opened #343 "Could we decrease size of the library?"
The size is 1mb~ now. I remove the deprecated classes and their dependency and the size is 100kb~ now.

When the bean dependency and deprecated classes will be removed?

[2020-06-03 12:24] g4s8 opened #344 "Quoted string is not parsed correctly"
Yaml allow using strings as simple text as a value and as a quoted test as a value:
[code]
and
[code]
Are effectively same Yaml documents.

But  EoYaml doesn't support quoted strings:
[code]
This test fails with:

[2020-06-03 12:28] portlek opened #345 "Is It possible to add different Object type into ReflectedYamlDump?"
I'm using a library that allows me to manage yaml and json files and in that case;
[code]
"test-section" is a `ConfigurationSection` in my library and when I use dump() method. and It gives me `StackOverFlow` because It must return Map or Scalar stuffs. And I resolve that problem with editing the ReflectYamlDump class like that;
[code]
It's really temporary fix. And I want to know that how we can

[2020-06-03 12:35] amihaiemil commented on #341
@g4s8 The JavaDoc on method ``keys()`` is outdated. Initially, ``YamlMapping`` was ordered by keys, but many users complained about this behaviour, so I removed the order.

[2020-06-03 12:37] amihaiemil commented on #342
@g4s8 You have the ``YamlNode :: YamlMapping.value(...)`` method, which returns a YamlNode. Then you can use ``instanceof`` to check the type of the node. Maybe this helps?

[2020-06-03 12:38] amihaiemil commented on #343
@portlek I'll put it on the list for the next release.

[2020-06-03 12:39] g4s8 commented on #342
@amihaiemil I can't do it actually, since `Scalar` implementation of `Node` (like string) is package private and can be accessed only from `com.amihaiemil.eoyaml` package.

[2020-06-03 12:40] amihaiemil commented on #344
This is strange... I remember I made a release at some point, which was dedicated exactly to escaping/unescaping issues. I'll have a look...

Did you try the latest release?

[2020-06-03 12:41] amihaiemil commented on #342
@g4s8 but the ``Scalar`` is a public interface, you should be able to do ``if node instanceof Scalar``, right?

[2020-06-03 12:50] amihaiemil commented on #345
@portlek I'm not sure I understand the question.

I think you want to use ``"test-scalar-type"`` as an alias/reference throughout your mapping? eo-yaml does not support that at the moment

[2020-06-03 12:50] amihaiemil commented on #345
@portlek and you shouldn't have access to the class ``ReflectedYamlDump`` -- it is package protected :D

[2020-06-03 12:51] amihaiemil commented on #345
@portlek Can you please provide a unit test/code snippet example to show me when/why you get ``Stackoverflow``? Maybe it will be easier to understand.

[2020-06-03 12:52] portlek commented on #345
I just want to add a custom object like ReflectedYamlScalar, ReflectedYamlMapping, ReflectedYamlStream etc. like RelectedYamlConfigurationSection.

[2020-06-03 12:52] portlek commented on #345
Not add actually, just registering.

[2020-06-03 12:53] amihaiemil commented on #345
@portlek I think I understand now. It seems like an interesting feature, I'll have a look :)

[2020-06-03 12:55] portlek commented on #345
https://github.com/portlek/configs/blob/master/core/src/main/java/io/github/portlek/configs/files/yaml/YamlConfiguration.java#L60
The problem is here.
`this.getValues(false)` this method is returning the content of the yaml file. And It contains Scalar objects, Map and ConfigurationSection. and if the configuration section somes the library is stucking on the parseNode/parseMapping method.

[2020-06-03 13:03] g4s8 commented on #344
@amihaiemil yes, sorry, I used previous version

[2020-06-03 13:03] #344 closed

[2020-06-03 19:07] portlek opened #346 "Could we add more method for Scalar?"
In YamlMapping there are a lot [convenience type casting methods.](https://github.com/decorators-squad/eo-yaml/wiki/Convenience-Type-Casting-Methods)
Can we add these methods for Scalar? like
asString(), asFloatNumber(), asDate(), asXXX() etc.
These methods should return optional and we can understand is the node is string or number or date etc.

[2020-06-03 19:25] portlek commented on #346
I did some example in Scalar.class*
[code]

[2020-06-04 07:07] amihaiemil commented on #346
@portlek These methods are only useful in the occasion when a YAML consists only of a single Scalar. For instance:

[code]
The above is a YAML which has a single scalar in it. These cases are pretty rare.

And for all other cases (mappings or sequences), you have the convenience methods at mapping or sequence level, so you can cast the scalar directly when reading it.

That said, I don't think it'

[2020-06-04 07:07] #346 closed

[2020-06-04 07:09] amihaiemil opened #349 "Release 5.0.0"
Let's release 5.0.0

Changelog:

- #348
- #341 (cosmetic/javadoc)
- #342
- #343 -- breaks backawards compatibility since we remove deprecated classes and dependencies.

[2020-06-04 08:09] g4s8 commented on #342
@amihaiemil yes, I used old version with package private `Scalar`, now I can check it with `instanceof`, but it looks not really reliable: e.g. I may decorate `Node` interface somehow, then `instanceof` won't work. I think it would be better to have a method like `type()` to check the type of node, WDYT?

[2020-06-04 19:21] amihaiemil commented on #342
@g4s8 OK, let's do it. I'll take care of these issues in the weekend I think. Then we'll release 5.0.0

[2020-06-05 13:33] #343 closed

[2020-06-07 00:16] portlek commented on #345
I solved the problem with giving the Map into the library before I converted my custom Map into converted Map.
[code]
so the feature it not necessary because we can convert our Maps into a normal map that can read by the library.

[2020-06-07 00:38] portlek opened #351 "Parsing error about StringBuilder"
[code]
When I use '\n' in strings it becomes like;
[code]
and image for highlights;
![image](https://user-images.githubusercontent.com/12835420/83957323-08765e00-a870-11ea-8abd-f9dece609450.png)
which is awesome.
Writing into the file is really good but for reading there is a bug about that;
[code]

[2020-06-07 00:39] portlek commented on #351
probably folded or literal scalars will solve my problem but are there any solution for that situation?

[2020-06-07 00:52] portlek commented on #351
![image](https://user-images.githubusercontent.com/12835420/83957636-3bb9ec80-a872-11ea-81c3-70cddc7c6714.png)
![image](https://user-images.githubusercontent.com/12835420/83957650-45dbeb00-a872-11ea-9c80-3cec656f295c.png)
some debugs.

[2020-06-07 08:56] amihaiemil commented on #345
ok then, closing this :)

[2020-06-07 08:56] #345 closed

[2020-06-07 08:57] amihaiemil commented on #351
@portlek The YAML resulted from your StringBuilder is not correct. Try using folded scalar instead, please

[2020-06-07 10:31] portlek commented on #351
Alright I solved the problem. the dumb method is not for me xd I did my own dumb method .-.

[2020-06-07 10:31] portlek commented on #351
[code]

[2020-06-07 10:31] #351 closed

[2020-06-10 10:10] #342 closed

[2020-06-11 07:19] chriamue commented on #325
Hi @amihaiemil, is the bug in reading 'not properly indented arrays' fixed in next version?
js-yaml creates yaml files indented like:
[code]

Related issue: https://github.com/nodeca/js-yaml/issues/352#issuecomment-642448859

[2020-06-11 07:26] amihaiemil commented on #325
Hi @chriamue

No, unfortunately not. It's a bit more complicated to fix than I initially thought. I'll invest more time on it these days.

But, as I said above, in this example, it doesn't really make sense to have the first sequence. This should be enough:

[code]
and it will work without problems :D